<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl" style="width:1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {# loader #}
                {#{% include 'partials/_loaderMini.html.twig' %}#}
                <h5 class="modal-title" id="modalLabel"></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body-header"></div>
                <div class="modal-body-content"></div>
            </div>
        </div>
    </div>
</div>