<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">

        <div class="copyright">
            {% set creationYear = '2020' %}
            {% set currentYear = "now"|date("Y") %}
            {% set period = creationYear is same as(currentYear) ? creationYear : creationYear~' - '~currentYear %}
                <p class="text-right">
                    Copyright &copy;{{ period }}, Gwénaäelle Brassart - {{ appName }}</a> -
                    <a href="{{ path('privacy') }}">Politique de confidentialité</a> -
                    <a href="{{ path('legalterms') }}">Mentions légales</a>

                </p>
        </div>
    </div>
</footer>