{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

{% for locale in locales %}
    {% if locale != app.request.locale %}
        {% set version = '' %}
        {% if locale == 'en' %}
            {% set version = 'admin.navbar.language_version_en'|trans({},'admin') %}
        {% elseif locale == 'fr' %}
            {% set version = 'admin.navbar.language_version_fr'|trans({},'admin')  %}
        {% endif %}

        <a class="switch-language" href="{{ path(route, params|merge({ _locale: locale })) }}"
           title="{{ version }}">
            <i class="fa fa-arrow-circle-o-right"></i> {{ version }}
        </a>
    {% endif %}
{% endfor %}
