<nav class="navbar navbar-default navbar-small navbar-transparent navbar-fixed-top
{{ app.request.get('_route') is not same as('home') ? 'navbar-page' }}" color-on-scroll="70">

    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{{ path('home') }}" class="navbar-brand">

                {% if home is defined and home is same as(true) %}
                    <img width="170px" src="/assets/img/logo/logo-vecto_Plan de travail 1.png" alt="app logo">
                    {{ appName }}
                {% else %}
                    <span class="d-inline">
                        <img width="80px" style="margin-top: -8px;"
                             src="/assets/img/logo/logo-vecto_Plan de travail 1.png" alt="app logo">
                        {{ appName }}
                    </span>
                {% endif %}
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ route starts with 'products' ? 'active' }}">
                    <a href="{{ path('products') }}"><i
                                class="fa fa-graduation-cap"></i> {{ 'platform.nav.menu.link_1'|trans }}</a>
                </li>
                <li class="{{ route starts with 'contact' ? 'active' }}">
                    <a href="{{ path('contact') }}"><i
                                class="fa fa-map-marker"></i> {{ 'platform.nav.menu.link_2'|trans }}</a>
                </li>
                <li>
                    {% if app.user %}
                <li class="dropdown">
                    <a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-lock"></i> {{ app.user.email }}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-danger security-user-dropdown">

                        <a href="{{ path('account') }}">
                            <i class="fas fa-user-lock"
                               style="width: 20px;"></i> {{ 'platform.nav.menu.security.profile_link'|trans }}
                            <small>({{ app.user.firstname }})</small>
                            <br>

                            {# ACCES DASHBOARD SUPER ADMIN MULTI ORGANIZATION #}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a target="_blank" href="{{ path('my_admin') }}">
                                    <i class="fas fa-lock"
                                       style="width: 20px;"></i> {{ 'platform.nav.menu.security.superadmin_link'|trans }}
                                </a> <br>
                            {% endif %}

                            {# ACCES DASHBOARD ADMIN MONO ORGANIZATION #}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a target="_blank" href="{{ path('my_access') }}">
                                    <i class="fas fa-lock"
                                       style="width: 20px;"></i> {{ 'platform.nav.menu.security.admin_link'|trans }}
                                </a> <br>
                            {% endif %}

                            {% if is_granted('ROLE_PERSON') %}
                                <a href="{{ path('events', {'token':app.user.agendaToken}) }}">
                                    <i class="fas fa-clock"
                                       style="width: 20px;"></i> Mon agenda
                                </a> <br>
                            {% endif %}

                            <a href="{{ path('app_logout') }}">
                                <i class="fas fa-sign-out-alt"
                                   style="width: 20px;"></i> {{ 'platform.nav.menu.security.deconnexion_link'|trans }}
                            </a>
                    </ul>
                </li>

                {% else %}
                <li>
                    <a href="{{ path('app_login') }}"><i
                                class="fas fa-sign-in-alt"></i> {{ 'platform.nav.menu.security.connexion_link'|trans }}
                    </a> |
                    <a
                            href="{{ path('register') }}"><i
                                class="fas fa-sign-in-alt"></i> {{ 'platform.nav.menu.security.register_link'|trans }}
                    </a>
                    {% endif %}
                </li>
                {# affichage du panier si $isActiveEcommerce à true #}
                {% if organization.isActiveEcommerce %}
                <li>
                    <a href="{{ path('cart') }}" class="popup-ajax" id="popover-cart" data-trigger="click"
                       data-locale="{{ app.request.locale }}">
                        <i class="fa fa-shopping-cart cart-icon"
                           title="{{ 'platform.nav.menu.cart.title'|trans }}"></i>
                        <span class="badge badge-info">{{ app.session.get('cart') is defined ? app.session.get('cart')|length: '' }}</span>
                    </a>
                </li>
                {% endif %}

                {# multilingue #}
                {% if organization.isMultilingual %}
                <li>
                    {% include '_partials/_locale_switcher.html.twig' %}
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
