{#{%  set route = app.request.get('_route')  %}#}
{#<nav class="navbar navbar-default navbar-small navbar-transparent navbar-fixed-top#}
{#{{ app.request.get('_route') is not same as('home') ? 'navbar-page' }}" color-on-scroll="150">#}

    {#<!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->#}
    {#<div class="container">#}
        {#<div class="navbar-header">#}
            {#<button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<span class="icon-bar bar1"></span>#}
                {#<span class="icon-bar bar2"></span>#}
                {#<span class="icon-bar bar3"></span>#}
            {#</button>#}
            {#<a href="{{ path('home') }}" class="navbar-brand">{{ appName }}</a>#}
        {#</div>#}
        {#<div class="collapse navbar-collapse">#}

            {#<ul class="nav navbar-nav navbar-right {{ typePage is defined and typePage is same as('home')#}
            {#? 'navbar-transparent':'' }}">#}
                {#<li class="{{ route starts with 'products' ? 'active' }}">#}
                    {#<a href="{{ path('products') }}"><i#}
                                {#class="fa fa-graduation-cap"></i> {{ 'platform.nav.menu.link_1'|trans }}</a>#}
                {#</li>#}
                {#<li class="{{ route starts with 'contact' ? 'active' }}">#}
                    {#<a href="{{ path('contact') }}"><i#}
                                {#class="fa fa-map-marker"></i> {{ 'platform.nav.menu.link_2'|trans }}</a>#}
                {#</li>#}
                {#<li class="dropdown">#}
                    {#<a href="#gaia" class="dropdown-toggle" data-toggle="dropdown">#}
                        {#<i class="fa fa-share-alt"></i> Réseaux sociaux#}
                    {#</a>#}
                    {#<ul class="dropdown-menu dropdown-danger">#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-facebook-square"></i> Facebook</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-twitter"></i> Twitter</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><i class="fa fa-instagram"></i> Instagram</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li>#}
                    {#{% if app.user %}#}
                        {#<a href="{{ path('account') }}"><i#}
                                    {#class="fa fa-user"></i> {{ 'platform.nav.menu.security.profile_link'|trans }}#}
                            {#<small>({{ app.user.firstname }})</small>#}
                        {#</a> |#}
                        {#<a href="{{ path('app_logout') }}"><i#}
                                    {#class="fa fa-sign-out"></i> {{ 'platform.nav.menu.security.deconnexion_link'|trans }}#}
                        {#</a>#}
                    {#{% else %}#}
                        {#<a href="{{ path('app_login') }}">{{ 'platform.nav.menu.security.connexion_link'|trans }}</a> |#}
                        {#<a#}
                                {#href="{{ path('register') }}">{{ 'platform.nav.menu.security.register_link'|trans }}</a>#}
                    {#{% endif %}#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#" id="popover-cart" data-trigger="click" data-locale="{{ app.request.locale }}">#}
                        {#<img src="{{ asset('assets/img/shopping-cart.png') }}"#}
                             {#alt="{{ 'platform.nav.menu.cart.icon_alt'|trans }}"#}
                             {#class="cart-icon" title="{{ 'platform.nav.menu.cart.title'|trans }}">#}
                        {#<span class="badge badge-info">{{ app.session.get('cart') is defined ? app.session.get('cart')|length: '' }}</span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#{% include '_partials/_locale_switcher.html.twig' %}#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
        {#<!-- /.navbar-collapse -->#}
    {#</div>#}
{#</nav>#}
