{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <h2>{{ page.title }}</h2>

    <div class="pageCustom-content">
        {{ page.content|raw }}
    </div>
{% endblock %}
