{{ form_start(object) }}
{#{{ form_row(object.createdAt) }}#}
{#{{ form_row(object.title) }}#}
{#{{ form_row(object.content) }}#}
{#{{ form_row(object.illustration) }}#}
{#{{ form_row(object.isEnabled) }}#}
{{ form_end(object) }}