{# Each element with data-toggle="recaptcha" will be rendered as a reCAPTCHA widget. #}
{% block re_captcha_row %}
    <div id="{{ id }}" data-toggle="recaptcha" data-type="{{ type }}">
    </div>
{% endblock %}