{% block form_errors %}
    {#{% spaceless %}#}
        {% for error in errors %}
            <div class="alert alert-danger"><i class="fas fa-warning"></i> {{ error.message }}</div>
        {% endfor %}
    {#{% endspaceless %}#}
{% endblock %}