{{ 'cart.subtitle'|trans }}

{% if(cart|length > 0) %}
    <div style="height: 300px;overflow: scroll;">
        <table class="table mt-3" style="width: 100%;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ 'cart.th.product'|trans }}</th>
                <th scope="col" width="50%"></th>
                <th scope="col">{{ 'cart.th.quantity'|trans }}</th>
                <th scope="col" width="25%">{{ 'cart.th.price'|trans }}</th>
                <th scope="col" width="25%">{{ 'cart.th.total'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
                <tr>
                    <th scope="row">
                        <a target="_blank" title="{{ 'cart.td.product.a.title'|trans }}"
                           href="{{ path('product',{slug:product.product.slug}) }}">
                            <img style="border-radius: 4px" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"
                                 height="40px"><br>
                        </a>
                    </th>
                    <td>
                        <a target="_blank" title="{{ 'cart.td.product.a.title'|trans }}"
                           href="{{ path('product',{slug:product.product.slug}) }}">{{ product.product.name }}</a><br>
                        <small><em>{{ product.product.subtitle }}</em></small>
                    </td>
                    <td>
                        <a href="{{ path('decrease_to_cart',{id:product.product.id}) }}" title="{{ 'cart.td.quantity.decrease.a.title'|trans }}">
                            <img src="{{ asset('assets/img/minus.svg') }}" height="12px" alt="{{ 'cart.td.quantity.decrease.img.alt'|trans }}">
                        </a>
                        x {{ product.quantity }}
                        <a href="{{ path('add_to_cart',{id:product.product.id}) }}" title="{{ 'cart.td.quantity.add.a.title'|trans }}">
                            <img src="{{ asset('assets/img/plus.svg') }}" height="12px" alt="{{ 'cart.td.quantity.add.img.alt'|trans }}">
                        </a>
                    </td>
                    <td>{{ (product.product.price / 100)|number_format(2,',','.') }} €</td>
                    <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €</td>
                    <td>
                        <a href="{{ path('delete_to_cart', {id: product.product.id}) }}" title="{{ 'cart.td.quantity.remove.a.title'|trans }}">
                            <img src="/assets/img/delete.svg" alt="{{ 'cart.td.quantity.remove.img.alt'|trans }}"
                                 height="18px">
                        </a>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="float-right">
        <table>
            <tr>
                <th>{{ 'cart.product.count'|trans }}:</th>
                <td align="right">{{ cart|length }}</td>
            </tr>
            <tr>
                <th>{{ 'cart.total'|trans }}:</th>
                <td align="right">{{ (total / 100)|number_format(2,',','.') }} €</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
    <a href="{{ path('order') }}" class="btn btn-success btn-sm btn-block mt-3">{{ 'cart.validate.button_label'|trans }}</a><br>

    <div class="cart-to-products">
        {{ app.request.locale =='fr'?'Ou':'Or' }} <a href="{{ path('products') }}">{{ 'cart.goTowardShop'|trans }}</a>.
    </div>
{% else %}
    <hr>
    <p><b>{{ 'cart.empty'|trans }}.</b></p>
    <p><a href="{{ path('products') }}">{{ 'cart.back_link'|trans }}</a></p>
{% endif %}
