{% extends 'base.html.twig' %}

{% block title %}{{ 'cart.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-cart" class="container">
        <h1>Mon panier</h1>

        Retrouvez l'ensemble des formations et/ou ateliers que vous avez ajouté à votre panier.

        {% if(cart|length > 0) %}
            <table class="table" style="margin-top: 20px;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Contenu du panier</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% set total = null %}
                {% for product in cart %}
                    <tr>
                        <td>
                            <a target="_blank" title="Ouvrir la fiche du produit dans un nouvel onglet"
                               href="{{ path('product',{slug:product.product.slug}) }}"><b>{{ product.product.name }}</b></a><br>
                            <small><em>{{ product.product.subtitle }}</em></small>
                        </td>
                        <td>{{ product.quantity }}</td>
                        {#<td>#}
                            {#<a href="{{ path('decrease_to_cart',{id:product.product.id}) }}">#}
                                {#<img src="{{ asset('assets/img/minus.svg') }}" height="12px" alt="Supprimer un produit">#}
                            {#</a>#}
                            {#x {{ product.quantity }}#}
                            {#<a href="{{ path('add_to_cart',{id:product.product.id}) }}" title="Ajouter un produit">#}
                                {#<img src="{{ asset('assets/img/plus.svg') }}" height="12px" alt="Ajouter un produit">#}
                            {#</a>#}
                        {#</td>#}
                        <td>{{ (product.product.price / 100)|number_format(2,',','.') }} €</td>
                        <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €</td>
                        <td>
                            <a href="{{ path('delete_to_cart', {id: product.product.id}) }}" title="Supprimer mon produit">
                                <img src="/assets/img/delete.svg" title="Supprimer" alt="Supprimer mon produit"
                                     height="18px">
                            </a>
                        </td>
                    </tr>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
                </tbody>
            </table>

            <div>
                <table style="float: right;">
                    <tr>
                        <th width="200px"><b>Nombre de formations: </b></th>
                        <td align="right">{{ cart|length }}</td>
                    </tr>
                    <tr>
                        <th><b>Total de mon panier:</b></th>
                        <td align="right">{{ (total / 100)|number_format(2,',','.') }} €</td>
                    </tr>
                </table>
                <div class="clearfix"></div>

                <a href="{{ path('order') }}" class="btn btn-success btn-block" style="margin-top: 20px;">Valider mon panier</a><br>
            </div>
            <div class="cart-to-products text-center">
                Ou <a href="{{ path('products') }}">poursuivre mes achats dans la boutique</a>.
            </div>
        {% else %}
            <hr>
            <p><b>Votre panier vide.</b></p>
            <p><a href="{{ path('products') }}">Retourner vers la boutique</a></p>
        {% endif %}
    </section>

{% endblock %}
