{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if field.value %}
<img style="width: 50px;" src="{{ '/uploads/' ~ field.value }}" alt="">
{% else %}
    <img style="width: 60px;" src="{{ '/assets/img/default/imgdef.png' }}" alt="">
{% endif %}