{% extends 'base.html.twig' %}

{% block title %}{{ 'account.manageAddress.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="address" class="container">
        <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm"
           style="float: right;">{{ 'account.manageAddress.add_link_label'|trans }}</a>

        <h1><i class="fa fa-map-marker"></i> {{ 'account.manageAddress.headTitle'|trans }}</h1>
        <a href="{{ path('account') }}"><i
                    class="fas fa-arrow-alt-circle-left"></i> {{ 'account.manageAddress.back_link'|trans }}</a>
        <br><br>
        <p>{{ 'account.manageAddress.description_label'|trans }}</p>

        <hr>

        {% if app.user.addresses|length == 0 %}
        <p class="text-center">
            {{ 'account.manageAddress.noAddress_label'|trans }}
            <a href="{{ path('account_address_add') }}">{{ 'account.manageAddress.noAddress_link_label'|trans }}</a>.
        </p>
        {% else %}
        <div class="row" style="margin-top: 20px;">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div style="width: 18rem;" class="account-address-item">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <hr>
                        <p class="card-text">
                            {{ address.firstname }} - {{ address.lastname }} <br>
                            {{ address.address }}, <br>
                            {{ address.zipcode }} - {{ address.city }} - {{ address.country }}
                        </p>
                        <a href="{{ path('account_address_edit', {id: address.id}) }}">{{ 'account.manageAddress.account.manageAddress.edit_link_label'|trans }}</a>
                        |
                        <a href="{{ path('account_address_delete', {id: address.id}) }}"
                           onclick="return confirm('{{ 'platform.utils.app.confirm.deletion'|trans }}')">
                            {{ 'account.manageAddress.account.manageAddress.remove_link_label'|trans }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}
