{% extends 'base.html.twig' %}

{% block title %}{{ 'account.invoices.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="invoices" class="container">
        <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm"
           style="float: right;">{{ 'account.invoices.add_link_label'|trans }}</a>

        <h1><i class="fa fa-map-marker"></i> {{ 'account.invoices.headTitle'|trans }}</h1>
        <a href="{{ path('account') }}"><i
                    class="fas fa-arrow-alt-circle-left"></i> {{ 'account.invoices.back_link'|trans }}</a>
        <br><br>
        <p>{{ 'account.invoices.description_label'|trans }}</p>

        <hr>

        {% if patient.invoices|length == 0 %}
            <p class="text-center">
                {{ 'account.invoices.noAddress_label'|trans }}
                <a href="{{ path('account_address_add') }}">{{ 'account.invoices.noInvoice_link_label'|trans }}</a>.
            </p>
        {% else %}

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Liste des séances concernées</th>
                    <th colspan="2">Facture</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in patient.invoices %}
                    <tr>
                        <td>
                            <ul>
                                {% for event in invoice.events %}
                                <li>{{ event.id }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('patient_events_invoice_generatepdf', {id: invoice.id}) }}">{{ invoice.filename }}</a>
                        </td>
                        <td>
                            <em>Facture déjà envoyée par email le {{ invoice.sendAt|date('d/m/Y') }} sur votre adresse : {{ invoice.patient.email }}</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock %}
