{% extends 'base.html.twig' %}

{% block title %}{{ 'account.myOrders.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="order" class="container">
        <h1>{{ 'account.myOrders.title'|trans }}</h1>
        <a href="{{ path('account') }}"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'account.myOrders.back_link'|trans }}</a>

        <br><br>
        <p>{{ 'account.myOrders.description_label'|trans }}</p>
        <hr>

        {% if app.user.orders|length == 0 %}
            <p class="text-center">
                {{ 'account.myOrders.noOrder_label'|trans }}
            </p>
        {% else %}
            <div style="margin-top: 20px;">
                <table class="table mt-4">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">{{ 'account.myOrders.table.th.reference'|trans }}</th>
                        <th scope="col">{{ 'account.myOrders.table.th.status'|trans }}</th>
                        <th scope="col">{{ 'account.myOrders.table.th.placedOn'|trans }}</th>
                        <th scope="col">{{ 'account.myOrders.table.th.products'|trans }}</th>
                        <th scope="col">{{ 'account.myOrders.table.th.total'|trans }}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a style="font-weight: bold;"
                                   href="{{ path('account_order_show', {reference: order.reference}) }}">
                                    {{ order.reference }}</a>

                            </td>
                            <td>
                        <span class="badge badge-info" style="font-size: 15px;font-weight: normal;">
                        {% if(order.state == constant('App\\Entity\\Order::STATE_PAID')) %}
                            {{ 'account.myOrders.table.td_status_accepted payment'|trans }}
                        {% elseif(order.state == constant('App\\Entity\\Order::STATE_ONGOING_PREPARATION')) %}
                            {{ 'account.myOrders.table.td_status_on-goingPreparation'|trans }}
                        {% elseif(order.state == constant('App\\Entity\\Order::STATE_ONGOING_DELIVERY')) %}
                            {{ 'account.myOrders.table.td_status_shippingInProgress'|trans }}
                        {% endif %}
                            </span>
                            </td>
                            <td>{{ order.createdAt|date('d/m/Y')~' à '~order.createdAt|date('H:i:s')  }}</td>
                            <td align="center">
                                {{ order.orderDetails|length }}
                            </td>
                            <td align="right">{{ ((order.total + order.carrierPrice)/100)|number_format(2,',','.') }} €</td>
                            <td class="text-right">
                                <a href="{{ path('account_order_show', {reference: order.reference}) }}">
                                    {{ 'account.myOrders.table.td_action_view'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>
{% endblock %}
