{% extends 'base.html.twig' %}

{% block title %}{{ 'account.myOrders.show_order.title'|trans }}{{ order.reference }}{% endblock %}

{% block header %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <h1>{{ 'account.myOrders.show_order.headTitle'|trans }}{{ order.reference }}</h1>
    <a href="{{ path('account_order') }}">{{ 'account.myOrders.show_order.back_link'|trans }}</a>

    <hr>
    <strong>{{ 'account.myOrders.show_order.placedOn_label'|trans }} :</strong> {{ order.createdAt|date('d/m/Y H:i:s') }}<br>
    <strong>{{ 'account.myOrders.show_order.reference_label'|trans }} :</strong> <small> {{ order.reference }}</small><br>
    <strong>{{ 'account.myOrders.show_order.status_label'|trans }} : </strong>
    {% if(order.state == constant('App\\Entity\\Order::STATE_PAID')) %}
        {{ 'account.myOrders.table.td_status_accepted payment'|trans }}
    {% elseif(order.state == constant('App\\Entity\\Order::STATE_ONGOING_PREPARATION')) %}
        {{ 'account.myOrders.table.td_status_on-goingPreparation'|trans }}
    {% elseif(order.state == constant('App\\Entity\\Order::STATE_ONGOING_DELIVERY')) %}
        {{ 'account.myOrders.table.td_status_shippingInProgress'|trans }}
    {% endif %}
    <br>
    <strong>{{ 'account.myOrders.show_order.selectedCarrier_label'|trans }} :</strong> {{ order.carrierName }}
    <hr>
    <strong>{{ 'account.myOrders.show_order.table.label'|trans }}</strong>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">{{ 'account.myOrders.show_order.table.th.product'|trans }}</th>
            <th scope="col">{{ 'account.myOrders.show_order.table.th.quantity'|trans }}</th>
            <th scope="col">{{ 'account.myOrders.show_order.table.th.total'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
        <tr>
            <td>{{ product.product }}</td>
            <td align="center">x {{ product.quantity }}</td>
            <td align="right">{{ (product.total/100)|number_format(2,',','.') }} €</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <strong>{{ 'account.myOrders.show_order.subtotal_label'|trans }} : </strong>{{ (order.total/100)|number_format(2,',','.') }} €<br>
        <strong>{{ 'account.myOrders.show_order.carrier_label'|trans }} : </strong> {{ (order.carrierPrice/100)|number_format(2,',','.') }} €<br>
        <strong>{{ 'account.myOrders.show_order.total_label'|trans }} : </strong>{{ ((order.total + order.carrierPrice)/100)|number_format(2,',','.') }} €
    </div>
{% endblock %}
