{% extends 'base.html.twig' %}

{% block title %}{{ 'account.editPassword.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="password" class="container">
        <h1><i class="fas fa-user-lock"></i> {{ 'account.editPassword.headTitle'|trans }}</h1>
        <a href="{{ path('account') }}"><i class="fas fa-arrow-alt-circle-left"></i> {{ 'account.editPassword.back_link'|trans }}</a> <br>
        <hr>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {% set required = form.vars.required ? '*' : '' %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.lastname) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class=" col-md-4 col-lg-offset-4">
                {{ form_row(form.old_password) }}
                {{ form_row(form.new_password) }}
                <div class="text-center">
                    {{ form_row(form.submit, { 'label': 'account.editPassword.form.submitButton_label'|trans({},'messages'),'attr': {'class': 'btn btn-info'} }) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <hr>
    </section>
{% endblock %}
