<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-info-circle"></i> Informations de base</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="participant-tab" data-toggle="tab" href="#participant" role="tab"
           aria-controls="participant" aria-selected="false"><i class="fa fa-users"></i> Participants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contract-tab" data-toggle="tab" href="#contract" role="tab"
           aria-controls="contract" aria-selected="false"><i class="fa fa-pen-fancy"></i> Contrat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="days" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' documents' :'Documents' }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
           aria-controls="days" aria-selected="false">
            <i class="fa fa-list"></i> {{ ea.entity.instance.comments|length != 0 ?
            ea.entity.instance.comments|length~' commentaires' :'Commentaires' }}
        </a>
    </li>
</ul>

{{ form_start(object) }}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.person) }}
                {{ form_row(object.type) }}
                {{ form_row(object.startAt) }}
                {{ form_row(object.endAt) }}
                {{ form_row(object.isFirst) }}
                {{ form_row(object.isAllDay) }}
                {{ form_row(object.isPeriodic) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(object.title) }}</div>
                    <div class="col-md-4">{{ form_row(object.object) }}</div>
                    <div class="col-md-4">{{ form_row(object.location) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="participant" role="tabpanel" aria-labelledby="participant-tab">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(object.existingAdherents) }}
            </div>
            <hr>
            <div class="col-md-6">
                {{ form_row(object.adherents) }}
            </div>
            <hr>
            <div class="col-md-12">
                {{ form_row(object.patient) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="contract" role="tabpanel" aria-labelledby="contract-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.contract) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.documents) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.comments) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(object) }}