{% set idEvent = event is defined ? event.id : '' %}
{% set required = form.vars.required ? '*' : '' %}

{{ form_start(form, { 'attr': {id: 'eventForm', 'data-action': action, 'data-id': idEvent }}) }}

<div style="margin-bottom: 10px;">
    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-save"></i> Enregistrer</button>
    <button type="button" class="btn btn-default btn-sm cancel"><i class="fa fa-ban"></i> Annuler
    </button>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab_base"><i class="fa fa-calendar"></i> Rendez-vous</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_persons"><i class="fa fa-users"></i> Participants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_periodicity"><i class="fa fa-clock"></i> Périodicité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_options"><i class="fa fa-pen"></i> Options</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="margin-top: 15px;">
    <div class="tab-pane container active" id="tab_base">
        <div class="row">
            <div class="col">
                {{ form_label(form.title, 'Titre du rendez-vous'~required) }}
                {{ form_widget(form.title) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{ form_label(form.startAt, 'Date de début'~required) }}
                {{ form_widget(form.startAt) }}
                {{ form_label(form.endAt, 'Date de fin'~required) }}
                {{ form_widget(form.endAt) }}
            </div>

            <div class="col">
                {{ form_label(form.startAt_time, 'Heure de début'~required) }}
                {{ form_widget(form.startAt_time) }}
                {{ form_label(form.endAt_time, 'Heure de fin'~required) }}
                {{ form_widget(form.endAt_time) }}
            </div>

            <div class="col">
                {{ form_label(form.isAllDay, 'Toute la journée'~required) }}
                {{ form_widget(form.isAllDay) }}

                {% if form.eventStatus is defined %}
                    {{ form_label(form.status, 'Statut'~required) }}
                    {{ form_widget(form.status) }}
                {% endif %}
            </div>
        </div>
        <hr>
        {# Type - objet - lieu #}
        <div class="row">
            <div class="col">
                TYPE DE RENDEZ-VOUS
            </div>
            <div class="col">
               OBJET DU RENDEZ-VOUS
            </div>
            <div class="col">
                LIEU DU RENDEZ-VOUS
            </div>
        </div>
    </div>

    <div class="tab-pane container fade" id="tab_persons">
        <div id="checkZone" style="display: none;background-color: #fcf87e"></div>

        {#{% form_theme form.persons 'form_themes/event/participants-theme.html.twig' 'jquery.collection.html.twig' %}#}
        {#{{ form_label(form.persons, 'Participants'~required) }}#}
        {#{{ form_widget(form.persons) }}#}

        {#<div class="text-center">#}
            {#<button type="button" id="checkPersons" class="button button-dark button-mini btn-sm cancel">#}
                {#<i class="icon-cogs1"></i> Contrôle des inscriptions >>#}
            {#</button>#}
        {#</div>#}

    </div>

    <div class="tab-pane container fade" id="tab_periodicity">
        Gestion de la périodicité de RDV
    </div>

    <div class="tab-pane container fade" id="tab_options">
        <div class="row">
            <div class="col">
                COMMENT
                {#{{ form_label(form.comment, 'Commentaire'~required) }}#}
                {#{{ form_widget(form.comment) }}#}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{ form_label(form.isPeriodic, 'Périodique'~required) }}
                {{ form_widget(form.isPeriodic) }}
            </div>
            <div class="col">
                {{ form_label(form.isConfirmedByEmail, 'Confirmation email'~required) }}
                {{ form_widget(form.isConfirmedByEmail) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}