<div class="form-row">
    <div class="col">
        {{ form_row(formSearch.minCreatedAt) }}
        {{ form_row(formSearch.maxCreatedAt) }}
    </div>
    {#<div class="col">#}
        {#{{ form_row(formSearch.comment) }}#}
    {#</div>#}
    {#<div class="col">#}
        {#{{ form_row(formSearch.eventTypeParameter) }}#}
    {#</div>#}
</div>
