{% if field.value is not empty %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date heure de création</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in field.value %}
            <tr>
                <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                <td>{{ comment.note|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucune note de commentaire enregistrée pour le moment.
{% endif %}
