{% if field.value is not empty %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nom complet</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for adherent in field.value %}
            <tr>
                <td>{{ adherent }}</td>
                <td>{{ adherent.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun participant enregistré pour le moment.
{% endif %}
