<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contrat {{ contract.reference }}|Convocation de formation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>
        .wrapper-page {
            page-break-after: always;
        }

        .wrapper-page:last-child {
            page-break-after: avoid;
        }

        section#header img.logo {
            width: 200px;
        }

        section#body h1 {
            font-size: 20px;
            text-decoration: underline;
            text-align: center;
        }

        section#footer img.signature {
            width: 130px;
        }

        section#footer .signatureBlock {
            margin-left: 450px;
        }
    </style>
</head>
<body style="margin: 20px;">

{% for adherent in contract.adherents %}
    <div class="wrapper-page" {% if loop.last %}style="page-break-after: avoid;"{% endif %}>
        <section id="header">
            <div class="row">
                <div class="col-xs-3">
                    {% if contract.organization.illustration is defined and contract.organization.illustration is not null %}
                        <img class="logo" src="{{ absolute_url(asset('uploads/'~contract.organization.illustration)) }}"
                             alt="logo">
                    {% endif %}
                </div>
            </div>
        </section>

        <section id="body">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-right">{{ contract.organization.city }} le, {{ 'now'|date('d/m/Y') }}</p>
                </div>
            </div>

            <h1>Objet : Convocation</h1>
            <br>
            <br>
            <p>{{ adherent.civility }} {{ adherent.lastname }},</p><br>

            <p>Nous avons le plaisir de vous adresser votre convocation pour participer à la formation suivante :</p>
            <p><b>{{ contract.products[0] }}</b></p>

            {% if contract.isFaceToFace %}
            <p>qui se déroulera à cette adresse :</p>
            {% set address = contract.address ? contract.address : contract.client.street~' '~contract.client.zipcode~' - '~contract.client.city %}
            <span style="text-align: center"><b>{{ address }}</b></span>
            {% else %}
                {# todo via foadLink #}
            {% endif %}
            <br><br>
            <p>Du {{ contract.startAt|date('d/m/Y')~' au '~contract.endAt|date('d/m/Y') }}, selon les dates ci-après
                :</p>

            <ul>
                {% for date in contract.events|sort((a, b) => a.startAt <=> b.startAt) %}
                    <li>{{ date.startAt|date('d/m/Y') }}
                        - {{ date.startAt|date('H:i') }} {{ date.endAt|date('H:i') }}</li>
                {% endfor %}
            </ul>

            <p>Nous vous attendons ainsi dès le {{ contract.startAt|date('d/m/Y') }}
                à {{ contract.startAt|date('H:i') }}.</p>

            <p>
                <b>Nous vous remercions de nous accuser réception de cette convocation par retour de mail à l’adresse
                    suivante :</b>
                <span style="color:dodgerblue;margin-left: 50px;">contact@afac-etre.fr</span>
            </p>
            <br>
            <p>
                Restant à votre disposition pour tout renseignement complémentaire, nous vous prions
                d’agréer, {{ adherent.civility }}, l’expression de nos salutations distinguées.
            </p>
            <br><br>

        </section>
        <section id="footer">
            <div class="signatureBlock">
                <p><span style="margin-left: 380px;">Responsable de formation</span></p>
                {% if contract.organization.signature is defined and contract.organization.signature is not null %}
                    <img class="signature" src="{{ absolute_url(asset('uploads/'~contract.organization.signature)) }}"
                         alt="signature">
                {% endif %}
            </div>

        </section>


    </div>
{% endfor %}


</body>
</html>