<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contrat {{ contract.reference }}|Feuille de présence</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>
        .wrapper-page {
            page-break-after: always;
        }
        .wrapper-page:last-child {
            page-break-after: avoid;
        }
        section#header img.logo {
            width: 200px;
        }
        section#header .header-identity {
            color: dodgerblue;
        }
        section#header .header-right-title {
            padding: 10px 0 10px;
            color: dodgerblue;
            font-size: 20px;
            border-top: 2px solid dodgerblue;
        }

        section#body th{
            width: 100px;
            text-align: center;
            vert-align: top;
            padding-top: 0;
        }
        section#body .body-td-heigth{
            height: 45px;
            text-align: center;
        }
        section#body .body-th-day{
            height: 18px;
            text-align: center;
            font-size: 13px;
        }
        section#body .body-td-first{
            height: 18px;
            text-align: center;
            font-size: 12px;
        }
        section#body .body-td-heigth-last{
            height: 18px;
            text-align: center;
            font-size: 13px;
        }
        section#footer{}
    </style>
</head>
<body style="margin: 20px;">

{% for adherent in contract.adherents %}
    <div class="wrapper-page" {% if loop.last %}style="page-break-after: avoid;"{% endif %}>
        <section id="header">
            <div class="row">
                <div class="col-xs-3">
                    {% if contract.organization.illustration is defined and contract.organization.illustration is not null %}
                        <img class="logo" src="{{ absolute_url(asset('uploads/'~contract.organization.illustration)) }}"
                             alt="logo">
                    {% endif %}

                </div>
                <div class="col-xs-6">
                    <div class="text-center">
                        <span class="header-identity">AFAC DE L’ETRE – Gwénaëlle BRASSART</span><br>
                        <small>Avenue Michel Bossé – 45680 DORDIVES</small>
                        <br>
                        Déclaration d’activité enregistrée sous le numéro : 24450375245 <br>
                        Auprès du Préfet Centre Val de Loire <br>
                        <br>
                        Tel : 07 81 34 06 44<br>
                        Mail : gbrassart.sophrologue@yahoo.com
                    </div>
                </div>
                <div class="col-xs-3">
                <span class="header-right-title">
                    Fiche de présence</span>
                </div>
            </div>
        </section>

        <section id="body">
            <br>
            <p>Nom de la société/ structure du stagiaire : <b>{{ contract.client.companyName }}</b><p>
            <p>Formation: <b>{{ contract.products[0] }}</b></p>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="2" rowspan="2">
                        Fiche de présence <br>N° semaine/{{ 'now'|date('Y') }}<br>
                        {#<span style="font-size: 9px;">{{ contract.products[0] }}</span>#}
                    </th>
                    <th class="body-th-day">LUNDI</th>
                    <th class="body-th-day">MARDI</th>
                    <th class="body-th-day">MERCREDI</th>
                    <th class="body-th-day">JEUDI</th>
                    <th class="body-th-day">VENDREDI</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="body-td-first">{{ contract.startAt|date('d/m/Y') }}</td>
                    <td class="body-td-first">{{ (contract.startAt)|date('d/m/Y') }}</td>
                    <td class="body-td-first">{{ contract.startAt|date('d/m/Y') }}</td>
                    <td class="body-td-first">{{ contract.startAt|date('d/m/Y') }}</td>
                    <td class="body-td-first">{{ contract.startAt|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td class="body-td-heigth" rowspan="2" width="100px">
                        Semaine n° XX <br>
                        <u>FORMATEUR :</u><br>
                        <b>{{ contract.persons[0] }}</b>
                    </td>
                    <td class="body-td-heigth" width="100px">Matin <br> 9h00-12h30</td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                </tr>
                <tr>
                    {#<td class="body-td-heigth"></td>#}
                    <td class="body-td-heigth" width="100px">Après-midi <br> 13h30-17h00</td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                </tr>
                <tr>
                    <td class="body-td-heigth" rowspan="2" width="100px">
                        Semaine n° XX <br>
                        <u>FORMATEUR :</u><br>
                        <b>{{ adherent.firstname~' '~adherent.lastname }}</b>
                    </td>
                    <td class="body-td-heigth" width="100px">Matin <br> 9h00-12h30</td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                </tr>
                <tr>
                    {#<td class="body-td-heigth"></td>#}
                    <td class="body-td-heigth" width="100px">Après-midi <br> 13h30-17h00</td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                    <td class="body-td-heigth"></td>
                </tr>
                <tr>
                    <td class="body-td-heigth-last" colspan="4"></td>
                    <td class="body-td-heigth-last" colspan="2"><b>TOTAL HEURES</b></td>
                    <td class="body-td-heigth-last"></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section id="footer">
            <p><b>Responsable de Formation : </b> Gwénaëlle BRASSART, « certifie l’exactitude des informations
                mentionnées ci-dessus »</p>
        </section>


    </div>
{% endfor %}


</body>
</html>