<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contrat {{ contract.reference }}|Attestations de formation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style>
        .wrapper-page {
            page-break-after: always;
        }
        .wrapper-page:last-child {
            page-break-after: avoid;
        }
        section#header .titleBlock {
            margin-top: 50px;
            text-align: center
        }
        section#header img.logo {
            width: 200px;
        }
        section#body h1 {
            font-size: 20px;
            text-decoration: underline;
            text-align: center;
        }
        section#body th {
            vertical-align: top;
        }
        section#body .borderTopLine {
            border-top: 1px solid #d3d3d3;
            padding-top: 5px;
        }
        section#body .borderBottomLine {
            border-bottom: 1px solid #d3d3d3;
            padding-bottom: 5px;
        }
        section#body .th-objectives{
            background-color: grey;
            color: #FFF;
        }
        section#body .objectives{
            font-size: 11px;
        }
        section#body ul#listObjectives{
            list-style: none;
            margin-top: 5px;
        }
        .vertical-align-top{
            vertical-align: top;
        }
        /*section#body .objectives-td-left {*/
            /*width: 75%;*/
        /*}*/
        /*section#body .objectives-td-right {*/
            /*width: 25%;*/
        /*}*/

        section#footer img.signature {
            width: 110px;
        }
        section#footer .signatureBlock {
            margin-left: 450px;
            border: 1px solid #d3d3d3;
            text-align: center;
            font-weight: bold;
        }
    </style>
</head>
<body style="margin: 20px;">

{% for adherent in contract.adherents %}
    <div class="wrapper-page" {% if loop.last %}style="page-break-after: avoid;"{% endif %}>
        <section id="header">
            <div class="row">
                <div class="col-xs-3">
                    {% if contract.organization.illustration is defined and contract.organization.illustration is not null %}
                        <img class="logo" src="{{ absolute_url(asset('uploads/'~contract.organization.illustration)) }}"
                             alt="logo">
                    {% endif %}
                </div>
                <div class="col-xs-9">
                    <div class="titleBlock">
                        <span style="font-weight: bold;font-size: 16px;">ATTESTATION</span><br>
                        <span style="font-size: 16px;margin-top: 0;">DE FIN DE FORMATION</span><br>
                        <span style="font-size: 11px;margin-top: 0;">Art. L. 6353-1 du Code du Travail</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="body">
            <div class="row">
                <div class="col-xs-12">
                    <p style="font-size: 12px">
                        L'Organisme de Formation BRASSART Gwénaëlle certifie par la présente que la personne ci-dessous dénommée a bien suivi la formation décrite conformément aux dispositions de l'article L 6353-1*.
                    </p>
                    <p><b>{{ adherent.fullname }}</b>,</p>
                    <br>
                    <table class="vertical-align-top">
                        <tr>
                            <th class="borderTopLine">Intitulé: </th>
                            <td class="borderTopLine"><span style="color: purple">{{ contract.products[0] }}</span></td>
                        </tr>
                        <tr>
                            <th>Formateur: </th>
                            <td>{{ contract.persons[0] }}</td>
                        </tr>
                        <tr>
                            <th class="borderBottomLine">Dates: <br>Durée:</th>
                            <td class="borderBottomLine">Du {{ contract.startAt|date('d/m/Y')~' au '~contract.endAt|date('d/m/Y') }}<br>{{ contract.products[0].hourDuration }}</td>
                        </tr>
                        <tr>
                            <th class="borderTopLine borderBottomLine">Evaluation des acquis de la formation</th>
                            <td class="borderTopLine borderBottomLine">
                                Au regard de chaque objectif de la formation, le stagiaire est invité à déterminer les connaissances / compétences qu'il a acquises, celles qui sont en cours d'acquisition ou celles qui restent à acquérir. L'évaluation des acquis s'effectuera à l'appui notamment de la correction, en groupe et validée par les animateurs, des exercices (tests, cas pratiques) auxquels le stagiaire a participé.
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table class="table table-bordered">
                        <tr class="th-objectives">
                            <th style="padding-left: 5px;width: 400px">Objectif de la formation</th>
                            <th style="padding-left: 5px;width: 235px">Les connaissances / compétences <br>
                                (Cochez la case correspondante)
                            </th>
                        </tr>
                        <tr>
                            <td class="objectives-td-left">
                                <div style="vertical-align: top;margin-top: 5px;">OBJECTIFS</div>
                            </td>
                            <td class="objectives-td-right">
                                <ul id="listObjectives">
                                    <li><i class="far fa-square"></i> <span class="vertical-align-top">Ont été acquises</span></li>
                                    <li><i class="far fa-square"></i> <span class="vertical-align-top">Sont en cours d’acquisition</span></li>
                                    <li><i class="far fa-square"></i> <span class="vertical-align-top">Sont à acquérir</span></li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                    <p>
                        <em>Cette attestation peut vous permettre de renseigner votre passeport orientation-formation (art. L 6315-2 du Code du Travail).</em>
                    </p>
                    <p>
                        <em>Attention, aucun double ne sera délivré</em>
                    </p>
                    <p>{{ contract.organization.city }}, le {{ 'now'|date('d/m/Y') }}</p>

                    <div style="margin-left: 275px;border: 1px solid #d3d3d3">
                        <p style="font-weight: bold;text-align: center;">L'organisme de formation</p>
                        {% if contract.organization.signature is defined and contract.organization.signature is not null %}
                            <div style="text-align: center">
                                <img style="width: 140px" src="{{ absolute_url(asset('uploads/'~contract.organization.signature)) }}"
                                     alt="signature">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endfor %}
</body>
</html>