{% extends 'base.html.twig' %}

{% block title %}{{ 'security.login.title'|trans }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <section id="login">
        <div class="container text-center">
            <div class="row mb-4">
                <div class="col">
                    <h1><span class="fas fa-user-lock"></span> {{ 'security.login.headTitle'|trans }}</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans({},'security') }}</div>
                        {% endif %}

                        {% for message in app.flashes('registration-success') %}
                            <div class="alert alert-success">
                                <span class="fas fa-info"></span> {{ message }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <label for="inputEmail"
                                   class="sr-only">{{ 'security.login.form.email.label'|trans }}</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control"
                                   placeholder="{{ 'security.login.form.email.placeholder'|trans }}" autofocus>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">
                                {{ 'security.login.form.password.label'|trans }}</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="{{ 'security.login.form.password.placeholder'|trans }}"
                                   required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group">
                            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                            <label for="remember_me" class="form-check-label">
                                {{ 'security.login.form.rememberme.label'|trans }}</label>
                        </div>

                        <button type="submit" class="btn btn-success"><span class="fas fa-sign-in-alt"></span>
                            {{ 'security.login.form.submitButton.label'|trans }}</button>
                    </form>

                    <p class="text-center">
                        <a href="{{ path('reset_password') }}">{{ 'security.login.form.forgottenLabel.label'|trans }}</a>
                    </p>
                    <p class="text-center">{{ app.request.locale == 'fr' ? 'Ou souhaitez-vous': 'Or would you like' }}
                        <a href="{{ path('register') }}"> {{ app.request.locale == 'fr' ? 'créer un compte': 'to register' }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
