{% set organization = entity.instance %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="infoEnt-tab" data-toggle="tab" href="#infoEnt" role="tab"
           aria-controls="infoEnt" aria-selected="false"><i class="fa fa-map-marker"></i> Informations entreprise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="activities-tab" data-toggle="tab" href="#activities" role="tab"
           aria-controls="activities" aria-selected="false">
            <i class="fa fa-edit"></i> {{ organization.organizationActivities|length != 0 ?
            organization.organizationActivities|length~' activité(s)' :'Activités'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="documents" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab"
           aria-controls="setting" aria-selected="false">
            <i class="fa fa-cogs"></i> Paramétrage
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
           aria-controls="comments" aria-selected="false">
            <i class="fa fa-pen-fancy"></i> Bloc-notes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="historical-tab" data-toggle="tab" href="#historical" role="tab"
           aria-controls="historical" aria-selected="false">
            <i class="fa fa-list"></i> Historique
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab"
           aria-controls="security" aria-selected="false">
            <i class="fa fa-user-lock"></i> Sécurité
        </a>
    </li>
</ul>

{# TAB content #}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_info.html.twig' %}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="infoEnt" role="tabpanel" aria-labelledby="infoEnt-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_infoEnt.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="activities" role="tabpanel" aria-labelledby="activities-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_activity.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_document.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="setting" role="tabpanel" aria-labelledby="setting-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_setting.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_comment.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="historical" role="tabpanel" aria-labelledby="historical-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_historical.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="security" role="tabpanel" aria-labelledby="security-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/organization/detail/tabs/_security.html.twig' %}
            </div>
        </div>
    </div>
</div>