{% extends 'base.html.twig' %}

{% block title %}{{ discipline }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="discipline-show" class="container" style="min-height: 550px;">

        <div style="float: right;">
            <i class="far fa-arrow-alt-circle-left"></i> <a
                    href="{{ path('home') }}">Retourner vers la page d'accueil</a>
        </div>

        <h2>{{ discipline }}</h2>
        <hr>

        <div class="row">
            <div class="col-md-10">
                <div class="row discipline-card">
                    <div class="col-md-6 discipline-card-left">
                        {% if discipline.illustration %}
                            <img width="225px" alt="{{ discipline.name }}"
                                 src="/uploads/{{ discipline.illustration }}" class="img-fluid" style="float: left;padding: 15px;"/>
                        {% else %}
                            <img width="225px" src="/assets/img/default/imgdef.png">
                        {% endif %}

                        {# show description #}
                        {{ discipline.description|length ? discipline.description|raw:'Pas de description de la discipline pour le moment.' }}
                    </div>
                    <div class="col-md-6">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h5 style="text-decoration: underline">Plages d'activité disponibles :</h5>

                            {% if not discipline.timeslots|length %}
                                <p>Pas de plages disponibles pour le moment pour cette discipline.</p>
                            {% else %}
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th>Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for timeslot in discipline.timeslots %}
                                        <tr>
                                            <td>{{ timeslot.startAt|date('d/m/Y')~' '~timeslot.startAt|date('H:i') }}</td>
                                            <td>{{ timeslot.endAt|date('d/m/Y')~' '~timeslot.endAt|date('H:i') }}</td>
                                            <td>{{ timeslot.status }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <hr>
                        {% endif %}

                        <h5 style="text-decoration: underline">Prochains ateliers programmés :</h5>
                        {% if not discipline.events|length %}
                            <p>Pas d'ateliers programmés pour le moment.</p>
                        {% else %}
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Intervenant</th>
                                    <th colspan="2">Période</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in discipline.events %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('person_show',{slug:event.person.slug}) }}"
                                               title="Accéder à la fiche de l'intervenant " {{ event.person}}">{{ event.person }}</a>
                                        </td>
                                        <td>
                                            Le {{ event.startAt|date('d/m/Y') }}<br>

                                            De {{ event.startAt|date('H:i')~' à '~event.endAt|date('H:i') }}
                                        </td>
                                        <td>
                                            <a class="btn" href="{{ path('add_to_cart',{id:1}) }}"><i
                                                        class="fas fa-arrow-alt-circle-right"></i> Réserver</a>
                                        </td>
                                        <tr>
                                    <td colspan="3">Adresse: {{ event.location.address }}</td>
                                </tr>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-md-2">
                Autres disciplines :
                <ul class="list">
                    {% for d in disciplines %}
                        <li class="list-inline-item">
                            <a href="{{ path('discipline_show', {slug:d.slug}) }}"
                               title="Accéder à la fiche de {{ d }}">{{ d }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>
{% endblock %}
