{% extends 'base.html.twig' %}

{% block title %}{{ 'platform.home.title'|trans }}{% endblock %}

{% block content %}
    <section id="section-home">
        {% include 'home/partials/_services.html.twig' %}

        {% if persons %}
            {% include 'home/partials/_team.html.twig' %}
        {% endif %}

        {% if products %}
            {% include 'home/partials/_best.html.twig' %}
        {% endif %}

        {% if posts %}
            {% include 'home/partials/_post.html.twig' %}
        {% endif %}
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}

{% block script %}
    <script>
        let quotationActivation = {{ organization.isHomeCitation }};
        let quotationTimer = {{ organization.homeCitationTimer }};

        function randomQuotation() {
            let obj = {{ quotations|json_encode|raw }};
            let myObject = eval('(' + obj + ')');
            let randomObj = myObject[Math.random() * myObject.length >> 0];
            document.getElementById('quotation').innerHTML = randomObj.content;
            document.getElementById('quotation-footer').innerHTML = randomObj.author;
        }

        $(function () {
            if (quotationActivation === 1) {
                setInterval("randomQuotation()", quotationTimer * 1000);
            }
        });
    </script>
{% endblock %}