{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="legalterms" class="container">

        <h2>Mentions légales</h2>
        <hr>

        <article style="background-color: #F9F9F9;padding: 25px;">
            <div class="default-cms">
                <p style="text-align:justify"><strong>1. Présentation du site :</strong></p>

                <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> les informations suivantes :</p>

                <p style="text-align:justify"><strong>Informations légales : </strong></p>

                <p style="text-align:justify">Statut du propriétaire : <strong>société</strong></p>

                <p>Préfixe : <strong>SARL</strong></p>

                <p>Nom de la Société : <strong>XXXXXXXXXXXXXXX</strong></p>

                <p>Adresse : <strong>{{ appAddress }}</strong></p>

                <p>Tél : <strong>{{ appPhone }}</strong></p>

                {#<p>Au Capital de : <strong> 3 000 €</strong></p>#}

                <p>SIRET : <strong>xxx xxx xxx xxxxx </strong></p>

                {#<p>Numéro TVA intracommunautaire : <strong>FR54800444499</strong></p>#}

                <p>Adresse de courrier électronique : <strong><a href="mailto:gb_sophrologie@gmail.com">gb_sophrologie@gmail.com</a></strong></p>

                <p>Le Créateur du site est : <strong><a href="{{ path('home') }}">karudev-informatique.fr</a></strong></p>

                <p>Le Responsable de la publication est : <strong>Olivier Brassart</strong></p>

                <p>Contactez le responsable de la publication : <strong>gb_sophrologie@gmail.com</strong></p>

                <p>Le responsable de la publication est une <strong>personne physique</strong></p>

                <p>Le Webmaster est : <strong>Olivier Brassart</strong></p>

                <p>Contactez le Webmaster : <strong><a href="mailto:gb_sophrologie@gmail.com?subject=Contact ï¿½ partir des mentions lï¿½gales via le site www.afac-etre.fr">gb_sophrologie@gmail.com</a></strong></p>

                <p>L’hebergeur du site est :<br>

                <strong>O2 SWITCH</strong>,<br>

                SARL au capital de 100000€ dont le siège social est établi<br>

                222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand<br>

                immatriculée au Registre du Commerce et des Sociétés sous le numéro 510 909 80700024 - RCS Clermont Ferrand</p>

                <p style="text-align:justify"><strong>2. Description des services fournis :</strong></p>

                <p>Le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>

                <p>Le proprietaire du site s’efforce de fournir sur le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

                <p>Tous les informations proposées sur le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

                <p style="text-align:justify"><strong>3. Propriété intellectuelle et contrefaçons :</strong></p>

                <p style="text-align:justify">Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels…</p>

                <p>Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l’email : <a href="mailto:gb_sophrologie@gmail.com?subject=Contact ï¿½ partir des mentions lï¿½gales via le site www.afac-etre.fr"><strong>gb_sophrologie@gmail.com</strong></a> .</p>

                <p>Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

                <p style="text-align:justify"><strong>4. Liens hypertextes et cookies :</strong></p>

                <p>Le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> contient un certain nombre de liens hypertextes vers d’autres sites (partenaires, informations …) mis en place avec l’autorisation de le proprietaire du site . Cependant, le proprietaire du site n’a pas la possibilité de vérifier le contenu des sites ainsi visités et décline donc toute responsabilité de ce fait quand aux risques éventuels de contenus illicites.</p>

                <p>L’utilisateur est informé que lors de ses visites sur le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a>, un ou des cookies sont susceptible de s’installer automatiquement sur son ordinateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>

                <p>Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de refuser de la manière décrite à l’adresse suivante : www.cnil.fr</p>

                <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :</p>

                <p>Sous Internet Explorer : onglet outil / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.</p>

                <p>Sous Netscape : onglet édition / préférences. Cliquez sur Avancées et choisissez Désactiver les cookies. Validez sur Ok.</p>

                <p style="text-align:justify"><strong>5. Protection des biens et des personnes – gestion des données personnelles :</strong></p>

                <p>Utilisateur : Internaute se connectant, utilisant le site susnommé : <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a></p>

                <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>

                <p style="text-align:justify">Sur le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a>, le proprietaire du site ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a>. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> l’obligation ou non de fournir ces informations.</p>

                <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles le concernant. Pour l’exercer, adressez votre demande à <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> par email : email du webmaster ou en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.</p>

                <p style="text-align:justify">Aucune information personnelle de l’utilisateur du site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat du site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a> à le proprietaire du site et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l’utilisateur du site <a href="{{ path('home') }}" rel="noopener" target="_blank">www.afac-etre.fr</a>.</p>

            </div>
        </article>
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}
