{% extends 'base.html.twig' %}

{% block title %}{{ person }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="person-show" class="container" style="min-height: 550px;">

        <div style="float: right;">
            <i class="far fa-arrow-alt-circle-left"></i> <a
                    href="{{ path('home') }}">Retourner vers la page d'accueil</a>
        </div>

        <h2>{{ person }}
            {% if is_granted('ROLE_ADMIN') %}
                <span style="float: right;font-size: 10px;margin-right: 25px;">
            <a href="{{ path('events', {token:person.user.agendaToken}) }}"
               title="Accéder au calendrier de {{ person }}"><i class="fa fa-calendar fa-2x"></i></a>
            </span>
            {% endif %}
        </h2>
        <ul class="list-inline">
            {% for discipline in person.disciplines %}
                <li class="list-inline-item">
                    <small>{{ discipline.name }}</small>
                </li>
            {% endfor %}
        </ul>
        <hr>

        <div class="row">
            <div class="col-md-10">
                <div class="row person-card">
                    <div class="col-md-6 person-card-left">

                        {% if person.illustration %}
                        <img width="100px" alt="{{ person.firstname~' '~person.lastname }}"
                             src="/uploads/{{ asset(person.illustration) }}" class="img-fluid" style="float: left;"/>
                        {% else %}
                            <img width="100px" src="/assets/img/default/imgdef.png">
                        {% endif %}

                        {# show description #}
                        {{ person.showDescription|raw }}
                    </div>
                    <div class="col-md-6">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h5 style="text-decoration: underline">Plages d'activité disponibles :</h5>

                            {% if not person.timeslots|length %}
                                <p>Pas de plages disponibles pour le moment.</p>
                            {% else %}
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Date début</th>
                                        <th>Date fin</th>
                                        <th>Statut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for timeslot in person.timeslots %}
                                        <tr>
                                            <td>{{ timeslot.startAt|date('d/m/Y')~' '~timeslot.startAt|date('H:i') }}</td>
                                            <td>{{ timeslot.endAt|date('d/m/Y')~' '~timeslot.endAt|date('H:i') }}</td>
                                            <td>{{ timeslot.status }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <hr>
                        {% endif %}
                        <h5 style="text-decoration: underline">Prochains ateliers programmés :</h5>
                        {% if not person.timeslots|length %}
                            <p>Pas d'ateliers programmés pour le moment.</p>
                        {% else %}
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th colspan="2">Période</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in person.events %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('discipline_show',{slug:event.slug}) }}"
                                               title="Accéder à la présentation de la discipline {{ event.object }}">{{ event.object }}</a>
                                        </td>
                                        <td>
                                            Le {{ event.startAt|date('d/m/Y') }}<br>

                                            De {{ event.startAt|date('H:i')~' à '~event.endAt|date('H:i') }}
                                        </td>
                                        <td>
                                            <a class="btn" href="{{ path('add_to_cart',{id:1}) }}"><i
                                                        class="fas fa-arrow-alt-circle-right"></i> Réserver</a>
                                        </td>
                                        <tr>
                                    <td colspan="2">Adresse: {{ event.location.address }}</td>
                                </tr>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-md-2">
                Autres intervenants :
                <ul class="list">
                    {% for p in persons %}
                        <li class="list-inline-item">
                            <a href="{{ path('person_show', {slug:p.slug}) }}"
                               title="Accéder à la fiche de {{ p }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>
{% endblock %}
