{% extends 'base.html.twig' %}

{% block title %}{{ 'account.manageAddress.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item">Articles</li>
            <li class="breadcrumb-item active">{{ post.title }}</li>
        </ol>
    </nav>

    <section id="post-show" class="container">

        <div style="float: right;">
            <i class="far fa-arrow-alt-circle-left"></i> <a
                    href="{{ path('home') }}">Retourner vers la page d'accueil</a>
        </div>

        <h2>{{ post.title }}
            <small style="float: right;margin-right: 25px;">Publié le {{ post.createdAt|date('d/m/Y') }}</small>
        </h2>

        <hr>

        <div class="row">
            <div class="col-md-10">
                <div class="row post-card">
                    <div class="col-md-12 post-card-left" style="padding: 20px;">

                        {% if post.illustration %}
                            <img width="250px" alt="{{ post.title }}"
                                 src="/uploads/{{ asset(post.illustration) }}" class="img-fluid" style="margin-right: 15px;float: left;"/>
                        {% else %}
                            <img width="100px" src="/assets/img/default/imgdef.png">
                        {% endif %}

                        {# show description #}
                        {{ post.content|raw }}
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                Autres articles :
                <ul class="list">
                    {% for p in posts %}
                        <li class="list-inline-item">
                            <a href="{{ path('post_show', {slug:p.slug}) }}"
                               title="Accéder à la fiche de {{ p }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>
{% endblock %}
