{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="privacy" class="container">

        <h2>Politique de confidentialité</h2>
        <hr>

        <article style="background-color: #F9F9F9;padding: 25px;">
            <div class="default-cms">
                <h2>Définitions :</h2>
                <br/>
                <strong>L'Éditeur :</strong> La personne, physique ou morale, qui édite les services de communication au
                public en ligne.<br/>
                <strong>Le Site :</strong> L'ensemble des sites, pages Internet et services en ligne proposés par
                l'Éditeur.<br/>
                <strong>L'Utilisateur :</strong> La personne utilisant le Site et les services.

                <h2><br/>
                    <br/>
                    Nature des données collectées</h2>
                <br/>
                <strong>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories
                    de données suivantes concernant ses Utilisateurs : </strong><br/>
                Données d'état-civil, d'identité, d'identification...<br/>
                Données de connexion (adresses IP, journaux d'événements...)<br/>
                Données de localisation (déplacements, données GPS, GSM...)
                <h2><br/>
                    <br/>
                    Communication des données personnelles à des tiers</h2>
                <br/>
                <strong>Pas de communication à des tiers </strong><br/>
                Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles
                pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une
                autorité réglementaire ou judiciaire compétente.<br/>
                &nbsp;
                <h2><br/>
                    Information préalable pour la communication des données personnelles à des tiers en cas de fusion /
                    absorption</h2>
                <br/>
                <strong>Information préalable et possibilité d’opt-out avant et après la fusion /
                    acquisition</strong><br/>
                Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de
                cession d’actifs, nous nous engageons à garantir la confidentialité de vos données personnelles et à
                vous informer avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de
                confidentialité.<br/>
                &nbsp;
                <h2><br/>
                    Finalité de la réutilisation des données personnelles collectées</h2>
                <br/>
                <strong>Effectuer les opérations relatives à la gestion des clients concernant</strong><br/>
                - les contrats ; les commandes ; les livraisons ; les factures ; la comptabilité et en particulier la
                gestion des comptes clients<br/>
                - un programme de fidélité au sein d'une entité ou plusieurs entités juridiques ;<br/>
                - le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des
                réclamations et du service après-vente<br/>
                -&nbsp;la sélection de clients pour réaliser des études, sondages et tests produits (sauf consentement
                des personnes concernées recueilli dans les conditions prévues à l’article 6, ces opérations ne doivent
                pas conduire à l'établissement de profils susceptibles de faire apparaître des données sensibles -
                origines raciales ou ethniques, opinions philosophiques, politiques, syndicales, religieuses, vie
                sexuelle ou santé des personnes)<br/>
                <br/>
                <strong>Effectuer des opérations relatives à la prospection</strong><br/>
                -&nbsp;la gestion d'opérations techniques de prospection (ce qui inclut notamment les opérations
                techniques comme la normalisation, l'enrichissement et la déduplication)<br/>
                -&nbsp;la sélection de personnes pour réaliser des actions de fidélisation, de prospection, de sondage,
                de test produit et de promotion. Sauf consentement des personnes concernées recueilli dans les
                conditions prévues à l'article 6, ces opérations ne doivent pas conduire à l'établissement de profils
                susceptibles de faire apparaître des données sensibles (origines raciales ou ethniques, opinions
                philosophiques, politiques, syndicales, religieuses, vie sexuelle ou santé des personnes)<br/>
                -&nbsp;la réalisation d'opérations de sollicitations<br/>
                <br/>
                &nbsp;
                <h2>Agrégation des données</h2>
                <br/>
                <strong>Agrégation avec des données non personnelles</strong><br/>
                Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos
                Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à
                ce qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non
                personnelles à des fins d'analyse du secteur et du marché, de profilage démographique, à des fins
                promotionnelles et publicitaires et à d'autres fins commerciales.<br/>
                <br/>
                <strong>Agrégation avec des données personnelles disponibles sur les comptes sociaux de
                    l'Utilisateur</strong><br/>
                Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit
                service pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre
                information dont vous avez autorisé la divulgation. Nous pouvons agréger les informations relatives à
                tous nos autres Utilisateurs, groupes, comptes, aux données personnelles disponibles sur
                l’Utilisateur.<br/>
                &nbsp;
                <h2><br/>
                    Collecte des données d'identité</h2>
                <br/>
                <strong>Consultation libre</strong><br/>
                La consultation du Site ne nécessite pas d'inscription ni d'identification préalable. Elle peut
                s'effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom, prénom, adresse,
                etc). Nous ne procédons à aucun enregistrement de données nominatives pour la simple consultation du
                Site.<br/>
                <br/>
                &nbsp;
                <h2>Collecte des données d'identification</h2>
                <br/>
                <strong>Utilisation de l'identifiant de l’utilisateur uniquement pour l’accès aux services</strong><br/>
                Nous utilisons vos identifiants électroniques seulement pour et pendant l'exécution du contrat.<br/>
                <br/>
                &nbsp;
                <h2>Collecte des données du terminal</h2>
                <br/>
                <strong>Collecte des données de profilage et des données techniques à des fins de fourniture du
                    service</strong><br/>
                Certaines des données techniques de votre appareil sont collectées automatiquement par le Site. Ces
                informations incluent notamment votre adresse IP, fournisseur d'accès à Internet, configuration
                matérielle, configuration logicielle, type et langue du navigateur... La collecte de ces données est
                nécessaire à la fourniture des services.<br/>
                <br/>
                <br/>
                <strong>Collecte des données techniques à des fins publicitaires, commerciales et
                    statistiques</strong><br/>
                Les données techniques de votre appareil sont automatiquement collectées et enregistrées par le Site, à
                des fins publicitaires, commerciales et statistiques. Ces informations nous aident à personnaliser et à
                améliorer continuellement votre expérience sur notre Site. Nous ne collectons ni ne conservons aucune
                donnée nominative (nom, prénom, adresse...) éventuellement attachée à une donnée technique. Les données
                collectées sont susceptibles d’être revendues à des tiers.
                <h2><br/>
                    <br/>
                    Cookies</h2>
                <br/>
                <strong>Durée de conservation des cookies</strong><br/>
                Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13
                mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la
                validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies
                n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à
                l'issue de ce délai.<br/>
                <br/>
                <strong>Finalité cookies</strong><br/>
                Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services
                rendus à l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la
                personnalisation des pages ainsi que les opérations réalisées et les informations consultées. Vous êtes
                informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le cookie enregistre
                des informations relatives à la navigation sur le service (les pages que vous avez consultées, la date
                et l'heure de la consultation...) que nous pourrons lire lors de vos visites ultérieures.<br/>
                <br/>
                <strong>Droit de l'Utilisateur de refuser les cookies</strong><br/>
                Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies. Si vous ne souhaitez
                pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous permettent de
                désactiver les cookies en passant par les options de réglage.<br/>
                &nbsp;
                <h2><br/>
                    Conservation des données techniques</h2>
                <br/>
                <strong>Durée de conservation des données techniques</strong><br/>
                Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des
                finalités visées ci-avant.<br/>
                <br/>
                &nbsp;
                <h2>Délai de conservation des données personnelles et d'anonymisation</h2>
                <br/>
                <strong>Conservation des données pendant la durée de la relation contractuelle</strong><br/>
                Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux
                fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas
                conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du
                contrat ou de la durée prédéfinie de la relation contractuelle.<br/>
                <br/>
                <strong>Conservation des données anonymisées au delà de la relation contractuelle / après la suppression
                    du compte</strong><br/>
                Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des
                finalités décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et
                conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque
                nature que ce soit.
                <h2><br/>
                    <br/>
                    Indications en cas de faille de sécurité décelée par l'Éditeur</h2>
                <br/>
                <strong>Information de l'Utilisateur en cas de faille de sécurité</strong><br/>
                Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées
                afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés
                ou illégaux, de divulgation, d'altération, de perte ou encore de destruction des données personnelles
                vous concernant.<br/>
                Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous
                concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour
                conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :<br/>
                - Vous notifier l'incident dans les plus brefs délais<br/>
                -&nbsp;Examiner les causes de l'incident et vous en informer<br/>
                -&nbsp;Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets
                négatifs et préjudices pouvant résulter dudit incident<br/>
                <br/>
                <strong>Limitation de la responsabilité</strong><br/>
                En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de
                sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à
                la survenance de l'incident en question.<br/>
                &nbsp;
                <h2><br/>
                    Transfert des données personnelles à l'étranger</h2>
                <br/>
                <strong>Pas de transfert en dehors de l'Union européenne</strong><br/>
                L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de l'Union
                européenne.<br/>
                &nbsp;
                <h2><br/>
                    ​​​​​​​Modification des CGU et de la politique de confidentialité</h2>
                <br/>
                <strong>En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de
                    confidentialité de manière substantielle sans l'information préalable des personnes
                    concernées</strong><br/>
                Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas
                baisser le niveau de confidentialité de vos données de manière substantielle sans vous en informer et
                obtenir votre consentement.<br/>
                &nbsp;
                <h2><br/>
                    Droit applicable et modalités de recours</h2>
                <br/>
                <strong>Clause d'arbitrage</strong><br/>
                Vous acceptez expressément que tout litige susceptible de naître du fait des présentes CGU, notamment de
                son interprétation ou de son exécution, relèvera d'une procédure d'arbitrage soumise au règlement de la
                plateforme d'arbitrage choisie d'un commun accord, auquel vous adhérerez sans réserve<br/>
                &nbsp;
                <h2><br/>
                    Portabilité des données</h2>
                <br/>
                <strong>Portabilité des données</strong><br/>
                L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous
                concernant sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses
                données, et garde la possibilité de les réutiliser. Ces données devront être fournies dans un format
                ouvert et aisément réutilisable.
            </div>
        </article>
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}
