body{
    position: relative;
}

/*placeholder*/
/*input::-webkit-input-placeholder {!* Chrome/Opera/Safari/Edge *!*/
    /*!*styles here*!*/
/*}*/

/*input::-ms-input-placeholder { !* Microsoft Edge *!*/
    /*!*styles here*!*/
/*}*/

/*input:-ms-input-placeholder {!* IE 10+ *!*/
    /*!*styles here*!*/
/*}*/

/*input::-moz-placeholder {!* Firefox 19+ *!*/
    /*opacity: 1; !*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*!*/
    /*!*styles here*!*/
/*}*/

/*input:-moz-placeholder {!* Firefox 18- *!*/
    /*opacity: 1; !*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*!*/
    /*!*styles here*!*/
/*}*/

input::placeholder, textarea::placeholder {
    color: lightgrey !important;
    font-size: 14px;
}
h1,.h1 {
    font-size: 1.6em;
}
.navbar-item-custom, .navbar-item-custom a{
    color: #FFF;
}
.content{
    min-height: 550px;
}
#mapContact {
    height: 275px;
}
.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    /*bottom: 0;*/
    background-color: #DFEAFF;
    padding-top: 25px;
}

.product-container{
    margin-bottom: 125px;
}
.product-item{
    margin-top: 50px;
}
.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 3px;
}
.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.product-item .product-price{
    font-size: 15px;
    font-weight: bold;
}
.product-page{
    font-size: 19px;
}
.cart-icon{
    height: 20px;
    padding-left: 20px;
}
.cart-counter{
    font-size: 12px;
    width: 50px;
    padding: 2px;
}
.block-small{
    max-width: 600px;
    margin: 0 auto;
}
.form-check{
    background-color: #DFEAFF;
    padding: 20px 65px;
    margin-top: 7px;
}
.col-form-label{
    font-weight: bold;
}
.order-summary{
    background-color: #DFEAFF;
    padding: 20px;
    margin-top: 22px;
}
.cart-to-products{
    text-align: center;
}
.account-item{
    background-color: #f1f2f6;
    padding: 35px 55px;
}
.account-item a{
    text-transform: uppercase;;
    font-size: 13px;
    color: #4b7bec;
    font-weight: bold;
    margin-left: 3px;
    display: block;
}
.account-item a:hover{
    color: #0fb9b1;
    text-decoration: none;
}
.product-manage-quantity{
    margin-left: 15px;
    background-color: rgba(252,244,144,0.86);
    padding: 5px;
}

/* PAGES mentions-legales/confidentialité*/
.section-title h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    font-size: 34px;
}
.section-title h2:after {
    border-bottom: 2px solid #555;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 10%;
}
.section-title p {
    background: #FBD3A4 none repeat scroll 0 0;
    color: #000;
}
/* popover cart */
.popover-body{
    width: 500px;
}
.popover{
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}
.password-form-identity{
    background-color: #FBD3A4;
    margin-bottom: 10px;
}
.card-address .card-title{
    background-color: rgba(252,244,144,0.86);
    padding: 5px;
}
.password-rules{
    position: relative;
}
.password-rules-content{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    position: absolute;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    width: 365px;
}
.password-rules-content p{
    font-size: 0.9em;
    margin-bottom: 0;
}
.password-rules-content ul{
    background-color: #e4f9e5;
    margin-bottom: 0;
}
.password-rules-content ul li{
    background-color: #e4f9e5;
    font-size: 0.8em;
    text-align: left;
}
.form-security-content{
    margin-top: 25px;
}