<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-info-circle"></i> Informations de base</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="document-tab" data-toggle="tab" href="#document" role="tab"
           aria-controls="document" aria-selected="false">
            <i class="fa fa-file-pdf-o"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="adherent-tab" data-toggle="tab" href="#adherent" role="tab"
           aria-controls="days" aria-selected="false">
            <i class="fa fa-users"></i> {{ ea.entity.instance.adherents|length != 0 ?
            ea.entity.instance.adherents|length~' participant(s)' :'Participants'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="event-tab" data-toggle="tab" href="#event" role="tab"
           aria-controls="event" aria-selected="false">
            <i class="fa fa-calendar-alt"></i> {{ ea.entity.instance.events|length != 0 ?
            ea.entity.instance.events|length~' séance(s)' :'Séances'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="quote-tab" data-toggle="tab" href="#quote" role="tab"
           aria-controls="quote" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.quotes|length != 0 ?
            ea.entity.instance.quotes|length~' devis' :'Devis'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab"
           aria-controls="invoice" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.invoices|length != 0 ?
            ea.entity.instance.invoices|length~' factures' :'Factures'  }}
        </a>
    </li>
</ul>


{{ form_start(object) }}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(object.client) }}
                {{ form_row(object.persons) }}
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">{{ form_row(object.isFaceToFace) }}</div>
                    <div class="col-md-6">{{ form_row(object.address) }}</div>
                </div>
            </div>

            <div class="col-md-12">
                {{ form_row(object.products) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="document" role="tabpanel" aria-labelledby="document-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.documents) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="adherent" role="tabpanel" aria-labelledby="adherent-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.adherents) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="event" role="tabpanel" aria-labelledby="event-tab">
        <div class="row">
            <div class="col-md-12">
                {#{% form_theme object.events 'admin/contract/events.html.twig' %}#}
                {{ form_row(object.events) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="quote" role="tabpanel" aria-labelledby="quote-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.quotes) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.invoices) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(object) }}