{% extends '@!EasyAdmin/crud/detail.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with { parent:parent(), type:'edit_detail', object: 'contract' } %}
{% endblock %}

{% block main %}
    {% include '_partials/_adminModal.html.twig' %}
    {% include 'admin/contract/detail/_main.html.twig' %}
{% endblock %}