{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% trans_default_domain 'admin' %}

{#{% set reference = edit_form.vars.data.reference ? edit_form.vars.data.reference : '' %}#}

{#{% block content_title %}#}
    {#{{ parent() }} : <span class="modifiedLabel">{{ reference }}</span><br>#}
    {#<small>{{ 'admin.edit_detail.subtitle.small.header.edit'|trans~' '~#}
        {#'admin.edit_detail.subtitle.small.content.contract'|trans~' ['#}
        {#~ edit_form.vars.data.id ~']' }}</small>#}
    {#<hr>#}
{#{% endblock %}#}
{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with {parent:parent(), type:'edit', object: 'contract',
        data:edit_form.vars.data} %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block edit_form %}
            {% include 'admin/contract/_form.html.twig' with {object: edit_form} %}
        {% endblock edit_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>

    <script>
        // $(function(){
        //     alert('toto');
        //     $('.form-widget-compound').children('.form-group').each(function(){
        //         // $(this).css('display','inline-block');
        //         $(this).css('background','yellow');
        //     });
        // });

    </script>
{% endblock %}