{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with { parent:parent(), type:'new', object: 'paymentType' } %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block new_form %}
            {% include 'admin/paymentType/_form.html.twig' with {object: new_form} %}
        {% endblock new_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
{% endblock %}