{% extends 'base.html.twig' %}

{% block title %}{{ 'security.resetPassword.title'|trans }}{% endblock %}

{% block content %}
    <div class="block-small">
        <h1 class="h3 mb-3 font-weight-normal"><span class="fas fa-user-lock"></span> {{ 'security.resetPassword.headTitle'|trans }}</h1>
        <hr>
        <div class="form-security-content">
            <form method="post">
                <label for="inputEmail">{{ 'security.resetPassword.form.email.label'|trans }}</label>
                <input type="email" name="email" id="inputEmail" placeholder="{{ 'security.resetPassword.form.email.placeholder'|trans }}"
                       class="form-control" required autofocus>

                <button class="btn btn-lg btn-block btn-info mt-3" type="submit">
                    {{ 'security.resetPassword.form.submitButton.label'|trans }}
                </button>
                <hr>
                <p class="text-center">{{ app.request.locale == 'fr' ? 'Ou souhaitez-vous': 'Or would you like' }}
                    <a href="{{ path('app_login') }}"> {{ app.request.locale == 'fr' ? 'vous connecter': 'to sign in' }}</a>
                </p>
            </form>
        </div>

    </div>
{% endblock %}
