{% extends 'base.html.twig' %}

{% block title %}{{ appName~'|Mot de passe oublié' }}{% endblock %}

{% block content %}
    <div class="block-small">
        <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>

        {{ form(form) }}
    </div>
{% endblock %}
