{% set adherents = contract.adherents %}

{% if adherents|length %}

    {# boutons action #}
    <div style="float: right;margin-bottom: 5px;">
        <!-- convocations de formation -->
        <button class="btn btn-sm btn-default">
            <a href="{{ path('app_contract_convocations', {id:contract.id}) }}"
               title="Générer les convocations de formation">
                <i class="fa fa-file-pdf"></i> Convocations de formation
            </a>
        </button>

        <!-- attestation de fin de formation -->
        <button class="btn btn-sm btn-default">
            <a href="{{ path('app_contract_certificates', {id:contract.id}) }}"
               title="Générer les attestations de fin de formation">
                <i class="fa fa-file-pdf"></i> Attestations de fin de formation
            </a>
        </button>

    </div>

    <table class="table table-bordered table-striped table-hover" data-contract="{{ contract.id }}">
        <thead>
        <tr>
            <th>{{ adherents|length }} participants</th>
            <th>Email</th>
            <th>Convocation de formation</th>
            <th>Attestation de fin de formation</th>
        </tr>
        </thead>
        <tbody>
        {% for adherent in adherents %}
            <tr data-id="{{ adherent.id }}">
                <td>{{ loop.index }} - <i class="fa fa-user"></i> {{ adherent }}
                    <span style="float: right;">
                        <a href="#" title="Supprimer le participant {{ adherent }}" class="deleteAdherent"><i class="fa fa-trash"></i></a>
                    </span>
                </td>
                <td>{{ adherent.email }}</td>
                <td align="center">
                    <a href="{{ path('app_adherent_convocation', {id:adherent.id, contract:contract.id}) }}"
                       title="Générer la convocation"><i class="fa fa-file-pdf"></i></a>
                    <a href="" title="Envoyer la convocation"><i class="fa fa-send-o"></i></a>
                </td>
                <td align="center">
                    <a href="{{ path('app_adherent_certificate', {id:adherent.id, contract:contract.id}) }}"
                       title="Générer l'attestation de fin de formation"><i class="fa fa-file-pdf"></i></a>
                    <a href="" title="Envoyer l'attestation de fin de formation"><i class="fa fa-send-o"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun participant enregistré pour le moment.
{% endif %}
