{% set documents = contract.documents %}

{% if documents|length %}

    {# boutons action #}
    <div style="float: right;margin-bottom: 5px;">

        <!-- Générer la convention de formation -->
        <button class="btn btn-sm btn-default">
            <a href="{{ path('app_contract_convention', {id:contract.id}) }}" title="Générer la convention de formation"><i class="fa fa-file-pdf"></i> Générer la convention
                de formation</a>
        </button>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>{{ documents|length }} documents scannés</th>
            {#<th>Nom du document scanné</th>#}
            <th>Nom du fichier scanné</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ loop.index }} - <i class="fa fa-file"></i> {{ document.type }}</td>
                {#<td>{{ document.name }}</td>#}
                <td>
                    <a href="/uploads/documents/{{ document.doctPdf }}" title="Télécharger le document"
                       download="{{ 'now'|date('Ymd')~'_'~document.doctPdf }}">
                        {{ document.doctPdf }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun document enregistré pour le moment.
{% endif %}
