{% set events = contract.events %}

{% if events|length %}

    <div style="float: right;margin-bottom: 5px;">
        <!-- feuilles de présences -->
        <button class="btn btn-sm btn-default">
            <a href="{{ path('app_contract_attendance_sheets', {id:contract.id}) }}"
               title="Générer les feuilles de présence">
                <i class="fa fa-file-pdf"></i> Feuilles de présence hebdomadaires
            </a>
        </button>

        <!-- Feuilles de présence exemplaire scanné -->
        <button class="btn btn-sm btn-default">
            <a href="" title="Consulter la feuille de présence de la séance scannée"><i
                        class="fa fa-file-pdf"></i></a>
            <a href="#"
               title="Générer le sommaire de séance">
                <i class="fa fa-file-pdf"></i> Plans de séance de formation
            </a>
        </button>
    </div>

    <span style="float: right;">
           </span>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>{{ events|length }} séances de formation</th>
            <th>Statut</th>
            <th colspan="2">Feuilles de présence scannées</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events|sort((a, b) => a.startAt <=> b.startAt) %}
            <tr>
                <td>{{ loop.index  }} - <i class="fa fa-calendar-alt"></i>
                    Le {{ event.startAt|date('Y-m-d H:i')|format_datetime('full', 'none', locale='fr') }}
                    de {{ event.startAt|date('Y-m-d H:i')|format_datetime('none', 'short', locale='fr') }}
                    à {{ event.endAt|date('Y-m-d H:i')|format_datetime('none', 'short', locale='fr') }}
                    - {{ event.adherentEvents|length }} participants

                    <a href="#" style="float: right;"
                       title="Feuille de présence - {{ event }}"><i class="fa fa-file-pdf"></i></a>

                    <a href="#" style="float: right;margin-right: 3px;"
                       title="Supprimer la séance {{ event }}"><i class="fa fa-trash"></i></a>

                    <table class="table table-bordered">
                        {#{{ dump(event.adherentEvents) }}#}
                        {% for adherentEvent in event.adherentEvents %}
                            <tr data-id="{{ adherentEvent.id }}">
                                <td style="color: dodgerblue; padding: 0 10px">
                                    <i class="fa fa-user"></i>
                                    {{ loop.index }} - <span style="color: #000">{{ adherentEvent.adherent.fullname }}</span> ajouté le
                                    {{ adherentEvent.createdAt|date('d/m/Y H:i:s') }}
                                </td>
                                <td style="padding: 0 10px">
                                    <div class="bs-switch">
                                        <input type="checkbox" name="bs-switch" class="bs-switch-checkbox switchHere"
                                               id="mySwitch_{{ adherentEvent.id }}" {{ adherentEvent.isHere is same as (true) ? 'checked' : '' }}>
                                        <label class="bs-switch-label" for="mySwitch_{{ adherentEvent.id }}">
                                            <div class="bs-switch-inner"></div>
                                            <div class="bs-switch-switch"></div>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td align="center"><i class="fa fa-arrow-circle-right"></i> {{ event.status }}</td>
                <td align="center">
                    <a href="{{ path('app_contract_event_support', {id:event.contract.id}) }}"
                       title="Générer le support de séance de formation"><i class="fa fa-file-pdf"></i></a>
                </td>
                <td align="center">
                    <a href="" title="Consulter la/les feuille(s) de présence de la séance scannée"><i
                                class="fa fa-file-pdf"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucune séance de formation enregistrée pour le moment.
{% endif %}

{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.toastr.js') }}"></script>
    <script src="{{ asset('assets/js/scriptContract.js') }}"></script>
{% endblock %}
