INFO CONTRACT
--------------------------

<fieldset>
    <legend>Intervenant(s)</legend>
    {% set persons = contract.persons %}
    {% if persons|length %}

        {% if persons|length == 1 %}
            {{ persons[0] }}
        {% else %}
            <ul>
                {% for person in persons %}
                    <li>{{ person }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        Aucun formateur enregistré pour le moment.
    {% endif %}
</fieldset>

<fieldset>
    <legend>Formation(s)</legend>
    {% set products = contract.products %}
    {% if products|length %}

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nom de la formation</th>
                <th>Durée en hours</th>
                <th>Nb maximum de participants</th>
                <th>Documents initiaux</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><i class="fa fa-graduation-cap"></i> {{ product }}</td>
                    <td align="right">{{ product.hourDuration }}</td>
                    <td align="right">{{ product.maxAdherents}}</td>
                    <td>
                        <button class="btn btn-sm btn-default mb-2">
                            <a href="#"
                               title="Générer le plan de formation">
                                <i class="fa fa-file-pdf"></i> Plan de formation
                            </a>
                        </button>
                        <br>
                        <button class="btn btn-sm btn-default">
                            <a href="#"
                               title="Générer le support de formation">
                                <i class="fa fa-file-pdf"></i> Support de formation
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune formation enregistrée pour le moment.
    {% endif %}
</fieldset>
