{% set invoices = contract.invoices %}

{% if invoices|length %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>{{ invoices|length }} {{ invoices|length >1 ? 'factures enregistrées' : 'facture enregistrée' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><i class="fa fa-file-o"></i> {{ invoice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucune facture enregistrée pour le moment.
{% endif %}
