{% set payments = contract.payments %}

{% if payments|length %}

    <table class="table table-bordered table-striped table-hover">
        <tbody>
        {% for payment in payments %}
            <tr>
                <td><i class="fa fa-euro"></i> {{ payment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun paiement enregistré pour le moment.
{% endif %}
