{% set quotes = contract.quotes %}

{% if quotes|length %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>{{ quotes|length }} {{ quotes|length >1 ? 'devis enregistrés' : 'devis enregistré' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td><i class="fa fa-file-o"></i> {{ quote }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun devis enregistré pour le moment.
{% endif %}
