{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with {parent:parent(), type:'edit', object: 'paymentCondition',
        data:edit_form.vars.data} %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block edit_form %}
            {% include 'admin/paymentCondition/_form.html.twig' with {object: edit_form} %}
        {% endblock edit_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
{% endblock %}