<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Total charges</th>
        <td align="right">{{ ((field.value['charges']) / 100)|number_format(2,',','.') }} €</td>
    </tr>
    <tr>
        <th>Total paiements</th>
        <td align="right">{{ ((field.value['payments']) / 100)|number_format(2,',','.') }} €</td>
    </tr>
    <tr>
        <th>Total devis</th>
        <td align="right">{{ ((field.value['quotes']) / 100)|number_format(2,',','.') }} €</td>
    </tr>
    <tr>
        <th>Total factures</th>
        <td align="right">{{ ((field.value['invoices']) / 100)|number_format(2,',','.') }} €</td>
    </tr>
</table>
