{% extends 'base.html.twig' %}

{% block title %}Modification paramétrage agenda{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-agenda-setting" class="container" style="min-height: 550px;">

        <h1><i class="fa fa-cogs" style="margin-right: 15px;"></i> {{'admin.calendarParameter.headTitle'|trans({},'admin') }}</h1>

        {% set url = ea_url()
            .setDashboard('App\\Controller\\Admin\\DashboardController') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url }}">Retour vers le back office</a>
        {% endif %}
        |
        {% if is_granted('ROLE_PERSON') %}
            <a href="{{ path('events', {token: app.user.agendaToken}) }}">Retour vers l'agenda</a>
        {% endif %}

        {% set required = form.vars.required ? '*' : '' %}

        <div style="margin-top: 75px;">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.minDate, 'admin.calendarParameter.form.minDate.label'|trans({},'admin')~required) }}
                    {{ form_widget(form.minDate) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.maxDate, 'admin.calendarParameter.form.maxDate.label'|trans({},'admin')~required) }}
                    {{ form_widget(form.maxDate) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.firstDayWeek, 'admin.calendarParameter.form.firstDayWeek.label'|trans({},'admin')~required) }}
                    {{ form_widget(form.firstDayWeek) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.minTimeDay, 'admin.calendarParameter.form.minTimeDay.label'|trans({},'admin')~required) }}
                    {{ form_widget(form.minTimeDay) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.maxTimeDay, 'admin.calendarParameter.form.maxTimeDay.label'|trans({},'admin')~required) }}
                    {{ form_widget(form.maxTimeDay) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(form.weekNumbers, 'admin.calendarParameter.form.weekNumbers.label'|trans({},'admin')~required) }}
                    {{ form_widget(form.weekNumbers) }}
                </div>
            </div>
            <div style="float: right;">
                <button type="submit" title="Enregistrer" class="btn btn-info">
                    <i class="fa fa-save"></i> Enregistrer
                </button>

                <button type="button" title="Annuler" class="btn btn-default">
                    <i class="fa fa-ban"></i> Annuler
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock content %}
