{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% trans_default_domain 'admin' %}

{#{% set label = edit_form.vars.data.label ? edit_form.vars.data.label : '' %}#}

{#{% block content_title %}#}
    {#{{ parent() }} : <span class="modifiedLabel">{{ label }}</span><br>#}
    {#<small>{{ 'admin.edit_detail.subtitle.small.header.edit'|trans~' '~#}
        {#'admin.edit_detail.subtitle.small.content.charge'|trans~' ['#}
        {#~ edit_form.vars.data.id ~']' }}</small>#}
    {#<hr>#}
{#{% endblock %}#}
{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with {parent:parent(), type:'edit', object: 'charge',
        data:edit_form.vars.data} %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block edit_form %}
            {% include 'admin/charge/_form.html.twig' with {object: edit_form} %}
        {% endblock edit_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
{% endblock %}