<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient {{ object.patient.reference }}|Facture séance du</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style>

        /**
          Set the margins of the page to 0, so the footer and the header
          can be of the full height and width !
        **/
        @page {
            margin: 0.5cm 0.5cm;
        }

        /** Define now the real margins of every page in the PDF **/
        body {
            font-size: 10px;
            /*margin-top: 2cm;*/
            /*margin-left: 2cm;*/
            /*margin-right: 2cm;*/
            /*margin-bottom: 2cm;*/
        }

        /** Define the header rules **/
        /*header {*/
        /*position: fixed;*/
        /*top: 0cm;*/
        /*left: 0cm;*/
        /*right: 0cm;*/
        /*height: 2cm;*/

        /*!** Extra personal styles **!*/
        /*background-color: #03a9f4;*/
        /*color: white;*/
        /*text-align: center;*/
        /*line-height: 1.5cm;*/
        /*}*/

        /** Define the footer rules **/
        footer {
            position: fixed;
            bottom: 0.3cm;
            left: 1cm;
            right: 1cm;
            height: 1.2cm;

            /** Extra personal styles **/
            background-color: #ffffff;
            color: #000;
        }

        .wrapper-page {
            page-break-after: always;
        }

        .wrapper-page:last-child {
            page-break-after: avoid;
        }

        {# section header #}
        section#header img.logo {
            width: 200px;
            margin: 10px 20px;
        }

        section#header .invoiceLib {
            font-size: 12px;
            color: grey;
            text-transform: uppercase
        }

        {# section body #}
        section#body table#detail {
            border: #800269;
        }

        section#body table#detail th {
            background: #800269;
            color: #FFF;
            padding: 2px;
        }

        section#body table#detail th tr td {
            padding: 2px;
        }

        section#body .address {
            font-size: 10px;
        }

        section#body .address .organizationName {
            font-weight: bold;
        }

        /* Show current page number via CSS counter feature */
        .page-number:before {
            content: counter(page);
        }
    </style>
</head>
<body style="margin: 20px;">
{# https://ourcodeworld.com/articles/read/687/how-to-configure-a-header-and-footer-in-dompdf #}
{#<header>#}
{#Date du jour#}
{#</header>#}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {#<link href="{{ absolute_url(asset('assets/css/pdf.css')) }}" rel="stylesheet" type="text/css">#}
{% endblock %}

{# FOOTER #}
<footer>
    <small><em>TVA non applicable, article 293B du Code général des impôts.</em></small>
    <table class="table">
        <tr style="font-size: 11px;">
            <td width="300px">
                {% if object.organization is defined %}
                    {% if object.organization.createdAt|date('Y') != "now"|date("Y") %}
                        {% set period = object.organization.createdAt|date('Y')~'-'~ "now"|date("Y") %}
                    {% else %}
                        {% set period = "now"|date("Y") %}
                    {% endif %}
                {% endif %}
                Tous droits réservés
                &copy; {{ period }} | {{ object.organization is defined ? object.organization.name~' - '~object.organization.representedBy : '' }}
            </td>
            <td style="width: 60px;text-align: right">
                <span style="display: inline" >Page <span class="page-number"></span> / DOMPDF_PAGE_COUNT_PLACEHOLDER</span>
            </td>
        </tr>
    </table>
</footer>

{% block content %}
    <div class="wrapper-page" style="page-break-after: avoid;">
        {# HEADER #}
        <section id="header">
            <div class="row">
                <div class="col mb-12">
                    <table>
                        <tr>
                            <td width="250px">
                                {% set logo = object.organization.illustration is not null ?
                                    '/uploads/organization/'~object.organization.illustration : appImgDefault %}
                                <img src="{{ absolute_url(asset(logo)) }}" alt="Organization logo" class="logo"/>
                            </td>
                            <td width="330px">
                                <span style="font-weight: bold;">{{ object.organization.name }}</span><br>
                                <div class="address">
                                    {{ object.organization.street }} <br>
                                    {{ object.organization.zipcode }} {{ object.organization.city }}<br>
                                    <small>Tél: {{ object.organization.phoneNumber }}</small>
                                    <small>{{ object.organization.email }}c</small>
                                </div>
                                <p>
                                    <small>Siret: {{ object.organization.siretNumber }}</small>
                                    {{ object.organization.rcs is not same as(null) ? ('<br>'~object.organization.rcs)|raw:'' }}
                                </p>
                            </td>

                            {# Référence facture #}
                            <td>
                                <div class="invoice">
                                    <p class="invoiceLib">Facture <br>
                                        <span style="font-size: 1em;color: black">{{ object.reference }}</span>
                                    </p>
                                    <br>
                                    Le {{ "now"|date("d/m/Y") }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        {# BODY #}
        <section id="body">
            <div class="col">
                <table id="patientAddress">
                    <tr class="text-dodgerblue">
                        <td width="450px"></td>
                        <td>
                            <b>A l'attention de</b><br>
                            {{ object.patient.fullname }}<br>
                            {{ object.patient.street }}<br>
                            {{ object.patient.zipcode }} {{ object.patient.city }}
                        </td>
                    </tr>
                </table>
                <br><br>
                {# Lignes de détail #}
                <table id="detail" class="table table-bordered">
                    <thead>
                    <tr style="font-size: 12px;">
                        <th width="320px">Désignation</th>
                        <th width="50px">Qté</th>
                        <th width="80px">P.U. Brut HT</th>
                        <th width="80px">Remise %</th>
                        <th width="80px">P.U. Net HT</th>
                        <th width="80px">Total HT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalHT = null %}
                    {% for detail in object.invoiceDetails %}
                        <tr style="font-size: 11px;">
                            <td>{{ detail.designation }}</td>
                            <td align="center">{{ detail.quantity }}</td>
                            <td align="right">{{ (detail.amountHT/100)|number_format(2,',','.') }} €</td>
                            <td></td>
                            <td align="right">{{ ((detail.quantity * detail.amountHT)/100)|number_format(2,',','.') }} €</td>
                            <td align="right">{{ ((detail.quantity * detail.amountHT)/100)|number_format(2,',','.') }} €</td>
                        </tr>
                        {% set totalHT = totalHT + (detail.amountHT * detail.quantity) %}
                    {% endfor %}
                    </tbody>
                </table>

                {# sous-total #}
                <div style="margin-left: 500px;padding: 0;font-size: 11px;">
                    <table id="totals">
                        <tr>
                            <td width="150px" align="right"><b>Total brut HT en €:</b></td>
                            <td width="70px" align="right">{{ (totalHT/100)|number_format(2,',','.') }} €</td>
                        </tr>
                        <tr>
                            <td align="right"><b>(-) Remise (0%):</b></td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td align="right"><b>(+) Débours:</b></td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td align="right"><b>TOTAL net HT en €.:</b></td>
                            <td align="right"><b>{{ (totalHT/100)|number_format(2,',','.') }} €</b></td>
                        </tr>
                        <tr>
                            <td align="right"><b>(-) Acompte:</b></td>
                            <td align="right"></td>
                        </tr>
                        <tr>
                            <td align="right"><b>Net à payer en €:</b></td>
                            <td align="right"><b>{{ (totalHT/100)|number_format(2,',','.') }} €</b></td>
                        </tr>
                    </table>
                </div>

                <hr>
                <p><span class="text-dodgerblue">Echéance</span><br><b>{{ object.paymentCondition }}</b></p>

                <p>
                    En cas de retard de paiement, application d'une indemnité forfaitaire pour frais de recouvrement de
                    40€ selon l'article D 441-5 du Code de Commerce.
                </p>

                <p>
                    <span class="text-dodgerblue">Détails bancaires</span><br>
                    {{ object.organization.bankName }}<br>
                    <b>IBAN</b> : {{ object.organization.iban ? object.organization.iban:'A préciser' }}
                </p>
            </div>
        </section>
    </div> <!-- fin wrapper -->
{% endblock %}

</body>
</html>