@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
}
img.logo{
    width: 170px;
}
.titleDocument{
    font-size: 35px;
}
