@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
}
p.logo{
    font-size: 30px;
}
hr {
    height: 2px;
    color: dodgerblue;
    background-color: dodgerblue;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-dodgerblue{
    color: dodgerblue;
}
table#detail{
    border-color: grey;
    margin-top: 50px;
}
table#detail thead{
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

table#detail tr:last-child{
    border-bottom: 2px solid dodgerblue;
}
table#totals td{
    width: 100px;
    text-align: right;
}
table#totals tr:nth-child(3){
    border-color: lightgrey;
    font-weight: bold;
}
table#totals tr:last-child{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
