{% set activities = organization.organizationActivities %}

{# WORKFLOWS #}
Activation des parcours :
    - CABINET/PATIENTELE <br>
    - CONTRAT/CLIENTELE/FORMATION <br>
    - ATELIERS/ADHERENTS/INTERVENANTS

{# ACTIVITES #}
{% if activities|length %}
    <div class="row" id="detailActivities">
        <div class="col-md-3 mb-3">
            <ul class="nav nav-tabs nav-fill flex-column w-100" id="myTab" role="tablist">
                {% for activity in activities %}
                    <li class="nav-item">
                        <a class="nav-link {{ loop.first ? 'active': '' }}" id="nav{{ activity.id }}-tab" data-toggle="tab" href="#activity{{ activity.id }}" role="tab"
                           aria-controls="activity{{ activity.id }}" aria-selected="true">{{ activity.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-9">
            <div class="tab-content" style="min-width: 700px;" id="myTabContent">
                {% for activity in activities %}
                    <div class="tab-pane fade show {{ loop.first ? 'active': '' }}" id="activity{{ activity.id }}" role="tabpanel"
                         aria-labelledby="activity{{ activity.id }}-tab">

                        <table class="table table-bordered">
                            <tr>
                                <th>Icône</th>
                                <td>
                                    {% set icon = activity.icon is not null and assetExists(activity.icon, 'images') ?
                                        '/uploads/images/'~activity.icon : appImgDefault %}
                                    <img width="90px" src="{{ asset(icon) }}" alt="{{ activity.name }} icon">
                                </td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>
                                    {% set illustration = activity.illustration is not null and assetExists(activity.illustration, 'images') ?
                                        '/uploads/images/'~activity.illustration : appImgDefault %}
                                    <img width="90px" src="{{ asset(illustration) }}" alt="{{ activity.name }} image">
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ activity.shortDescription|raw }}</td>
                            </tr>
                            <tr>
                                <th>Description courte</th>
                                <td>{{ activity.description|raw }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.col-md-8 -->
    </div>

{% else %}
    Aucune activité ajoutée pour le moment.
{% endif %}