<small style="display: block;width: 100%;background: #FFF">Créé le {{ organization.createdAt|date('d/m/Y') }}
    {#<span style="float: right;font-weight: bold;">Rôle utilisateur: {{ organization.user.roles[0] == 'ROLE_ADMIN' ? 'Administrateur':'' }}</span>#}
</small>

<table class="table table-bordered">
    <tr>
        <th width="20%">Nom</th>
        <td>{{ organization.name }}</td>
    </tr>
    <tr>
        <th>Parcours plateforme</th>
        <td>
            <ul>
                {% for workflow in organization.workflows %}
                <li>  {{ workflow }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>N° de téléphone</th>
        <td>{{ organization.phoneNumber }}</td>
    </tr>
    <tr>
        <th>Adresse électronique</th>
        <td>{{ organization.email }}</td>
    </tr>
    <tr>
        <th>Adresse</th>
        <td>{{ organization.street~' '~organization.zipcode~' - '~organization.city~' - '~organization.country }}</td>
    </tr>
    <tr>
        <th>Logo</th>
        <td>
            {% set logo = organization.illustration is not null and assetExists(organization.illustration, 'organization') ? '/uploads/organization/'~organization.illustration : appImgDefault %}
            <img src="{{ asset(logo) }}" alt="Organization logo" width="100px" style="margin:10px 0"/>
        </td>
    </tr>
    <tr>
        <th>Signature</th>
        <td>
            {% set signature = organization.signature is not null and assetExists(organization.signature, 'organization') ? '/uploads/organization/'~organization.signature : appImgDefault %}
            <img src="{{ asset(signature) }}" alt="Organization signature" width="100px" style="margin:10px 0"/>
        </td>
    </tr>
</table>