<table class="table table-bordered">
    <tr>
        <th width="20%">N° siret</th>
        <td>{{ organization.siretNumber }}</td>
    </tr>
    <tr>
        <th>N° RCS</th>
        <td>{{ organization.rcs}}</td>
    </tr>
    <tr>
        <th>Nom de la banque</th>
        <td>{{ organization.bankName}}</td>
    </tr>
    <tr>
        <th>Iban</th>
        <td>{{ organization.iban}}</td>
    </tr>
    <tr>
        <th>Assujetti à la TVA</th>
        <td>{{ organization.isTaxSubject}}</td>
    </tr>
    <tr>
        <th>Taux de TVA</th>
        <td>{{ organization.taxRate}}</td>
    </tr>
</table>
