Liste des comptes utilisateurs rattachés à l'organisation PAR ROLE :
<ul>
    <li>Administrateur(s) - ROLE_ADMIN</li>
    <li>Patient(s) - ROLE_PATIENT</li>
    <li>Client(s) - ROLE_CLIENT</li>
    <li>Intervenant(s) - ROLE_PERSON</li>
</ul>

{% set users = organization.users %}

{% if users|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date de création</th>
            <th>Prénom Nom</th>
            <th>Email</th>
            <th>Rôle utilisateur</th>
            <th>Date heure dernière connexion</th>
            <th>Date d'activation</th>
            <th>Activation</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.createdAt|date('d/m/Y') }}</td>
                <td>{{ user }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td></td>
                <td>{{ user.activatedAt|date('d/m/Y') }}</td>
                <td>{{ user.isActive }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun utilisateur enregistré pour le moment.
{% endif %}
