{% set checked = '<i class="fa fa-check"></i>' %}
{% set noChecked = '<i class="fa fa-square-o"></i>' %}

<table class="table table-bordered">
    <tr>
        <th width="20%">Activation des sections en page d'accueil Equipe</th>
        <td>
            Section Equipe: {{ organization.isHomeTeam ? checked|raw : noChecked|raw }} <br>
            Section Meilleurs produits: {{ organization.isHomeBest ? checked|raw : noChecked|raw }} <br>
            Section Articles: {{ organization.isHomePost ? checked|raw : noChecked|raw }} <br>
        </td>
    </tr>
    <tr>
        <th>isActiveProductShowBest</th>
        <td>{{ organization.isActiveProductShowBest ? checked|raw : noChecked|raw }}</td>
    </tr>
    <tr>
        <th>Activation Ecommerce</th>
        <td>{{ organization.isActiveEcommerce ? checked|raw : noChecked|raw }}</td>
    </tr>
    <tr>
        <th>Multilingue</th>
        <td>{{ organization.isMultilingual ? checked|raw : noChecked|raw }}</td>
    </tr>
    <tr>
        <th>Section Citation</th>
        <td>{{ organization.isHomeCitation ? checked|raw : noChecked|raw }} - {{ organization.homeCitationTimer }} secondes</td>
    </tr>
    <tr>
        <th>Affichage des prix de formation</th>
        <td>{{ organization.isPriceShow ? checked|raw : noChecked|raw }}</td>
    </tr>
</table>