<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-info-circle"></i> Informations de base</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="coord-tab" data-toggle="tab" href="#coord" role="tab"
           aria-controls="coord" aria-selected="false"><i class="fa fa-map-marker"></i> Coordonnées</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="documents" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
           aria-controls="events" aria-selected="false">
            <i class="fa fa-calendar-alt"></i> {{ ea.entity.instance.events|length != 0 ?
            ea.entity.instance.events|length~' séance(s)' :'Séances'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="payments-tab" data-toggle="tab" href="#payments" role="tab"
           aria-controls="events" aria-selected="false">
            <i class="fa fa-euro"></i> {{ ea.entity.instance.payments|length != 0 ?
            ea.entity.instance.payments|length~' paiement(s)' :'Paiements'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="invoices-tab" data-toggle="tab" href="#invoices" role="tab"
           aria-controls="invoices" aria-selected="false">
            <i class="fa fa-file-pdf-o"></i> {{ ea.entity.instance.invoices|length != 0 ?
            ea.entity.instance.invoices|length~' facture(s)' :'Factures'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
           aria-controls="comments" aria-selected="false">
            <i class="fa fa-pen-fancy"></i> Bloc-notes
        </a>
    </li>
    {#<li class="nav-item">#}
        {#<a class="nav-link" id="historical-tab" data-toggle="tab" href="#historical" role="tab"#}
           {#aria-controls="historical" aria-selected="false">#}
            {#<i class="fa fa-list"></i> Historique#}
        {#</a>#}
    {#</li>#}
</ul>

{{ form_start(object) }}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.organization) }}
                {{ form_row(object.type) }}
                {{ form_row(object.civility) }}
                {{ form_row(object.firstname) }}
                {{ form_row(object.lastname) }}
                {{ form_row(object.birthDate) }}
                {{ form_row(object.familySituation) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="coord" role="tabpanel" aria-labelledby="coord-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.street) }}
                {{ form_row(object.zipcode) }}
                {{ form_row(object.city) }}
                {{ form_row(object.country) }}
                <hr>
                {{ form_row(object.email) }}
                {{ form_row(object.phoneNumber) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.documents) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="events" role="tabpanel" aria-labelledby="events-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.events) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="payments" role="tabpanel" aria-labelledby="payments-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.payments) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.invoices) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.comments) }}
            </div>
        </div>
    </div>
    {#<div class="tab-pane fade show" id="historical" role="tabpanel" aria-labelledby="historical-tab">#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#{{ form_row(object.historicals) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</div>
{{ form_end(object) }}