{{ form_start(form, {'attr':{'id':'formEventPatient' }}) }}

{#{% if mode == 'edit' %}#}
    {#{{ form_row(form.isFirst) }}#}
{#{% endif %}#}

<div class="text-center">
    <button type="submit" class="btn btn-default submitForm">
        <i class="fa fa-save"></i> Enregistrer
        {% include '_partials/_loaderMiniBtnSave.html.twig' %}
    </button>
</div>
{{ form_end(form) }}
