{% set contract = entity.instance %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="documents" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="adherents-tab" data-toggle="tab" href="#adherents" role="tab"
           aria-controls="adherents" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.adherents|length != 0 ?
            ea.entity.instance.adherents|length~' participant(s)' :'Participants'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
           aria-controls="events" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.events|length != 0 ?
            ea.entity.instance.events|length~' séance(s)' :'Séances'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="quotes-tab" data-toggle="tab" href="#quotes" role="tab"
           aria-controls="quotes" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.quotes|length != 0 ?
            ea.entity.instance.quotes|length~' devis' :'Devis'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="invoices-tab" data-toggle="tab" href="#invoices" role="tab"
           aria-controls="invoices" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.invoices|length != 0 ?
            ea.entity.instance.invoices|length~' facture(s)' :'Factures'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="payments-tab" data-toggle="tab" href="#payments" role="tab"
           aria-controls="payments" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.payments|length != 0 ?
            ea.entity.instance.payments|length~' paiement(s)' :'Paiements'  }}
        </a>
    </li>
</ul>

{# TAB content #}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_info.html.twig' %}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_document.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="adherents" role="tabpanel" aria-labelledby="adherents-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_adherent.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="events" role="tabpanel" aria-labelledby="events-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_event.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="quotes" role="tabpanel" aria-labelledby="quotes-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_quote.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_invoice.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="payments" role="tabpanel" aria-labelledby="payments-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/contract/detail/tabs/_payment.html.twig' %}
            </div>
        </div>
    </div>
</div>