{% extends 'layout-pdf.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <h2>Liste des ateliers</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}


