{% extends 'layout-pdf.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                {% if invoice.organization.illustration is defined and invoice.organization.illustration is not null %}
                    <img width="170px" src="{{ absolute_url(asset('uploads/'~invoice.organization.illustration)) }}" alt="logo">
                {% endif %}
            </div>

            <div class="col text-right ">
                <p class="text-uppercase" style="font-size: 1.6em;color:grey;">Facture</p>
                <p style="font-size: 1em;">N° {{ invoice.reference }}</p>
            </div>
            <div class="col">
                <span style="font-size: 1.3em;font-weight: bold;">{{ invoice.organization.name }}</span><br>
                <address style="font-size: 1.2em;">
                    {{ invoice.organization.street }} <br>
                    {{ invoice.organization.zipcode }} {{ invoice.organization.city }}<br>
                    <small>Tél: {{ invoice.organization.phoneNumber }}</small>
                    <small>{{ invoice.organization.email }}c</small>
                </address>
                <p>
                    Siret: {{ invoice.organization.siretNumber }}
                    {{ invoice.organization.rcs is not same as(null) ? ('<br>'~invoice.organization.rcs)|raw:'' }}
                </p>
                <hr>
                <table>
                    <tr class="text-dodgerblue">
                        <td width="780px"><b>A l'attention de</b></td>
                        <td><b>Date</b></td>
                    </tr>
                    <tr>
                        {% set nomClient = invoice.client.companyName is not same as(null)
                        ? invoice.client.companyName : invoice.client.firstname~' '~invoice.client.lastname %}
                        <td width="780px">{{ nomClient }}</td>
                        <td>{{ "now"|date("m/d/Y") }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ invoice.client.street }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ invoice.client.zipcode }} {{ invoice.client.city }}<br>{{ invoice.client.country }}</td>
                    </tr>
                </table>

                <!-- Lignes de détail -->
                <table id="detail" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantité</th>
                        <th>Prix unitaire €</th>
                        <th>Montant €</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set totalHT = null %}
                    {% for detail in invoice.invoiceDetails %}
                        <tr>
                            <td>{{ detail.product.name }}</td>
                            <td align="center">{{ detail.quantity }}</td>
                            <td align="right">{{ (detail.amountHT/100)|number_format(2,',','.') }} €</td>
                            <td align="right">{{ ((detail.quantity * detail.amountHT)/100)|number_format(2,',','.') }}
                                €
                            </td>
                        </tr>
                        {% set totalHT = totalHT + (detail.amountHT * detail.quantity) %}
                    {% endfor %}
                    </tbody>
                </table>

                <!-- sous-total... -->
                <div style="margin-left: 468px;">
                    <table class="table table-bordered" id="totals">
                        {#<tr>#}
                            {#<td><b>Sous-total H.T.</b></td>#}
                            {#<td>{{ totalHT|number_format(2,',','.') }} €</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<td><b>Remise</b></td>#}
                            {#<td>{{ 0|number_format(2,',','.') }} €</td>#}
                        {#</tr>#}
                        <tr>
                            <td><b>Total H.T.</b></td>
                            <td><b>{{ (totalHT/100)|number_format(2,',','.') }} €</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <small>TVA non applicable, article 293B du Code général des impôts</small>
                            </td>
                        </tr>
                    </table>
                </div>

                <hr>
                <p><span class="text-dodgerblue">Echéance</span><br><b>{{ invoice.paymentCondition }}</b></p>

                <p>
                    En cas de retard de paiement, application d'une indemnité forfaitaire pour frais de recouvrement de
                    40€ selon l'article D 441-5 du Code de Commerce.
                </p>

                <p>
                    <span class="text-dodgerblue">Détails bancaires</span><br>
                    {{ invoice.organization.bankName }}<br>
                    <b>IBAN</b> : {{ invoice.organization.iban }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}


