{% extends 'layout-pdf.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            {#<img src="http://via.placeholder.com/400x90?text=logo">#}
                            {#<img width="200px;" src="{{ absolute_url(asset(organizationLogo)) }}" alt="My logo">#}
                        </div>

                        <div class="row p-5">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">#</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Date de création</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Libellé</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Actif</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    {#{% for parameter in parameters %}#}
                                        {#<tr>#}
                                            {#<td>{{ parameter.id }}</td>#}
                                            {#<td>{{ parameter.createdAt|date('d/m/Y') }}</td>#}
                                            {#<td>{{ parameter.value }}</td>#}
                                            {#<td>{{ parameter.isActive is same as(true)? '<i class="fa fa-check"></i>':'<i class="fa fa-square"></i>' }}</td>#}
                                            {#<td>{{ parameter.isActive }}</td>#}
                                        {#</tr>#}
                                    {#{% endfor %}#}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}


