<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olivier Brassart">

    <title>{{ appName }}|{% block title %}{% endblock %}</title>

</head>

<body>
{% block header %} {% endblock %}

<main id="main">

    {% block main %}
        {% block content %}
            IT'S MY PDF TEST !!!
        {% endblock %}
    {% endblock %}
</main>

</body>
</html>
