<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formation {{ object.reference }}|Fiche pédagogique</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <style>
        .wrapper-page {
            page-break-after: always;
        }

        .wrapper-page:last-child {
            page-break-after: avoid;
        }

        p {
            font-size: 14px;
        }

        section#header img.logo {
            width: 200px;
        }

        section#header .productName{
            font-size: 1.2em;
            color: black;
            padding: 20px 100px;
            text-align: center;
        }
        section#header .productDuration{
            font-size: 1.2em;
            color: dodgerblue;
        }
        section#header .title{
            font-size: 1.2em;
            color: dodgerblue;
        }
        section#header .subtitle{
            font-size: 1.3em;
            color: dodgerblue;
        }

        section#body .titleProperty {
            color: dodgerblue;
        }
        section#body .valueProperty{
            display:block; margin-left: 25px;
        }

        section#footer {
            position: absolute;
            bottom: 0;
            text-align: center;
        }
    </style>
</head>
<body style="margin: 20px;">

{# page 1 #}
<div class="wrapper-page" style="page-break-after: always;">
    <section id="header">
        <div class="row">
            <div class="col-xs-3">
                {# TODO: and assetExists(object.organization.illustration, 'images') qd absolute url#}
                {% if object.organization.illustration is defined and object.organization.illustration is not null %}
                    {% set illustration = object.organization.illustration is not null ?
                        '/uploads/organization/'~object.organization.illustration : appImgDefault %}
                    <img class="logo" src="{{ absolute_url(asset(illustration)) }}" alt="formation image">


                    {#<img class="logo" src="{{ absolute_url(asset('uploads/'~object.organization.illustration)) }}" alt="logo">#}
                {% endif %}
            </div>
            <div class="col-xs-9">
                <div style="text-align: center">
                    <div class="productName">{{ object.name }}</div>
                    <br>
                    <span>{{ 'PEP' in object.name ? "(*Pep's: Plaisir, Engagement, Performance, Sens)":"" }}</span><br><br>
                    <span class="productDuration">2 jours</span><br><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <span class="title">Fiche pédagogique</span><br><br>
                    <span class="subtitle">Compréhension et Pratiques</span>
                    <br><br><br>
                </div>
            </div>
        </div>
    </section>

    <section id="body">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <span class="titleProperty">Public : </span>{{ object.audience }}
                </p>
                <span>Aucun statut, fonction, hiérarchie ne seront mis en avant, permettant ainsi le libre échange entre les
                stagiaires.</span><br>
                <p>
                    <span class="titleProperty">Effectif : </span>{{ object.effective }}
                </p>
                <p>
                    <span class="titleProperty">Objectif : <br></span>{{ object.goal|raw }}
                </p>
                <p>
                    <span class="titleProperty">Programme : <br></span>{{ object.program|raw }}
                </p>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Gwénaëlle BRASSART, Formatrice, Sophrologue, Praticienne en Psychologie Positive <br>
                    Zac de la Colline - 45280 Dordives - Tel 07 81 34 06 44 - gbrassart.sophrologue@yahoo.com <br>
                    Siret: 82444119000017 <br>
                    N° de formateur accordé par la DIRRECTE Centre Val de Loire 24450375245
                </p>
            </div>
        </div>
    </section>
</div>

{# page 2 #}
<div class="wrapper-page" style="page-break-after: avoid;">
    <section id="body">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <span class="titleProperty">Méthode pédagogique : </span>{{ object.method|raw }}
                </p>
                <p>
                    <span class="titleProperty">Moyens pédagogiques : </span><br>
                    <span class="valueProperty">{{ object.means }}</span>
                </p>
                <p>
                    <span class="titleProperty">Evaluation : </span><br>
                    <span class="valueProperty">{{ object.evaluation }}</span>
                </p>
                <p>
                    <span class="titleProperty">Validation de la formation : </span><br>
                    <span class="valueProperty">{{ object.validation }}</span>
                </p>
                <p>
                    <span class="titleProperty">Durée de la formation : </span><br>
                    <span class="valueProperty">{{ object.duration }}</span>
                </p>
                <p>
                    <span class="titleProperty">Tarif de la formation : </span>A définir
                </p>
                <p>
                    <span class="titleProperty">Dates et horaires : </span>{{ object.planification }}
                </p>
                <p>
                    <span class="titleProperty">Lieu de formation : </span>{{ object.location }}
                </p>
                <p>
                    <span class="titleProperty">Formatrice : </span>Gwénaëlle BRASSART, Formatrice, Sophrologue,
                    Praticienne en Psychologie Positive
                </p>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Gwénaëlle BRASSART, Formatrice, Sophrologue, Praticienne en Psychologie Positive <br>
                    Zac de la Colline - 45280 Dordives - Tel 07 81 34 06 44 - gbrassart.sophrologue@yahoo.com <br>
                    Siret: 82444119000017 <br>
                    N° de formateur accordé par la DIRRECTE Centre Val de Loire 24450375245
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>