{% set contacts = client.clientContacts%}

{% if contacts|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date de création</th>
            <th>Prénom nom</th>
            <th>N° de téléphone</th>
            <th>Adresse électronique</th>
            <th>Adresse postale</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.createdAt|date('d/m/Y H:i') }}</td>
                <td>{{ contact }}</td>
                <td><a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a></td>
                <td>{{ contact.email }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun contact enregistré pour le moment.
{% endif %}
