{% set contracts = client.contracts %}

{% if contracts|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date de création</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Validé</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contracts %}
            <tr>
                <td>{{ contact.createdAt|date('d/m/Y H:i') }}</td>
                <td>{{ contact.startAt|date('d/m/Y') }}</td>
                <td>{{ contact.endAt|date('d/m/Y') }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun contact enregistré pour le moment.
{% endif %}
