{% set historicals = client.historicals %}

{% if historicals|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date de création</th>
            <th>Utilisateur</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for historical in historicals %}
            <tr>
                <td>{{ historical.createdAt|date('d/m/Y H:i') }}</td>
                <td></td>
                <td>{{ historical.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucune note d'historique enregistrée pour le moment.
{% endif %}
