<small style="display: block;width: 100%;background: #FFF">Créé le {{ client.createdAt|date('d/m/Y') }}
    {#<span style="float: right;font-weight: bold;">Rôle utilisateur: {{ client.user.roles[0] == 'ROLE_CLIENT' ? 'Client':'' }}</span>#}
    <span style="float: right;font-weight: bold;">Rôle utilisateur: XXXXX</span>
</small>

<table class="table table-bordered">
    <tr>
        <th>Logo</th>
        <td>
            {#{% set logo = assetExists(client.illustration, 'client') ? '/uploads/client/'~client.illustration : appImgDefault %}#}
            {#<img src="{{ asset(logo) }}" alt="Client logo" width="100px" style="margin:10px 0"/>#}

            {% if client.illustration %}
                <img width="100px" src="/uploads/client/{{ client.illustration }}" alt="">
            {% else %}
                <img width="100px" src="/assets/img/default/imgdef.png" alt="">
            {% endif %}
        </td>
    </tr>
    <tr>
        <th width="20%">Référence</th>
        <td>{{ client.reference }} - {{ client }}</td>
    </tr>
</table>

<fieldset>
    <legend>Coordonnées téléphoniques & électroniques</legend>
    <table class="table table-bordered">
        <tr>
            <th width="20%">N° de téléphone</th>
            <td><a href="tel:{{ client.phoneNumber }}">{{ client.phoneNumber }}</a></td>
        </tr>
        <tr>
            <th>Adresse électronique</th>
            <td>{{ client.email }}</td>
        </tr>
    </table>
</fieldset>

<fieldset style="min-height: 350px;">
    <legend>Adresse postale</legend>
    <div class="row">
        <div class="col-md-3">
            {{ client.street }}<br>
            {{ client.zipcode }} {{ client.city }}<br>
            {{ client.country }}
        </div>
        <div class="col-md-9">
            <div id="clientMap" style="width: 400px;height: 300px;border-radius: 4px"></div>
        </div>
    </div>
</fieldset>