{% set quotes = client.quotes %}

{% if quotes|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Date de création</th>
            <th>Référence</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in quotes %}
            <tr>
                <td>{{ contact.createdAt|date('d/m/Y H:i') }}</td>
                <td>{{ contract.reference }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun devis enregistré pour le moment.
{% endif %}
