{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% trans_default_domain 'admin' %}

{#{% set type = edit_form.vars.data.type ? edit_form.vars.data.type : '' %}#}

{#{% block content_title %}#}
    {#{{ parent() }} : <span class="modifiedLabel">{{ type }}</span><br>#}
    {#<small>{{ 'admin.edit_detail.subtitle.small.header.edit'|trans~' '~#}
        {#'admin.edit_detail.subtitle.small.content.eventType'|trans~' ['#}
        {#~ edit_form.vars.data.id ~']' }}</small>#}
    {#<hr>#}
{#{% endblock %}#}
{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with {parent:parent(), type:'edit', object: 'eventScale',
        data:edit_form.vars.data} %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block edit_form %}
            {% include 'admin/eventScale/_form.html.twig' with {object: edit_form} %}
        {% endblock edit_form %}
    </div>
{% endblock %}