{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{#{% block page_title  %}{{ appName }}|Tableau de bord{% endblock %}#}

{% block head_stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('public/assets/css/admin.css') }}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css">
{% endblock %}

{% block page_content %}
    <section id="dashboard">
    <i class="fa fa-chart-bar"></i> Tableau de bord
        <hr>
        <div class="row">
            <div class="col-md-4">
                <canvas id="myChartBar" width="250" height="200"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="myChartPie" width="250" height="200"></canvas>
            </div>
            <div class="col-md-4">
                <canvas id="myChartLine" width="250" height="200"></canvas>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
{% endblock body_javascript %}
