<div class="section section-products">
    <div class="title-area">
        <h2>Formations & ateliers les plus demandés</h2>
        <p style="margin-bottom: 0;">Des intervenants de grande qualité dans leur spécialité.</p>
    </div>

    <div class="row products-content">
        {% if products %}
            {% for product in products %}
                <div>
                    {% include 'product/single_product_home_best.html.twig' %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
