<div class="section section-header">
    <div class="parallax"> {# filter filter-color-red #}
        <div class="image" style="background-image: url('{{ asset('assets/img/header/header-3.jpg') }}')"></div>
        <div class="container">
            <div class="content">
                <div class="zone-area">
                    <div class="title-area">
                        Bienvenue dans votre centre de formation
                    </div>
                    <div class="content-area">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ex natus omnis sit soluta. Aperiam, consectetur consequuntur cumque dolorum expedita fugiat hic laudantium obcaecati odit perferendis recusandae sequi voluptas voluptates!
                    </div>

                    {# citation #}
                    {% if organization.isHomeCitation %}
                    <div id="home-quotation" style="bottom: 200px;">
                        <blockquote style="text-shadow: 4px 4px 2px rgba(27, 24, 24, 1)">
                            <p id="quotation" style="font-size: 20px; margin-bottom: 2px;text-align: left;color: #A4C639">{{ firstQuotation.content }}</p>
                            <div id="quotation-footer" style="font-size: 12px;color: #FFF;text-shadow: 1px">{{ firstQuotation.author }}</div>
                        </blockquote>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>