<div class="section section-post" style="margin-bottom:50px;">
    <div class="row">
        <div class="title-area">
            <h2>Dernières actualités...</h2>
            <p class="description">It is a long established fact that a reader will be distracted by the readable
                conten</p>
        </div>
    </div>

    <div class="row" style="margin-top: -50px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% if posts %}
                    {% for post in posts %}
                        <div class="col-md-6">
                            <div class="row post-content">
                                <div class="col-md-4">
                                    <img src="/uploads/{{ post.illustration }}" class="img-fluid"
                                         alt="{{ post.title }}">
                                </div>

                                <div class="col-md-8">
                                    <h3 class="post-title">
                                        <a href="{{ path('post_show', {slug:post.slug}) }}"
                                           title="Consulter l'article">{{ post.title }}</a>
                                    </h3>
                                    <p class="post lead">{{ post.content|substr(250)|raw }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
