<div class="section section-services">
    <div class="text-center">
        <h2>Pourquoi l'AFAC de l'être</h2>
        <p style="margin-bottom: 0;">Des intervenants de grande qualité dans leur spécialité.</p>
    </div>

    <div class="container-fluid section-services-container">
        <div class="row">
            {% for activity in organization.organizationActivities %}
                <div class="col-md-3 service-content">
                    <a href="{{ path('app_activity_name',{name:activity.name}) }}">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                {% set icon = activity.icon is not null and assetExists(activity.icon, 'images') ?
                                    '/uploads/images/'~activity.icon : appImgDefault %}
                                <img src="{{ asset(icon) }}" alt="{{ activity.name }} icone" class="hvr-grow"
                                     width="60px"/>
                            </div>
                            <h4>{{ lettrine(activity.name, '40px')|raw }}</h4>
                            <p class="description">
                                {{ lettrine(activity.shortDescription, '20px')|raw }}
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
