<div class="section section-team">
    <div class="title-area">
        <h2>Notre équipe</h2>
        <p style="margin-bottom: 0;">Des intervenants de grande qualité dans leur spécialité.</p>
    </div>

    <div class="row" style="margin-top: -50px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% if persons %}
                    {% for person in persons %}
                        <div class="col-md-3">
                            <div class="card card-member">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-4 avatarCustom">
                                            <img alt="{{ person.firstname~' '~person.lastname }}"
                                                 src="/uploads/{{ asset(person.illustration) }}"/>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="{{ path('person_show', {slug:person.slug}) }}">
                                                <span class="person-title"><b>
                                                    {{ person.firstname~' '~person.lastname }}</b></span>
                                            </a>
                                            {% if person.disciplines|length %}
                                                <ul class="person-disciplines">
                                                    {% for discipline in person.disciplines %}
                                                        <li>{{ discipline.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12">
                                            <div class="person-description">
                                                {{ person.description != null ? person.description|raw:'' }} {# |substr(255) #}
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-sm btn-dark person-event">Réserver</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
