{% extends 'base.html.twig' %}

{% block title %}{{ activity }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="animation" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="fa fa-home"></i></a></li>
                <li>AFAC</li>
                <li class="breadcrumb-item active">{{ activity }}</li>
                <li class="" style="float: right;">
                    <a href="{{ path('home') }}"><i class="far fa-arrow-alt-circle-left"></i> Retour vers la page d'accueil</a>
                </li>
            </ol>
        </nav>

        {# TODO: and assetExists(activity.icon, 'organization') #}
        {% set icon = activity.icon is not null ?
            '/uploads/'~activity.icon : appImgDefault %}
        <img src="{{ asset(icon) }}" class="hvr-grow icone" alt="{{ activity.name }} icone">


        {#<img src="/uploads/images/{{ asset(activity.icon) }}" class="hvr-grow icone" alt="animation icone">#}
        <h2>{{ lettrine(activity.name, '40px')|raw }}</h2>
        <hr>

        <div class="content">
            {# TODO: and assetExists(activity.icon, 'organization') #}
            {% set illustration = activity.illustration is not null ?
                '/uploads/'~activity.illustration : appImgDefault %}
            <img src="{{ asset(illustration) }}" alt="{{ activity.name }} image">

            {#<img src="/uploads/images/{{ asset(activity.illustration) }}" class="img-fluid picture" alt="animation picture">#}
            {{ activity.description|raw }}
        </div>
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}