{{ form_start(object) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(object.companyName) }}
        {{ form_row(object.street) }}
        {{ form_row(object.zipcode) }}
        {{ form_row(object.city) }}
        {{ form_row(object.country) }}
        <br>
        {{ form_row(object.phoneNumber) }}
        {{ form_row(object.email) }}
        <div class="text-center">
            <p>Logo actuel</p>
            {% if object.vars.data.illustration %}
                <img width="100px" src="/uploads/{{ object.vars.data.illustration }}" alt="">
            {% else %}
                <img width="100px" src="/assets/img/default/imgdef.png" alt="">
            {% endif %}
        </div>
        {{ form_row(object.illustration) }}
    </div>
    <div class="col-md-6">
        {{ form_row(object.clientContacts) }}
    </div>
</div>
{{ form_end(object) }}