{% if field.value is not empty %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nom complet</th>
            <th>Fonction</th>
            <th>N° de téléphone</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in field.value %}
            <tr>
                <td><i class="fa fa-user"></i> {{ contact.fullname }}</td>
                <td>{{ contact.function }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun participant enregistré pour le moment.
{% endif %}
