{% extends '@!EasyAdmin/crud/detail.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with { parent:parent(), type:'edit_detail', object: 'client' } %}
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block main %}
    {% include '_partials/_adminModal.html.twig' %}
    {% include 'admin/client/detail/_main.html.twig' %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script>
        $(function () {
            //TABS COORD - leaflet OpenStreetMap
            $.getJSON('https://nominatim.openstreetmap.org/search?q={{ entity.instance.street }}+{{ entity.instance.city }}&format=json&polygon=1&addressdetails=1', function (data) {

                let latitude = data[0].lat;
                let longitude = data[0].lon;
                let map = L.map('clientMap').setView([latitude, longitude], 14);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                L.marker([latitude, longitude]).addTo(map).bindPopup(
                    '{{ entity.instance.street~' '~entity.instance.zipcode~' '~entity.instance.city }}'
                ).openPopup();
            });

        }); /* fin ready */

    </script>
{% endblock %}