{% if field.value is not empty %}

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Exercice comptable</th>
            <th>Référence</th>
            <th>Date de création</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Formation</th>
            {#<th>Montant</th>#}

        </tr>
        </thead>
        <tbody>
        {% for contract in field.value %}
            <tr>
                <td>{{ contract.fiscalYear }}</td>
                <td>{{ contract.reference }}</td>
                <td>{{ contract.createdAt|date('d/m/Y') }}</td>
                <td>{{ contract.startAt|date('d/m/Y') }}</td>
                <td>{{ contract.endAt|date('d/m/Y') }}</td>
                <td>{{ contract.products[0] ? contract.products[0]: ''  }}</td>
                {#<td>{{ contact.amount }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun participant enregistré pour le moment.
{% endif %}
