{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% trans_default_domain 'admin' %}

{#{% set srcImage = edit_form.vars.data.illustration ? "/uploads/"~ edit_form.vars.data.illustration :#}
    {#"/assets/img/default/imgdef.png" %}#}

{#{% set reference = edit_form.vars.data.reference ? edit_form.vars.data.reference : '#'~edit_form.vars.data.companyName %}#}
{#{% set name = edit_form.vars.data.companyName ? edit_form.vars.data.companyName : '' %}#}

{#{% block content_title %}#}
    {#<img style="width: 80px;float: right;" src="{{ srcImage }}" alt="{{ name }}">#}
    {#{{ parent() }} : <span class="modifiedLabel">{{ name }}</span><br>#}

    {#<small>{{ 'admin.edit.subtitle.small.header'|trans~' '~'admin.edit.subtitle.small.content.client'|trans~' ['#}
        {#~ reference~']' }}</small>#}
    {#<hr>#}
{#{% endblock %}#}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with {parent:parent(), type:'edit', object: 'client',
        data:edit_form.vars.data} %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block edit_form %}
            {% include 'admin/client/_form.html.twig' with {object: edit_form} %}
        {% endblock edit_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
{% endblock %}