{% set client = entity.instance  %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
           aria-controls="events" aria-selected="false">
            <i class="fa fa-users"></i> {{ ea.entity.instance.clientContacts|length != 0 ?
            ea.entity.instance.clientContacts|length~' contact(s)' :'Contacts'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="documents" aria-selected="false">
            <i class="fa fa-pen-fancy"></i> {{ ea.entity.instance.contracts|length != 0 ?
            ea.entity.instance.contracts|length~' contrat(s)' :'Contrats'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="quotes-tab" data-toggle="tab" href="#quotes" role="tab"
           aria-controls="quotes" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.quotes|length != 0 ?
            ea.entity.instance.quotes|length~' devis(s)' :'Devis'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="invoices-tab" data-toggle="tab" href="#invoices" role="tab"
           aria-controls="invoices" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.invoices|length != 0 ?
            ea.entity.instance.invoices|length~' facture(s)' :'Factures'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="payments-tab" data-toggle="tab" href="#payments" role="tab"
           aria-controls="payments" aria-selected="false">
            <i class="fa fa-euro"></i> {{ ea.entity.instance.payments|length != 0 ?
            ea.entity.instance.payments|length~' paiement(s)' :'Paiements'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
           aria-controls="comments" aria-selected="false">
            <i class="fa fa-pen-fancy"></i> Bloc-notes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="historical-tab" data-toggle="tab" href="#historical" role="tab"
           aria-controls="historical" aria-selected="false">
            <i class="fa fa-list"></i> Historique
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="documents" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab"
           aria-controls="security" aria-selected="false">
            <i class="fa fa-user-lock"></i> Sécurité
        </a>
    </li>
</ul>

{# TAB content #}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_info.html.twig' %}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="events" role="tabpanel" aria-labelledby="events-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_contact.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_contract.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="quotes" role="tabpanel" aria-labelledby="quotes-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_quote.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_invoice.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="payments" role="tabpanel" aria-labelledby="payments-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_payment.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_comment.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="historical" role="tabpanel" aria-labelledby="historical-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_historical.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_document.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="security" role="tabpanel" aria-labelledby="security-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/client/detail/tabs/_security.html.twig' %}
            </div>
        </div>
    </div>
</div>