/* You’ll find all variables in the assets/css/easyadmin-theme/variables.scss file */
/*:root {*/
    /*--body-max-width: 100%; !* make the backend contents as wide as the browser window *!*/
    /*--body-bg: #f5f5f5; !* change the background color of the <body> *!*/
    /*--font-size-base: 13px; !* make the base font size smaller *!*/
    /*--border-radius: 0px;!* remove all border radius to make corners straight *!*/
/*}*/

body{
    font-family: 'Open Sans Condensed', sans-serif!important;

}
body, .main-sidebar, .content-header, .content-header-title,
.content-header:after, .content-header:before {
    background-color: #f6f6f6;
}
.content-wrapper{
    min-width: 550px;
    /*max-width: 550px;*/
}
.tab-content {
    padding: 10px;
}
.addInlineBlock{
    display: inline-block;
}
.sidebar-menu{
    font-size: 15px;
}

.home-link{
    color: #FFF;
    margin-right: 20px;
}
.home-link:hover{
    color: #fcf87e;
}
.btn-admin-custom{
    background-color: lightgrey;
    padding: 2px;
}
.btn-admin-custom:hover{
    background-color: #d3d3FF;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    background-color: dodgerblue;
    color: #FFF;
}
.logo{
    padding-right: 500px;
    font-weight: normal;
}
.org_logo{
    width: 300px;
}

/* navbar */
header.main-header{
    background-color: #800080;
    color: #FFF;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}
#header-logo a.logo{
   color: #FFF; switch-language;
}
a.switch-language, .user-name{
    color: #FFF;
}
a.switch-language:hover, .user-name {
    color: #ffff00;
}
.data-row .field-image{
    width: 300px;
}
.crud-form{
    margin-top: 15px;
    border-radius: 4px;
    background-color: #fcf5be!important;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(219,195,219,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(219,195,219,1);
    box-shadow: 0px 0px 5px 2px rgba(219,195,219,1);
    min-height: 400px;
}
.crud-form hr{
    height: 1px;
    background-color: #800080;
    width: 90%;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.productDetail-textarea{
    width: 350px;
}
.modifiedLabel{
    color: #1e90ff;
}
section#contract-new_form legend,
section#contract-edit_form legend
{
    font-weight: bold;
}
.participant-lastname{
    display: inline;
}
.action-getPedagogicSheetPdf,
.action-getBooklet
{
    margin-right: 10px;
}

/* detail contract productDays - vertical navtabs */
#detailActivities nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
#detailActivities nav > div a.nav-item.nav-link,
#detailActivities nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

#detailActivities nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
}
#detailActivities .tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

#detailActivities nav > div a.nav-item.nav-link:hover,
#detailActivities nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
