body {
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif !important;
}
.navbar-custom {
    background-color: #dadada;
}

/* https://github.com/IanLunn/Hover */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.4);
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-weight: 600;
    font-size: 12px;
}

p {
    font-size: 16px;
}

footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #DFEAFF;
    padding-top: 25px;
    /*margin-top: 50px;*/
}

.hr{
    height: 2px;
    color: #839D2D;
    background-color: #e8e8e8;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.hr75 {
    width: 75%;
}

.hr100 {
    width: 100%;
}

.alert {
    padding: 4px !important;
}

input::placeholder, textarea::placeholder {
    color: lightgrey !important;
    font-size: 14px;
}

h1, .h1 {
    font-size: 1.6em;
}

h2, .h2 {
    font-size: 1.5em;
}

.page-content {
    margin-bottom: 100px;
}

.section:first-child {
    padding: 0;
}

section#login{
    min-height: 550px;
}
/* citation */
#home-quotation blockquote {
    position: relative;
    top: 200px;
    width: 40%;
}
#home-quotation p {
    text-transform: none;
}
/* FOOTER */
.footer-big {
    padding-top: 0;
}
.footer-big .copyright {
    margin: 0;
}
.footer-big .copyright p{
    color: #FFFF00; font-size: 14px;
}


/* ------ HOME ------*/
.section {
    padding: 0;
}
/* => section-header */
.section-header .zone-area {
    margin-top: -25px;
}
.section-header .title-area {
    font-size: 2.2em !important;
    position: relative;
    top: -50px;
    left: 350px;
    color: #7b4f4f;
}
.section-header .content-area {
    display: block;
    width: 352px;
    font-size: 1.2em !important;
    position: relative;
    top: -100px;
    left: 920px;
    color: #7b4f4f;
}

/* => section-services */
.section-services {
    background-color: #fafafa;
    border-bottom: 2px solid #2af598;}
.section-services h2{
    margin-top: 0;
    padding-top: 35px;
}
.section-services .section-services-container{
    padding: 35px 100px;
}
.section-services .title-area {
    margin: 0;
}
.section-services .service-content {
    padding: 15px 50px 13px 50px;
}
.section-services .service-content:hover {
    cursor: pointer;
    background-color: greenyellow;
}
.section-services .service-content a
{
    color: #1e90ff;
}
.section-services .info-icon .icon {
    font-size: 54px;
    line-height: 66px;
    transform: rotate();
}

.section-services .description{
    text-align: justify ;
    min-height: 100px;
}

    /* => section-team */
.section.section-team {
    padding: 10px 0 0 0;
    border-bottom: 2px solid #2af598;
}
.section-team .card-member {
    padding: 0;
    background-color: #fcf490;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.section-team .card-member .content {
    padding: 10px 5px;
}
.section-team .avatarCustom img {
    border-radius: 4px;

}
.section-team .avatar-border {
    border: 0;
    border-radius: 0;
}
.section-team .person-description p{
    margin-top: 15px;
    font-size: 1.1em;
}
.section-team ul.person-disciplines {
    border-radius: 4px;
    background-color: #e8f2ed;
    color: grey;
    list-style: none;
    padding: 0;
}
.section-team ul.person-disciplines li {
    margin-left: 0;
}
.section-team .person-event{
    margin-right: 10px;
}
.section-team  .card .btn {
    margin-top: 0;
    padding: 2px 5px;
}
/* => section-products */
.section-products {
    background-color: #fafafa;
    border-top: 2px solid #2af598;
    border-bottom: 2px solid #2af598;
    padding: 20px 0;
}
.section-products img {
    width: 100px;
}
.section-products .products-content{
    margin-top: -70px;
}
.section-products .product-item{
    border-radius: 4px;
    padding: 15px;
    width: 650px;
    margin: 0 auto 10px;
}
.section-products .product-item .product-name{
    text-decoration: underline;
}

/* => section-post */
.section-post h2{
    margin-top: 25px;
    font-size: 1.3em;
}
.section-post .post-content {
    margin: 0 0 10px 5px;
    border: lightgrey 1px solid;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 5px;
}
.section.section-post img {
    width: 100%;
    border-radius: 4px;
    margin-top: 0;
}
.section-post .post-content a {
    color: #1e90ff;
    text-decoration: underline;
}
.section-post .post-content .lead {
    font-size: 16px;
}

/* ------ PAGE CONTACT ------*/
.mapContact-content {
    padding: 5px;
}
#mapContact {
    height: 310px;
    width: 350px;
    border-radius: 4px;
}

form .btn {
    background-color: #dff0d8;
}

form .btn:hover {
    background-color: #dbdfd5;
}

/* ------ ACCOUNT MEMBER ------*/
.account-address-item {
    padding: 15px;
    background-color: #8effef;
    color: #000;
    border-radius: 4px;
}
.account-address-item a {
    color: black;
}
.account-address-item a:hover {
    color: grey;
}

/* ------ CATALOGUE PRODUCTS ------*/
section#products .card, section#product-single .card{
    background-color: #fee;
    color: grey;
    border-radius: 4px;
    padding: 0;
    min-height: 190px;

}
section#product-single .card{
    background-color: #fee;
    color: grey;
    border-radius: 4px;
    padding: 0;
    min-height: 500px;
}
section#products .card .card-header,
section#product-single .card .card-header{
    background-color: #800080;
    color: #FFF;
    min-height: 25px;
    margin-top: 0;
    padding: 5px;
}
section#product-single .card .card-header{
    padding: 5px 15px;
}
section#products .product-reference{
    font-size: 0.8em;
}
section#products .product-price,
section#product-single .product-price{
    float: right;
}
section#product-single .product-price{
    color: greenyellow;
}
section#products .card .card-body,
section#product-single .card .card-body{
    position: relative;
    padding: 15px;
}
section#product-single .card .card-body .product-description{
    background-color: white;
    min-height: 400px;
    padding: 10px;
}
section#products .card .card-body a.product-name{
    color:#000;
    font-size: 1.2em;
    font-weight: 600;
}
section#products .card .card-body a.product-name:hover{
    color: #800080;
}
section#product-single .product-name{
    font-weight: bold;
    color:greenyellow;

}
section#products .card .card-body .product-subtitle{
}
section#products .card .card-footer{
}
section#products .card .card-footer a.product-btn-detail{
    color: grey;
    float: right;
    margin-right: 15px;
    font-weight: 600;
}
section#products .card .card-footer a.product-btn-detail:hover{
    color: #000;
}
/* ------ CATALOGUE => SHOW PRODUCT ------*/
section#product-single .product-show{
    background-color: #e4f9e5;
    padding: 10px;
    margin-top: 10px;
}
section#product-single .product-show-left{
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 4px;
}
section#product-single .product-show-left .title{
    text-decoration: underline;
}
section#product-single .product-show img{
    border-radius: 4px;
}
section#product-single .product-best-content{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 10px;

}
section#product-single .product-subtitle{
    font-style: italic;
    font-weight: 600;
}
section#product-single .product-detail{
    margin-top: 15px;
}
section#product-single .titleProperty{
    font-weight: bold;
}
section#product-single .valueProperty{
    font-size: 0.9em;
}
section#product-single .product-pedagogicSheetPdf {
    float: right;
}
section#product-single .product-pedagogicSheetPdf img{
    width: 45px;
    margin-left: 30px;
}
section#product-single .product-pedagogicSheetPdf img:hover{
    cursor:pointer;
    transform: scale(1.2);
}

    /* ------ AFAC ------*/
section#accompaniment,
section#training,
section#animation,
section#coordination
{
    min-height: 550px;
}
section#accompaniment img.icone,
section#training img.icone,
section#animation img.icone,
section#coordination img.icone
{
    width: 50px;
    float: right;
}
section#accompaniment img.picture,
section#training img.picture,
section#animation img.picture,
section#coordination img.picture
{
    border-radius: 4px;
    float:left;
    margin-right: 15px;
    width: 300px;
}
.lettrine{
    font-size: 1.2em;
}

/* ------ ORDER VALIDATION => SHOW PRODUCT ------*/
section#section-order .order-product-single{
    background-color: #fcf490;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
}
section#section-order label{
    font-weight: normal;
}
section#section-order .form-check{
    margin-bottom: 5px;
}
section#section-order input[type=checkbox]{
    width: 20px;

    position: relative;
    left: 200px;

    vertical-align: middle;
}

section#accompaniment .text-content{
    min-height: 500px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}
/* calendar */
#calendar{
    min-height: 550px;
}
/* person show - discipline*/
#person-show, #discipline-show, #post-show{
    min-height: 550px;
    margin-bottom: 25px;
}
.person-card, .discipline-card {
    background-color: #e8ff70;
    padding: 20px;
    border-radius: 4px;
}
.post-card{
    border-radius: 4px;
}
.person-card .person-card-left,
.discipline-card .discipline-card-left,
.post-card .post-card-left
{
    background-color: #f9f9f9;
    padding: 5px;
}

