/* FULL CALENDAR */
#section-agenda{
    margin: 0 50px;
}
.fc-toolbar h2 {
    font-size: 1.30em;
    margin: 0;
}

.fc-toolbar button, #agenda-action-toolbar button {
    height: 30px;
    line-height: 17px;
}
#agenda-action-toolbar{
    margin: 20px 3px;
}
/* CALENDAR SETTINGS */
section#section-agenda-setting .col-form-label{
    font-size: 14px;
    font-weight: bold;
}
/* -> show */
#adminModal .modal-content{
    /*background-color: #fcf5be;*/
}
#adminModal .tab-pane{
    min-height: 150px;
}
#adminModal .tab-content{
    margin: 0 15px;
    padding: 5px;
}
#adminModal button.close{
    margin-top: -30px;
    font-size: 30px;
    color: #800080!important;
}
.event-description{
    background-color: #f1f2f5;
    min-height: 75px;
    border: 1px solid grey;
}