nav ul.security-user-dropdown{
    padding: 10px;
}
.nav > li > a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}
.navbar-home a{
    color: #2929a6!important;
}
.navbar-page{
    background-color: #e4f9e5 !important;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(230,18,230,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(230,18,230,1);
    box-shadow: 0px 2px 5px 0px rgba(230,18,230,1);
    color: #FFF!important;
}
nav i.fa{
    margin-right: 3px;
}
.navbar{
    padding-top: 10px;
}
.navbar .navbar-brand {
    font-size: 25px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}
.navbar .navbar-nav > li > a
{
    margin: 0;
}
.navbar .navbar-brand:hover {
    font-size: 25px;
}
.navbar .navbar-nav > li > a {
    font-size: 1em;
    letter-spacing: 1px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-brand:hover,
nav ul.security-user-dropdown:hover{
    color: #0404a6!important;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:not(.btn),
nav ul.security-user-dropdown{
    color: #2929a6;
}
/*cart*/
.cart-icon{
    font-size: 22px!important;
    padding-left: 20px;
    margin-right: 20px!important;
}
.cart-counter{
    font-size: 12px;
    width: 50px;
    padding: 2px;
    background-color: yellow;
}
