{% extends 'base.html.twig' %}

{% block title %}{{ 'product.list.title'|trans }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <section id="products" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li title="Retourner vers la page d'accueil" class="breadcrumb-item"><a href="{{ path('home') }}"><i
                                class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active">Catalogue de formations</li>
            </ol>
        </nav>

        <h1><i class="fa fa-graduation-cap" style="margin-right: 10px;"></i> {{ 'products.index.headTitle'|trans }}</h1>
        <p>{{ 'products.index.headSubtitle'|trans }}</p>

        {% if not products|length %}
            <p>Catalogue de formations actuellement vide.</p>
        {% else %}
            {% if availableProducts|length %}
                <div class="row">
                    <div class="col-md-12">
                        <h5>Formation(s) déjà disponible(s)</h5>
                    </div>
                    {% for product in availableProducts %}
                        <div class="col-md-4">
                            {% include 'product/single_product_home_best.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if noAvailableProducts|length %}
                <div class="row">
                    <div class="col-md-12">
                        <h5>Formation(s) prochainement disponible(s)</h5>
                    </div>
                    {% for product in noAvailableProducts %}
                        <div class="col-md-4">
                            {% include 'product/single_product_home_best.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}
