{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <section id="product-single" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li title="Retourner vers la page d'accueil" class="breadcrumb-item"><a href="{{ path('home') }}"><i
                                class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item active">
                    <a href="{{ path('products') }}">Catalogue de formations</a>
                </li>
                <li class="breadcrumb-item active"><b>Formation: {{ product }}</b></li>
            </ol>
        </nav>
        <div style="float: right;margin-bottom: 15px;">
            <i class="far fa-arrow-alt-circle-left"></i> <a
                    href="{{ path('products') }}">{{ 'product.single.back_link'|trans }}</a>
        </div>
        <div class="clearfix"></div>

        <div class="card product-item">
            <div class="card-header">
                Formation: <span class="product-name">{{ product.name }}</span>
                <div style="float: right;">
                    <span> [Réf. {{ product.reference }}]</span>
                    <span><i class="fa fa-users"></i> Nb max. participants: 12</span> -
                    <span><i class="fa fa-clock"></i> Durée : 20 heures</span> -
                    <span class="product-price">Tarif:
                        {% if organization.isPriceShow %}
                            {{ (product.price / 100)|number_format(2,',','.') }} €
                        {% else %}
                            {% if product.isPriceShow %}
                                {% if product.price > 0 %}
                                    {{ (product.price / 100)|number_format(2,',','.') }} €
                                {% endif %}
                            {% else %}
                                Sur devis
                            {% endif %}
                        {% endif %}
                </div>
            </div>
            <div class="card-body" style="min-height: 400px;">
                <div class="row">
                    <div class="col-md-5">
                        <div class="product-description">
                            <p>
                                <span class="titleProperty">Objectif de la formation: </span><br>
                                <span>{{ product.goal|raw }}</span>
                            </p>
                            <p>
                                <span class="titleProperty">Public : </span><span
                                        class="valueProperty">{{ product.audience }}</span>
                            </p>
                            <span>Aucun statut, fonction, hiérarchie ne seront mis en avant, permettant ainsi le libre échange entre les
                stagiaires.</span><br>
                            <p>
                                <span class="titleProperty">Effectif maximum : </span><span
                                        class="valueProperty">{{ product.effective }}</span>
                            </p>
                            <p>
                                <span class="titleProperty">Durée de la formation : </span><span
                                        class="valueProperty">{{ product.duration }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="product-detail">
                            <span class="product-pedagogicSheetPdf">
                            <small style="margin-bottom: 3px;">Téléchargez la fiche pédagogique</small><br>
                                <a href="{{ path('product_pedagogic_sheet_pdf', {id:product.id}) }}">
                                    <img src="{{ asset('assets/img/icon/pdf.svg') }}" alt="" title="Télécharger la fiche pédagogique">
                                </a>
                            </span>
                            <p>
                                <span class="titleProperty">Méthode pédagogique : </span>{{ product.method|raw }}
                            </p>
                            <p>
                                <span class="titleProperty">Moyens pédagogiques : </span><br>
                                <span class="valueProperty">{{ product.means }}</span>
                            </p>
                            <p>
                                <span class="titleProperty">Evaluation : </span><br>
                                <span class="valueProperty">{{ product.evaluation }}</span>
                            </p>
                            <p>
                                <span class="titleProperty">Validation de la formation : </span><br>
                                <span class="valueProperty">{{ product.validation }}</span>
                            </p>
                            {#<span class="title">Détail de formation:</span>#}
                            {#<ul>#}
                            {#{% for detail in product.productDetails %}#}
                            {#<li>{{ detail.label }}</li>#}
                            {#{% endfor %}#}
                            {#</ul>#}
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                {# bouton add cart #}
                {% if organization.isActiveEcommerce %}
                    <div class="text-center">
                        <a href="{{ path('add_to_cart',{id:product.id}) }}" class="btn btn-default"
                           title="{{ 'product.single.remove.alt'|trans }}">
                            <i class="fa fa-plus-circle"></i> Ajouter au panier
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if organization.isActiveProductShowBest %}
            <hr>
            {# best sellers #}
            <h3>{{ 'product.single.bestSellers_title'|trans }}</h3>
            <p>{{ 'product.single.bestSellers_subtitle'|trans }}</p>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-best-content">
                            {% include 'product/single_product_show.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}
