<div class="card product-item">
    <div class="card-header">
        <span><i class="fa fa-users"></i> Nb max. participants: 12</span> -
        <span><i class="fa fa-clock"></i> Durée : 20 heures</span>
        <span class="product-price">
            {% if organization.isPriceShow %}
                {{ (product.price / 100)|number_format(2,',','.') }} €
            {% else %}
                {% if product.isPriceShow %}
                    {% if product.price > 0 %}
                        {{ (product.price / 100)|number_format(2,',','.') }} €
                    {% endif %}
                {% else %}
                    Sur devis
                {% endif %}
            {% endif %}
        </span>
    </div>
    <div class="card-body" style="height: 120px;">
        {% set href = product.goal is not null ? path('product', {slug:product.slug}) : '#' %}
        <a class="product-name" href="{{ href }}"
           title="Consulter la fiche de formation">{{ product.name }}</a><br>
        <span class="product-reference">Référence formation : {{ product.reference }}</span><br>
        <span class="product-subtitle">{{ product.subtitle|substr(90) }}</span>

    </div>
    <div class="card-footer">
        <a style="" href="{{ path('product', {slug:product.slug}) }}" class="product-btn-detail">Voir le
            détail de formation</a>
    </div>
</div>