<div class="card product-item">
    <h5 class="card-header">
        {#<a href="{{ path('product', {slug:product.slug}) }}">#}
            {#<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">#}
        {#</a>#}
        <a href="{{ path('product', {slug:product.slug}) }}" title="Consulter la fiche de formation">{{ product.name }}</a>
    </h5>
    <div class="card-body">
        <span>Référence formation : <b>{{ product.reference }}</b> </span><br>

        <span class="product-subtitle">{{ product.subtitle }}</span><br>
        <span class="product-price"><b>{{ (product.price / 100)|number_format(2,',','.') }} €</b></span><br>
        <div class="text-center">
            <p><a href="{{ path('product', {slug:product.slug}) }}" class="btn btn-sm">Voir le détail</a></p>
        </div>
    </div>
</div>