<div class="card product-item">
    <h5 class="card-header">
        <a class="product-name" href="{{ path('product', {slug:product.slug}) }}"
           title="Consulter la fiche de formation">{{ product.name }}</a>
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <span>Référence formation : <b>{{ product.reference }}</b> </span>
                <span style="float: right;"
                      class="product-price"><b>{{ (product.price / 100)|number_format(2,',','.') }} €</b></span>
                <br>
                <div class="clearfix"></div>

                <span class="product-subtitle">{{ product.subtitle }}</span><br>

                <div class="clearfix"></div>
                <div class="text-center">
                    <a href="{{ path('product', {slug:product.slug}) }}" class="btn btn-sm product-detail">Voir le
                        détail</a>
                </div>
            </div>
        </div>
    </div>
</div>