{% extends 'base.html.twig' %}

{% block title %}{{ 'account.manageAddress.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

    <section id="accompaniment" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item">AFAC</li>
                <li class="breadcrumb-item active">Accompagnement</li>
                <li class="" style="float: right;">
                    <a href="{{ path('home') }}"><i class="far fa-arrow-alt-circle-left"></i> Retour vers la page d'accueil</a>
                </li>
            </ol>
        </nav>

        <h4>
            <img src="{{ asset('assets/img/default/conference.svg') }}" class="hvr-grow icone" alt="accompagnement icone">
            <span style="font-size: 40px;">A</span>ccompagnement</h4>
        <hr>
        <div class="content">
            <img src="/uploads/{{ asset(organization.accompaniementImage) }}" class="img-fluid picture" alt="accompaniment picture">
            {{ organization.accompaniementText|raw }}
        </div>
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}
