{% extends 'base.html.twig' %}

{% block title %}{{ 'account.manageAddress.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="animation" class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}"><i class="fa fa-home"></i></a></li>
                <li>AFAC</li>
                <li class="breadcrumb-item active">Animation</li>
                <li class="" style="float: right;">
                    <a href="{{ path('home') }}"><i class="far fa-arrow-alt-circle-left"></i> Retour vers la page d'accueil</a>
                </li>
            </ol>
        </nav>

        <img src="{{ asset('assets/img/default/coffee-cup.svg') }}" class="hvr-grow icone" alt="animation icone">
        <h4><span style="font-size: 40px;">A</span>nimation</h4>
        <hr>

        <div class="content">
            <img src="/uploads/{{ asset(organization.animationImage) }}" class="img-fluid picture" alt="animation picture">
            {{ organization.animationText|raw }}
        </div>
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}