{{ form_start(object) }}

<div class="row">
    <div class="col-md-12" >
        {{ form_row(object.organization) }}
        {{ form_row(object.fiscalYear) }}
        {{ form_row(object.amountHT) }}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <span style="font-weight: bold;margin-bottom: 15px;margin-left: 15px;">Activité Cabinet</span>
        {{ form_row(object.patient) }}
    </div>
    <div class="col-md-6">
        <span style="font-weight: bold;margin-bottom: 15px;">Activité Formation</span>
        {{ form_row(object.client) }}
        {{ form_row(object.products) }}
        {{ form_row(object.quote) }}
        {{ form_row(object.paymentCondition) }}
        {{ form_row(object.contract) }}
    </div>
</div>

{{ form_end(object) }}