<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Exercice</th>
        <th>Désignation</th>
        <th>Montant HT</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in field.value %}
        <tr>
            <td>{{ detail.invoice.fiscalYear }}</td>
            <td>{{ detail.product }}</td>
            <td align="right">{{ (detail.amountHT / 100)|number_format(2,',','.') }} €</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
