{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with { parent:parent(), type:'index', object: 'invoice' } %}
{% endblock %}
