{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section  class="container" style="margin-top: 100px;z-index: 0">
        <h2><i class="fa fa-map-marker"></i> {{ 'contact.headTitle'|trans }}</h2>

        <p>{{ 'contact.headSubtitle'|trans }}</p>
        {% for error in form.vars.errors %}
            <div class="alert alert-danger" style="padding: 4px;">
                {% if app.request.locale == 'fr' %}
                    {{ 'Le captcha n\'est pas valide. Veuillez réessayer.' }}
                {% else %}
                    {{ error.message|trans }}
                {% endif %}
            </div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="col-md-8">
                {% set required = form.vars.required ? '*' : '' %}
                {% form_theme form 'form/form_errors.html.twig' %}
                {{ form_start(form) }}

                <div class="row">
                    <div class="col-md-4">
                        {{ form_label(form.firstname, 'contact.form.firstname_label'|trans~required) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.lastname, 'contact.form.lastname_label'|trans~required) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.email, 'contact.form.email_label'|trans~required) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                {{ form_label(form.content, 'contact.form.message_label'|trans~required) }}
                {{ form_widget(form.content) }}

                <div style="text-align: center;">
                    <div class="g-recaptcha" data-site-key="{{ gg_recaptcha_site_key }}" style="display: inline-block;">
                        {{ form_row(form.captcha) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                <strong>{{ appName }}</strong>
                <hr>
                {{ appPhone }}<br>
                {{ appAddress }}<br>
                {{ appEmail }}<br>

                <div class="mapContact-content">
                    <div id="mapContact"></div>
                </div>
            </div>
        </div>
    </section>
    <div style="min-height: 50px;"></div>
{% endblock %}

{% block script %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <script>
        $(function () {
            //leaflet OpenStreetMap
            $.getJSON('http://nominatim.openstreetmap.org/search?q={{ appAddress }}&format=json&polygon=1&addressdetails=1', function (data) {

                let latitude = data[0].lat;
                let longitude = data[0].lon;
                let map = L.map('mapContact').setView([latitude, longitude], 14);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                L.marker([latitude, longitude]).addTo(map).bindPopup(
                    '{{ appAddress }}'
                ).openPopup();
            });
        // });

        //             let mymap // Variable qui permettra de stocker la carte
        //
        // // On attend que le DOM soit chargé
        //             window.onload = () => {
        //                 // Nous initialisons la carte et nous la centrons sur Paris
        //                 mymap = L.map('detailsMap').setView([48.852969, 2.349903], 11)
        //                 L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
        //                     attribution: 'Carte fournie par Wikimedia',
        //                     minZoom: 1,
        //                     maxZoom: 20
        //                 }).addTo(mymap)
        //             }
        })
        ;
    </script>
{% endblock %}
