{{ form_start(object) }}

<div class="row">
    <div class="col-md-6">
        {{ form_row(object.createdAt) }}
        {{ form_row(object.firstname) }}
        {{ form_row(object.lastname) }}
    </div>
    <div class="col-md-6">
        {{ form_row(object.isActive) }}
        {{ form_row(object.address) }}
        {{ form_row(object.phoneNumber) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(object.description) }}
    </div>
    <div class="col-md-6">
        {{ form_row(object.illustration) }}
        {{ form_row(object.disciplines) }}
    </div>
</div>
{{ form_end(object) }}