<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Olivier Brassart">

    <title>{{ appName }}|{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('assets/css/pdf.css') }}">
    {% endblock %}

</head>

<body>
{% block header %} {% endblock %}

<main id="main">

    {% block main %}
        {% block content %} {% endblock %}
    {% endblock %}
</main>

</body>
</html>
