{% set route = app.request.get('_route') %}
<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Boutique">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{{ appName }}|{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/assets/libs/fontawesome-free-5.15.1-web/css/all.css') }}" rel="stylesheet">
    <!--load all styles -->
    <link href="{{ asset('assets/css/afac.css') }}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/favicon-v3.png') }}"/>

    {% block stylesheets %} {% endblock %}
    {% block javascript %} {% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>

<body>

{# HEADER #}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">{{ appName }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ route starts with 'products' ? 'active' }}">
                    <a class="nav-link"
                       href="{{ path('products') }}">{{ 'platform.nav.menu.link_1'|trans }}</a>
                </li>
                <li class="nav-item {{ route starts with 'contact' ? 'active' }}">
                    <a class="nav-link"
                       href="{{ path('contact') }}">{{ 'platform.nav.menu.link_2'|trans }}</a>
                </li>
            </ul>

            <div class="navbar-item-custom">
                {% if app.user %}
                    <a href="{{ path('account') }}">{{ 'platform.nav.menu.security.profile_link'|trans }}
                        <small>({{ app.user.firstname }})</small>
                    </a> | <a
                        href="{{ path('app_logout') }}">{{ 'platform.nav.menu.security.deconnexion_link'|trans }}</a>
                {% else %}
                    <a href="{{ path('app_login') }}">{{ 'platform.nav.menu.security.connexion_link'|trans }}</a> | <a
                        href="{{ path('register') }}">{{ 'platform.nav.menu.security.register_link'|trans }}</a>
                {% endif %}
            </div>
            <a href="#" id="popover-cart" data-trigger="click" data-locale="{{ app.request.locale }}">
                <img src="{{ asset('assets/img/shopping-cart.png') }}"
                     alt="{{ 'platform.nav.menu.cart.icon_alt'|trans }}"
                     class="cart-icon" title="{{ 'platform.nav.menu.cart.title'|trans }}">
                <span class="badge badge-info">{{ app.session.get('cart') is defined ? app.session.get('cart')|length: '' }}</span>
            </a>

            <span style="margin-left: 5px;">
                {% include '_partials/_locale_switcher.html.twig' %}
            </span>
        </div>
    </nav>
</header>

{# MAIN #}
<main role="main">
    {% if block('carousel') is defined %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for key, slider in sliders %}
                    <li data-target="#myCarousel" data-slide-to="{{ key }}"
                        {% if key == 0 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for key, slider in sliders %}
                    <div class="carousel-item {% if key == 0 %}active{% endif %}"
                         style="background: url('/uploads/{{ header.illustration }}'); background-size: cover">
                        <div class="container">
                            <div class="carousel-caption text-{{ slider.alignTitle }}">
                                <h1>{{ slider.title }}</h1>
                                <p>{{ slider.content }}</p>
                                <p><a class="btn btn-lg btn-info" href="{{ slider.btnUrl }}"
                                      role="button">{{ slider.btnTitle }}</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% endif %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">

        {% block main %}
            {# Zone d'erreurs #}
            {% for type,messages in app.session.flashbag.all %}
                {% for message in messages %}

                    {# petit fix pour error/danger#}
                    {% if type == 'error' %}
                        {% set type = 'danger' %}
                    {% endif %}
                    {% if type == 'notice' %}
                        {% set type = 'info' %}
                    {% endif %}
                    <div class="alert alert-{{ type }}">{{ message|raw }}</div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        <div class="mb-5 content">
            {% block content %} {% endblock %}
        </div>

    </div><!-- /.container -->

    <!-- FOOTER -->
    {% include '_partials/_footer.html.twig' %}
</main>

<!-- Google analytics JS -->
{#<script>#}
{#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}

{#ga('create', 'UA-29879648-1', 'xxxxx.fr');#}
{#ga('send', 'pageview');#}
{#</script>#}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{#<script src="{{ asset('assets/libs/jquery-validation-1.19.2/dist/jquery.validate.js') }}"></script>#}

<!-- cookies -->
{#<script src="{{ asset("assets/libs/cookie-consent-bar-message/dist/jquery.cookieMessage.min.js") }}"></script>#}

<!-- Google recaptcha -->
<script src="{{ asset('assets/js/recaptcha.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{ app.request.locale }}"
        async defer></script>

{% block script %} {% endblock %}
</body>
</html>