<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="identity-tab" data-toggle="tab" href="#identity" role="tab"
           aria-controls="identity" aria-selected="true"><i class="fa fa-info-circle"></i> Identité & coordonnées</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="infocompany-tab" data-toggle="tab" href="#infocompany" role="tab"
           aria-controls="infocompany" aria-selected="false"><i class="fa fa-home"></i> Informations entreprise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab"
           aria-controls="activity" aria-selected="false"><i class="fa fa-cogs"></i> Activités</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
           aria-controls="settings" aria-selected="false"><i class="fa fa-cogs"></i> Paramétrages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="days" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents' }}
        </a>
    </li>
</ul>

{{ form_start(object) }}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="identity" role="tabpanel" aria-labelledby="identity-tab">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(object.name) }}
                {{ form_row(object.phoneNumber) }}
                {{ form_row(object.email) }}
                {{ form_row(object.street) }}
                {{ form_row(object.zipcode) }}
                {{ form_row(object.city) }}
            </div>
            <div class="col-md-6">
                <p style="margin: 0 auto;">Logo actuel :</p>
                {% set logo = object.vars.value.illustration is not null and assetExists(object.vars.value.illustration) ?
                    '/uploads/'~object.vars.value.illustration : appImgDefault %}
                <img src="{{ asset(logo) }}" alt="Organization logo" width="100px" style="margin:10px 0"/>
                {{ form_row(object.illustration) }}
                <br>
                <p style="margin: 0 auto;">Signature actuelle :</p>
                {% set signature = object.vars.value.signature is not null and assetExists(object.vars.value.signature) ?
                    '/uploads/'~object.vars.value.signature : appImgDefault %}
                <img src="{{ asset(signature) }}" alt="Organization signature" width="100px"
                     style="margin:10px 0"/>
                {{ form_row(object.signature) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="infocompany" role="tabpanel" aria-labelledby="infocompany-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.businessType) }}
                {{ form_row(object.legalForm) }}
                {{ form_row(object.siretNumber) }}
                <hr>
                {{ form_row(object.rcs) }}
                {{ form_row(object.bankName) }}
                {{ form_row(object.iban) }}
                <hr>
                {{ form_row(object.isTaxSubject) }}
                {{ form_row(object.taxRate) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.workflows) }}
                {{ form_row(object.isWorkflowEventColor) }}
                {{ form_row(object.pdfFont) }}
                <hr>
                {{ form_row(object.isHomeTeam) }}
                {{ form_row(object.isHomeBest) }}
                {{ form_row(object.isHomePost) }}
                <hr>
                {{ form_row(object.isActiveEcommerce) }}
                {{ form_row(object.isActiveProductShowBest) }}
                {{ form_row(object.isMultilingual) }}
                <hr>
                {{ form_row(object.isHomeCitation) }}
                {{ form_row(object.homeCitationTimer) }}
                <hr>
                {{ form_row(object.isPriceShow) }}
                <hr>
                {{ form_row(object.emailTransportMode) }}
                {{ form_row(object.emailCc) }}
                {{ form_row(object.emailBcc) }}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="activity" role="tabpanel" aria-labelledby="activity-tab">
        {{ form_row(object.organizationActivities) }}
    </div>

    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.documents) }}
            </div>
        </div>
    </div>

</div>
{{ form_end(object) }}