{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% trans_default_domain 'admin' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/libs/summernote-0.8.16-dist/summernote-bs4.css') }}">
{% endblock %}

{#{% set name = edit_form.vars.data.name ? edit_form.vars.data.name : '' %}#}

{#{% block content_title %}#}
    {#{{ parent() }} : <span class="modifiedLabel">{{ name }}</span><br>#}
    {#<small>{{ 'admin.edit_detail.subtitle.small.header.edit'|trans~' '~#}
        {#'admin.edit_detail.subtitle.small.content.organization'|trans~' ['#}
        {#~ edit_form.vars.data.id ~']' }}</small>#}
    {#<hr>#}
{#{% endblock %}#}
{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with {parent:parent(), type:'edit', object: 'organization',
        data:edit_form.vars.data} %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block edit_form %}
            {% include 'admin/organization/_form.html.twig' with {object: edit_form} %}
        {% endblock edit_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
    <script src="{{ asset('assets/libs/summernote-0.8.16-dist/summernote-bs4.js') }}"></script>

    <script>
        $(function(){
            $('.summernote').summernote();
            $('.field-collection-add-button').on('click', function(){
                $('.summernote').summernote();
            });
        });
    </script>
{% endblock %}