{% extends '@!EasyAdmin/crud/index.html.twig' %}

{#{% block content_title %}#}
    {#{{ parent() }}#}
    {#<hr>#}
{#{% endblock %}#}

{#{{ dump() }}#}

 {#{% block body_javascript %}#}
     {#{{ parent() }}#}
     {#<script>#}
         {#function newAdd() {#}
             {#let linkNew = $('.action-new');#}
             {#if (linkNew != undefined) {#}
                 {#let currentLink = linkNew.attr('href');#}

                 {#// console.log(currentLink);#}
                 {#// console.log('-----------------------------------------------');#}

                 {#let preparams = currentLink.split('?');#}
                 {#let httpBase = preparams[0];#}
                 {#let param1 = preparams[1].split('&');#}
                 {#let param2 = preparams[2].split('&');#}

                 {#// console.log(preparams);#}
                 {#console.log(preparams[1]);#}
                 {#console.log(param1[0]);#}
                 {#// console.log(params[1]);#}

                 {#let newUrl = httpBase + '?' + param1[0] + '&' + param1[1] + '&' + param1[2] + '?' + preparams[2];#}
                 {#console.log('Nouvelle URL Add =' + newUrl);#}
                 {#linkNew.attr('href', newUrl);#}
             {#}#}
         {#}#}

         {#function editbuttons() {#}
             {#$('a.action-edit').each(function () {#}

                 {#console.log($(this));#}

                 {#let currentLink = $(this).attr('href');#}
                 {#let preparams = currentLink.split('?');#}
                 {#let httpBase = preparams[0];#}
                 {#let param1 = preparams[1].split('&');#}

                 {#let newUrl = httpBase + '?' + param1[0] + '&' + param1[1] + '&' + param1[2] +#}
                     {#'&' + param1[3] + '?' + preparams[2];#}

                 {#console.log('New URL edit: ' + newUrl);#}
                 {#$(this).attr('href', newUrl);#}
             {#});#}
         {#}#}

         {#$(function () {#}
             {#setTimeout(function () {#}
                 {#newAdd();#}
                 {#editbuttons();#}
             {#}, 3000);#}
         {#});#}
     {#</script>#}
 {#{% endblock body_javascript %}#}