{% trans_default_domain 'admin' %}

{% if type is same as('edit') %}
    {% if object == 'adherent' %}
        {% set dataStr = data.firstname~' '~data.lastname %}
    {% elseif object == 'carrier' %}
        {% set dataStr = data.label %}
    {% elseif object == 'category' %}
        {% set dataStr = data.name %}
    {% elseif object == 'charge' %}
        {% set dataStr = data.reference~' - '~data.name %}
    {% elseif object == 'chargeType' %}
        {% set dataStr = data.type %}
    {% elseif object == 'client' %}
        {% set dataStr = data.companyName %}
    {% elseif object == 'clientContact' %}
        {% set dataStr = data.firstname~' '~data.lastname %}
    {% elseif object == 'clientContactFunction' %}
        {% set dataStr = data.function %}
    {% elseif object == 'contract' %}
        {% set dataStr = data.reference %}
    {% elseif object == 'discipline' %}
        {% set dataStr = data.name %}
    {% elseif object == 'document' %}
        {% set dataStr = data.reference %}
    {% elseif object == 'documentType' %}
        {% set dataStr = data.type %}
    {% elseif object == 'event' %}
        {% set dataStr = data.startAt|date('d/m/Y')~' '~data.endAt|date('d/m/Y') %}
    {% elseif object == 'eventLocation' %}
        {% set dataStr = data.label %}
    {% elseif object == 'eventObject' %}
        {% set dataStr = data.label %}
    {% elseif object == 'eventScale' %}
        {% set dataStr = data.id %}
    {% elseif object == 'eventType' %}
        {% set dataStr = data.type %}
    {% elseif object == 'familySituation' %}
        {% set dataStr = data.situation %}
    {% elseif object == 'fiscalYear' %}
        {% set dataStr = data.name %}
    {% elseif object == 'invoice' %}
        {% set dataStr = data.reference %}
    {% elseif object == 'organization' %}
        {% set dataStr = data.name %}
    {% elseif object == 'page' %}
        {% set dataStr = data.name %}
    {% elseif object == 'patient' %}
        {% set dataStr = data.firstname~' '~data.lastname %}
    {% elseif object == 'patientSheet' %}
        {% set dataStr = data.name %}
    {% elseif object == 'patientType' %}
        {% set dataStr = data.type %}
    {% elseif object == 'payment' %}
        {% set dataStr = data.reference %}
    {% elseif object == 'paymentCondition' %}
        {% set dataStr = data.label %}
    {% elseif object == 'paymentType' %}
        {% set dataStr = data.type %}
    {% elseif object == 'person' %}
        {% set dataStr = data.firstname~' '~data.lastname %}
    {% elseif object == 'personCollaborator' %}
        {% set dataStr = data.firstname~' '~data.lastname %}
    {% elseif object == 'post' %}
        {% set dataStr = data.title %}
    {% elseif object == 'product' %}
        {% set dataStr = data.name %}
    {% elseif object == 'paymentType' %}
        {% set dataStr = data.type %}
    {% elseif object == 'quotation' %}
        {% set dataStr = data.id %}
    {% elseif object == 'quote' %}
        {% set dataStr = data.reference %}
    {% elseif object == 'slider' %}
        {% set dataStr = data.name %}
    {% elseif object == 'stock' %}
        {% set dataStr = data.id %}
    {% elseif object == 'timeslot' %}
        {% set dataStr = data.startAt|date('d/m/Y')~' '~data.endAt|date('d/m/Y') %}
    {% elseif object == 'user' %}
        {% set dataStr = data.firstname~' '~data.lastname %}
    {% elseif object == 'workflow' %}
        {% set dataStr = data.name %}
    {% endif %}
{% endif %}

{% set objectTitle =  type is same as('edit') ? '<span class="modifiedLabel">'~dataStr~'</span><br>':'<br>' %}
{{ parent|raw }} {{ type is same as('edit') ? ':':'' }}{{ objectTitle|raw }}

{% set subtitlePart1 = '' %}
{% if type is same as('new') %}
    {% set subtitlePart1 = 'admin.'~type~'.subtitle.small.header' %}
{% elseif type is same as('edit') %}
    {% set subtitlePart1 = 'admin.'~type~'_detail.subtitle.small.header.'~type %}
{% elseif type is same as('edit_detail') %}
    {% set subtitlePart1 = 'admin.'~type~'.subtitle.small.header.detail' %}
{% elseif type is same as('index') %}
    {% set subtitlePart1 = 'admin.'~type~'.subtitle.small.header' %}
{% endif %}

{% set subtitlePart2 = type is same as('edit') ? 'admin.'~type~'_detail.subtitle.small.content.'~object ?
    type is same as('edit_detail')  : 'admin.'~type~'.subtitle.small.content.'~object : 'admin.'~type~'.subtitle.small.content.'~object %}

{# subtitlePart3 uniquement si edit #}
{% if type is same as('edit') %}
    {% set subtitlePart3 = ' [' ~ edit_form.vars.data.id ~']' %}
{% endif %}
<small>
    {{ subtitlePart1|raw|trans }} {{ subtitlePart2|raw|trans }} {{ type is same as('edit') ? subtitlePart3|trans :'' }}
</small>
<hr>