{% trans_default_domain 'admin' %}

<button class="btn btn-secondary">
    <a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-ban"></i>
        {{ 'admin.action.cancel.label'|trans }}
    </a>
</button>

{% for action in entity.actions %}
    {{ include(action.templatePath, { action: action }, with_context = false) }}
{% endfor %}