{% extends 'base.html.twig' %}

{% block title %}{{ 'orderSuccess.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-order-success" class="container">
        <h2>{{ 'orderSuccess.headTitle'|trans }}</h2>

        {% set txt = null %}
        {% if app.request.locale == 'fr' %}
            {% set txt = "<p>Bonjour <strong>"~order.user.firstname~" "~order.user.lastname~" </strong>,<br><br>

        Nous vous remercions pour votre commande n° <strong>"~order.reference~"</strong>.<br/>
        Une confirmation vient de vous être envoyée par email à l'adresse <strong> "~order.user.email~"</strong>.
        <br><br>
        Votre commande sera livrée par <strong>"~order.carrierName~" </strong> à cette adresse :<br><br><b>"~order.delivery|raw~"
        </b><hr>

        Pour suivre votre commande, rendez-vous dans votre  <strong><a href="~path('account_order')~">compte</a>.</p>" %}

        {% elseif app.request.locale == 'en' %}
            {% set txt = "<p>Hello <strong>"~order.user.firstname~" "~order.user.lastname~" </strong>,<br><br>

        We thank you for your order n°<strong>"~order.reference~"</strong>. <br>
        A confirmation has just been sent to you by email at the address<strong>"~order.user.email~" </strong>.
        <br><br>
        Your order will be delivered by <strong>"~order.carrierName~" </strong> toward this address :<br><br><b>"~order.delivery|raw~"
        </b><hr>

        To track your order, go to your <strong><a href="~path('account_order')~">account</a>.</p>" %}
        {% endif %}

        {{ txt|raw }}
    </section>

{% endblock %}
