{% set comments = patient.comments %}

{% if comments|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Date de création</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                <td>{{ comment.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucune note de commentaire enregistrée pour le moment.
{% endif %}
