<fieldset>
    <legend>Coordonnées téléphoniques & électroniques</legend>
    <table class="table table-bordered">
        <tr>
            <th width="20%">N° de téléphone</th>
            <td><a href="tel:{{ patient.phoneNumber }}">{{ patient.phoneNumber }}</a></td>
        </tr>
        <tr>
            <th>Adresse électronique</th>
            <td>{{ patient.email }}</td>
        </tr>
    </table>
</fieldset>

<fieldset style="min-height: 350px;">
    <legend>Adresse postale</legend>
    <div class="row">
        <div class="col-md-3">
            {{ patient.street }}<br>
            {{ patient.zipcode }} {{ patient.city }}<br>
            {{ patient.country }}
        </div>
        <div class="col-md-9">
            <div id="patientMap" style="width: 400px;height: 300px;border-radius: 4px"></div>
        </div>
    </div>

</fieldset>