{% set documents = patient.documents %}

{% if documents|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Type de document</th>
            <th>Date de création</th>
            <th>Document scanné</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ loop.index }} - <i class="fa fa-file"></i> {{ document.type }}</td>
                <td>{{ document.createdAt|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="/uploads/documents/{{ document.doctPdf }}" title="Télécharger le document"
                       download="{{ 'now'|date('Ymd')~'_'~document.doctPdf }}">
                        {{ document.doctPdf }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    Aucun document enregistré pour le moment.
{% endif %}
