{% set events = patient.events %}

<div style="float: right;margin-bottom: 5px;">
    <!-- Ajouter un rendez-vous -->
    <button class="btn btn-sm btn-default addPatientEvent" data-idpatient="{{ patient.id }}"
            title="Ajouter un rendez-vous">
        <i class="fa fa-plus-circle"></i> Ajouter une séance
    </button>

    <!-- Créer une facture -->
    <a class="btn btn-sm btn-default" style="display: none;" data-ids="" id="addInvoice" href="#"
       title="Créer une facture">
        <i class="fa fa-plus-circle"></i> Créer une facture | <span id="countItems"></span>
    </a>
</div>

<div class="clearfix"></div>

{% if events|length %}

    {% if patient.invoices|length != 0 %}
        <fieldset>
            <legend>{{ patient.invoices|length > 0 ? patient.invoices|length~' facture(s) créée(s)': ' facture créée' }}</legend>
            <table class="table">
                <thead>
                <tr>
                    <th>Référence facture</th>
                    <th>Montant total facture</th>
                    <th>Séances facturées</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in patient.invoices %}
                    <tr data-id="{{ invoice.id }}">
                        <td>{{ invoice.reference }}</td>
                        <td align="right">{{ (invoice.amountHT/100)|number_format(2,',','.') }} €</td>
                        <td>
                            <ul>
                                {% for event in invoice.events %}
                                    <li>{{ event }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {# download in navigator #}
                            <a class="btn btn-sm" href="{{ path('patient_events_invoice_generatepdf', {id: invoice.id}) }}"
                            title="Générer la facture en PDF">
                                <i class="fa fa-file-pdf-o"></i>
                            </a>
                            {# create + send #} {#  #}
                            <a class="btn btn-sm sendPatientInvoice" href="#" title="Envoyer la facture au patient">
                                <i class="fa fa-send-o"></i>
                                {% include '_partials/_loaderMiniBtnSave.html.twig' with {object:invoice.id} %}
                            </a>
                                {#<small><input type="checkbox" name="bcc" id="bcc" title="Copie de contrôle d'envoi"></small>#}

                            {# annuler la facture #}
                            <a class="btn btn-sm" href="#" title="Envoyer la facture au patient à <br> {{ invoice.patient.email }}">
                                <i class="fa fa-ban" title="Annuler la facture"></i>
                            </a>
                        </td>
                        <td>
                            {% if invoice.sendAt %}
                                <em>Facture déjà envoyée au patient le {{ invoice.sendAt|date('d/m/Y') }} à {{ invoice.sendAt|date('H:i') }}</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    {% endif %}
    <div class="patientBodyEvents">
        {% include 'admin/patient/detail/tabs/event/_table.html.twig' %}
    </div>
{% else %}
    <div class="patientBodyEvents">
        Aucune séance enregistrée pour le moment.
    </div>
{% endif %}
