<small style="display: block;width: 100%;background: #FFF">Créé le {{ patient.createdAt|date('d/m/Y') }}
<span style="float: right;font-weight: bold;">Rôle utilisateur: {{ patient.user.roles[0] == 'ROLE_PATIENT' ? 'Patient':'' }}</span>
</small>

<table class="table table-bordered">
    <tr>
        <th width="20%">Référence</th>
        <td>{{ patient.reference }} - {{ patient }}</td>
    </tr>
    <tr>
        <th>Type de patient</th>
        <td>{{ patient.type }}</td>
    </tr>
    <tr>
        <th>Date de naissance</th>
        <td>
            {{ patient.birthdate|date('Y-m-d')|format_datetime('full', 'none', locale='fr') }} -
            {{ patient.birthdate|age }} ans
        </td>
    </tr>
    <tr>
        <th>Situation familiale</th>
        <td>
            {{ patient.familySituation }}
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <th width="20%">Nombre de séances réalisées</th>
        <td>{{ patient.events|length }}</td>
    </tr>

    <tr>
        <th width="20%">Nombre de séances à venir</th>
        <td>{{ patient.events|length }} - A définir</td>
    </tr>

    <tr>
        <th width="20%">Date de la dernière séance</th>
        <td>A définir</td>
    </tr>

    <tr>
        <th width="20%">Date de la prochaine séance</th>
        <td>A définir</td>
    </tr>
</table>