{% set invoices = patient.invoices %}

{% if invoices|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Référence facture</th>
            <th>Date de création</th>
            <th>Désignation</th>
            <th>Montant</th>
            <th colspan="2">Document PDF</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.reference}}</td>
                <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                {#<td>{{ invoice.invoiceDetails is not null ? invoice.invoiceDetails[0]:'' }}</td>#}
                <td></td>
                <td>{{ ((invoice.amountHT) / 100)|number_format(2,',','.') }} €</td>
                <td>
                    <button class="btn btn-sm btn-default">
                        {#<a href="{{ path('patient_event_invoice', {id:invoice.id}) }}"#}
                           {#title="Générer la facture">#}
                            {#<i class="fa fa-file-pdf"></i> Générer la facture#}
                        {#</a>#}
                    </button>
                </td>
                <td>
                    <button class="btn btn-sm btn-default">
                        <a href="#"
                           title="Envoyer par mail la facture">
                            <i class="fa fa-send-o"></i> Envoyer la facture
                        </a>
                    </button>
                </td>
            </tr>
            {% set total = total + invoice.amountHT  %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" align="right">Total: </td>
            <td>{{ (total/ 100)|number_format(2,',','.') }} €</td>
            <td colspan="2"></td>
        </tr>
        </tfoot>
    </table>
{% else %}
    Aucune facture enregistrée pour le moment.
{% endif %}
