{% set payments = patient.payments %}

{% if payments|length %}
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Référence du paiement</th>
            <th>Date de création</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for payment in payments %}
            <tr>
                <td>{{ payment.reference}}</td>
                <td>{{ payment.createdAt|date('d/m/Y') }}</td>
                <td align="right">{{ payment.amount|number_format(2,',','.') }} €</td>
            </tr>
            {% set total = total + payment.amount  %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" align="right">Total: </td>
            <td align="right">{{ total|number_format(2,',','.') }} €</td>
        </tr>
        </tfoot>
    </table>
{% else %}
    Aucun paiement enregistré pour le moment.
{% endif %}
