<table class="table table-bordered">
    <tr>
        <th width="20%">Identifiant de connexion</th>
        <td>{{ patient.user.email }}</td>
    </tr>
    <tr>
        <th>Mot de passe crypté</th>
        <td>{{ patient.user.password }}</td>
    </tr>
    <tr>
        <th>Rôle utilisateur</th>
        <td>{{ patient.user.roles[0] == 'ROLE_PATIENT' ? 'Patient':'' }}</td>
    </tr>
</table>