<table class="table table-bordered">
    <tr>
        <th>Public</th>
        <td>{{ product.audience }}</td>
    </tr>
    <tr>
        <th>Effetif</th>
        <td>{{ product.effective }}</td>
    </tr>
    <tr>
        <th>Objectif</th>
        <td>{{ product.goal|raw }}</td>
    </tr>
    <tr>
        <th>Programme</th>
        <td>{{ product.program|raw }}</td>
    </tr>
    <tr>
        <th>Méthode</th>
        <td>{{ product.method|raw }}</td>
    </tr>
    <tr>
        <th>Moyens</th>
        <td>{{ product.means|raw }}</td>
    </tr>
    <tr>
        <th>Evaluation</th>
        <td>{{ product.evaluation }}</td>
    </tr>
    <tr>
        <th>Validation</th>
        <td>{{ product.validation }}</td>
    </tr>
    <tr>
        <th>Durée</th>
        <td>{{ product.duration }}</td>
    </tr>
    <tr>
        <th>Planning</th>
        <td>{{ product.planification }}</td>
    </tr>
    <tr>
        <th>Lieu</th>
        <td>{{ product.location }}</td>
    </tr>
</table>