{% if product.productDays|length %}
    <div class="row" id="detailProductDays">
        <div class="col-md-2 mb-3">
            <ul class="nav nav-tabs nav-fill flex-column" id="myTab" role="tablist">
                {% for day in product.productDays %}
                    <li class="nav-item">
                        <a class="nav-link {{ loop.first ? 'active': '' }}" id="day{{ day.id }}-tab" data-toggle="tab" href="#day{{ day.id }}" role="tab" aria-controls="day{{ day.id }}" aria-selected="true">{{ day.reference }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-10">
            <div class="tab-content" id="myTabContent">
                {% for day in product.productDays %}
                    <div class="tab-pane fade show {{ loop.first ? 'active': '' }}" id="day{{ day.id }}" role="tabpanel" aria-labelledby="day{{ day.id }}-tab">
                        <h2>{{ day.reference }}</h2>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>N° jour</th>
                                <th>Objectif</th>
                                <th>Contenu</th>
                                <th>Méthodes et moyens</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>{{ day.reference }}</th>
                                <td>{{ day.goal|raw }}</td>
                                <td>{{ day.content|raw }}</td>
                                <td>{{ day.methodMeans|raw }}</td>
                            </tr>
                            <tr>
                                <th>Programme du {{ day.reference }}</th>
                                <td colspan="3">{{ day.program|raw }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.col-md-8 -->
    </div>

{% else %}
    Aucun jour de formation ajouté pour le moment.
{% endif %}