<table class="table table-bordered">
    <tr>
        <th>Description</th>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <th>Affichage du prix</th>
        <td>{{ product.isPriceShow }}</td>
    </tr>
    <tr>
        <th>Formation disponible</th>
        <td>{{ product.isAvailable }}</td>
    </tr>
    <tr>
        <th>Formation best</th>
        <td>{{ product.isBest }}</td>
    </tr>
    <tr>
        <th>Détail de formation</th>
        {#<td>{{ product.productDetails }}</td>#}
        <td>*** détail formation ***</td>
    </tr>
</table>