{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {{ parent() }}<br>
    <small>{{ 'admin.index.subtitle.small'|trans~' '~'admin.index.subtitle.small.content.connexion'|trans }}.</small>
    <hr>
{% endblock %}
