<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-info-circle"></i> Informations de base</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pedagogic-tab" data-toggle="tab" href="#pedagogic" role="tab"
           aria-controls="pedagogic" aria-selected="false"><i class="fa fa-file-pdf-o"></i> Fiche pédagogique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="days-tab" data-toggle="tab" href="#days" role="tab"
           aria-controls="days" aria-selected="false">
            <i class="fa fa-calendar-alt"></i> {{ ea.entity.instance.productDays|length != 0 ?
            ea.entity.instance.productDays|length~' jour(s) de formation' :'Jours de formation'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="days" aria-selected="false">
            <i class="fa fa-file-pdf"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="frontDetails-tab" data-toggle="tab" href="#frontDetails" role="tab"
           aria-controls="frontDetails" aria-selected="false"><i class="fa fa-cogs"></i> Paramétrage vitrine</a>
    </li>
</ul>

{{ form_start(object) }}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(object.category) }}
                {{ form_row(object.name) }}
                {{ form_row(object.price) }}
                {{ form_row(object.isEnabled) }}
                {{ form_row(object.slug) }}
                {{ form_row(object.hourDuration) }}
                {{ form_row(object.maxAdherents) }}
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pedagogic" role="tabpanel" aria-labelledby="profile-tab">
        {{ form_row(object.audience) }}
        {{ form_row(object.effective) }}
        {{ form_row(object.goal) }}
        {{ form_row(object.program) }}
        {{ form_row(object.method) }}
        {{ form_row(object.means) }}
        {{ form_row(object.evaluation) }}
        {{ form_row(object.validation) }}
        {{ form_row(object.duration) }}
        {{ form_row(object.planification) }}
        {{ form_row(object.location) }}
    </div>
    <div class="tab-pane fade" id="days" role="tabpanel" aria-labelledby="days-tab">
        {{ form_row(object.productDays) }}
    </div>
    <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        {{ form_row(object.documents) }}
    </div>
    <div class="tab-pane fade" id="frontDetails" role="tabpanel" aria-labelledby="frontDetails-tab">
        {{ form_row(object.subtitle) }}
        {{ form_row(object.description) }}
        {{ form_row(object.isPriceShow) }}
        {{ form_row(object.isAvailable) }}
        {{ form_row(object.isBest) }}
        {{ form_row(object.productDetails) }}
    </div>
</div>
{{ form_end(object) }}