{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% trans_default_domain 'admin' %}

{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/libs/summernote-0.8.16-dist/summernote-bs4.css') }}">
{% endblock %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with { parent:parent(), type:'new', object: 'product' } %}
{% endblock %}

{% block page_actions %}
    {% include 'admin/_partials/_page_actions.html.twig' %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block new_form %}
            {% include 'admin/product/_form.html.twig' with {object: new_form} %}
        {% endblock new_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
    <script src="{{ asset('assets/libs/summernote-0.8.16-dist/summernote-bs4.js') }}"></script>

    <script>
        $(function(){
            $('.summernote').summernote();
            $('.field-collection-add-button').on('click', function(){
                $('.summernote').summernote();
            });
        });
    </script>
{% endblock %}