<div style="background-color: {{ field.value.bgColor }};width: 50px;height: 20px;border-radius: 4px;
        border:1px solid grey;text-align: center; line-height: 12px;">
    <span style="color:{{ field.value.ftColor }}; font-size: 10px;">Texte</span>
</div>
<div>{{ field.value.workflow.name }}</div>