{% set product = entity.instance %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="base-tab" data-toggle="tab" href="#base" role="tab"
           aria-controls="base" aria-selected="true"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pedagogicSheet-tab" data-toggle="tab" href="#pedagogicSheet" role="tab"
           aria-controls="pedagogicSheet" aria-selected="false">
            <i class="fa fa-edit"></i> Fiche pédagogique
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="productDays-tab" data-toggle="tab" href="#productDays" role="tab"
           aria-controls="productDays" aria-selected="false">
            <i class="fa fa-calendar-alt"></i> {{ ea.entity.instance.productDays|length != 0 ?
            ea.entity.instance.productDays|length~' jour(s) de formation' :'Jours de formation'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
           aria-controls="documents" aria-selected="false">
            <i class="fa fa-download"></i> {{ ea.entity.instance.documents|length != 0 ?
            ea.entity.instance.documents|length~' document(s)' :'Documents'  }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab"
           aria-controls="setting" aria-selected="false">
            <i class="fa fa-cogs"></i> Paramétrage vitrine
        </a>
    </li>
</ul>

{# TAB content #}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="base" role="tabpanel" aria-labelledby="base-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/product/detail/tabs/_info.html.twig' %}
            </div>
        </div>
    </div>

    <div class="tab-pane fade show" id="pedagogicSheet" role="tabpanel" aria-labelledby="pedagogicSheet-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/product/detail/tabs/_pedagogicSheet.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="productDays" role="tabpanel" aria-labelledby="productDays-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/product/detail/tabs/_productDays.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/product/detail/tabs/_document.html.twig' %}
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="setting" role="tabpanel" aria-labelledby="setting-tab">
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/product/detail/tabs/_setting.html.twig' %}
            </div>
        </div>
    </div>
</div>