{% extends 'base.html.twig' %}

{% block title %}{{ 'orderAdd.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-order-add" class="container">
        <h2>{{ 'orderAdd.headTitle'|trans }}</h2>
        <p>{{ 'orderAdd.subtitle'|trans }}.</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <strong>{{ 'orderAdd.address.label'|trans }}</strong><br>
                <div class="form-check mt-4">
                    {{ delivery|raw }}
                </div>
                <hr>
                {#<strong>{{ 'orderAdd.carrier.label'|trans }}</strong><br>#}
                {#<div class="form-check">#}
                    {#{{ carrier.name }}<br>#}
                    {#{{ carrier.description }}<br>#}
                    {#{{ (carrier.price/100)|number_format(2,',','.') }} €#}
                {#</div>#}
            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <b>{{ 'orderAdd.order.label'|trans }}</b>
                </div>
                <div class="order-summary">
                    {% set total = null %}
                    {% for key, product in cart %}
                        <div class="row {% if key > 0 %}mt-2{% endif %}">
                            <div class="col-12 my-auto">
                                <a target="_blank" title="{{ 'orderAdd.order.product.a.label'|trans }}"
                                   href="{{ path('product',{slug:product.product.slug}) }}">{{ product.product.name }}</a><br>
                                <small><em>{{ product.product.subtitle }}</em>
                                    <br>
                                    x {{ product.quantity }}
                                </small>
                            </div>
                            <div class="col-2 my-auto">
                                {{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €
                            </div>
                        </div>
                        {% set total = total + (product.product.price * product.quantity) %}
                    {% endfor %}
                </div>

                <hr>
                <div class="float-right">
                    <table>
                        <tr>
                            <th>{{ 'orderAdd.subTotal'|trans }}:</th>
                            <td align="right">{{ (total / 100)|number_format(2,',','.') }} €</td>
                        </tr>
                        {#<tr>#}
                            {#<th>{{ 'orderAdd.deliveryMode'|trans }}:</th>#}
                            {#<td align="right">{{ (carrier.price/100)|number_format(2,',','.') }} €</td>#}
                        {#</tr>#}
                        {#<tr>#}
                            {#<th>{{ 'orderAdd.total'|trans }}:</th>#}
                            {#<td align="right">{{ ((total / 100) + (carrier.price/100))|number_format(2,',','.') }}€#}
                            {#</td>#}
                        {#</tr>#}
                    </table>
                </div>

                <div class="clearfix"></div>
                <a id="checkout-button" class="btn btn-sm btn-block btn-success mt-3">
                    {#{{ 'orderAdd.payment.button.label'|trans }} | {{ ((total / 100) +#}
                    {#(carrier.price/100))|number_format(2,',','.') }} €#}
                    {{ 'orderAdd.payment.button.label'|trans }} | {{ (total / 100) }} €
                </a>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src = "https://js.stripe.com/v3/" ></script>

    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        // var stripe = Stripe("pk_test_51HhMWDDpujeXXyzI2dEh8PZKWiTmyX5dxnDOhHR0G8bgOsCty5E13wDURWuB3b3MGU6ST3Tgkw8B4iqaPPiswJ4h00BCxdG4vA");
        var stripe = Stripe("{{ stripePublicKey }}");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/{{ app.request.locale }}/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {

                    if (session.error == 'order') {
                        //redirection
                        window.location.replace('{{ path('order') }}');
                    } else {
                        return stripe.redirectToCheckout({sessionId: session.id});
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}