{% extends 'base.html.twig' %}

{% block title %}{{ 'order.title'|trans }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-order" class="container">
        <h2>{{ 'order.headTitle'|trans }}</h2>
        <p>{{ 'order.subtitle'|trans }}.</p>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <b>{{ 'order.summary'|trans }}</b>
                    <p>{{ 'order.summary_label'|trans }}.</p>
                </div>
                <div class="order-summary">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="350px">Désignation</th>
                            <th width="100px">Quantité</th>
                            <th width="100px">Prix unitaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, product in cart %}
                            <tr>
                                <td>
                                    <a target="_blank" title="Ouvrir la fiche du produit dans un nouvel onglet"
                                       href="{{ path('product',{slug:product.product.slug}) }}">{{ product.product.name }}</a><br>
                                    <small><em>{{ product.product.subtitle }}</em></small>
                                </td>
                                <td align="center">x {{ product.quantity }}</td>
                                <td align="right">{{ (product.product.price/100)|number_format(2,',','.') }} €</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-6">
                {% set uniqueAddressHtml %}
                    <fieldset>
                        <legend>Votre adresse de facturation</legend>
                        {{ app.user.addresses[0] }}
                    </fieldset>
                {% endset %}

                {% set formHtml %}
                <fieldset>
                    <legend>Votre adresse de facturation</legend>
                    {{ form_start(form, {action:path('order_recap')}) }}
                    {#{{ form_label(form.addresses, 'order.form.carrier.addresses.choice_label'|trans) }}#}
                    <a style="float: right;" href="{{ path('account_address_add') }}">{{ 'order.a.carrier.address.add'|trans }}</a>

                    {{ form_widget(form.addresses) }}
                    <div class="text-center" style="margin-top: 15px">
                        <button class="btn btn-success btn-sm btn-block">{{ 'order.form.submitButton.label'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </fieldset>
                {% endset %}

                {#{{ dump(app.user.addresses|length) }}#}
                {% if app.user.addresses|length == 1 %}

                    {{ uniqueAddressHtml|replace({'[br]':'<br/>'})|raw }}
                    <a style="float: right;" href="{{ path('account_address_add') }}">{{ 'order.a.carrier.address.add'|trans }}</a>

                {% else%}
                    {{ formHtml|replace({'[br]':'<br/>', '[b]': '<b>','[/b]':'</b>'})|raw }}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
