{% extends 'base.html.twig' %}

{% block title %}{{ appName~'|Page introuvable' }}{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Page introuvable</h2>
        <p>Désolé, cette page n'existe pas.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div>
{% endblock %}
