<table class="table table-bordered table-striped table-hover" id="patientEvents">
    <thead>
    <tr>
        <th align="center"><input id="allSelected" type="checkbox"></th>
        <th>{{ events|length }} séances</th>
        <th>Prestation</th>
        <th>Date de facturation</th>
        <th>Tarif appliqué</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody data-patient="{{ patient.id }}">
    {% set total=0 %}
    {% for event in events %}
        <tr data-id="{{ event.id }}">
            <td align="center"><input type="checkbox"></td>
            <td>{{ loop.index }} - <i class="fa fa-calendar-alt"></i>
                Le {{ event.startAt|date('Y-m-d H:i')|format_datetime('full', 'none', locale='fr') }}
                de {{ event.startAt|date('Y-m-d H:i')|format_datetime('none', 'short', locale='fr') }}
                à {{ event.endAt|date('Y-m-d H:i')|format_datetime('none', 'short', locale='fr') }}
            </td>
            <td>{{ event.type.shortType }}</td>
            <td>{{ event.invoice and event.invoice.sendAt  ? event.invoice.sendAt|date('d/m/Y H:i'):'Non facturée' }}</td>
            <td align="right">{{ (event.price/ 100)|number_format(2,',','.') }} €</td>
            <td>
                <a href="#" class="editPatientEvent"><i class="fa fa-edit"></i></a>
                <a href="#" class="deletePatientEvent"><i class="fa fa-trash"></i></a>
                <a href="#" class="addEventPayment"><i class="fa fa-euro"></i></a>
            </td>
        </tr>
        {% set total=total + event.price %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr style="font-weight: bold;">
        <td colspan="4"></td>
        <td align="right" style="padding: 2px;">{{ (total/100)|number_format(2,',','.') }} €</td>
        <td></td>
    </tr>
    </tfoot>
</table>