Bonjour {{ invoice.patient }}, <br><br>

Veuillez trouver ci-joint la facture réf. {{ invoice.reference }} d'un montant de {{ (invoice.amountHT / 100)|number_format(2,',','.') }} € afin de la transmettre à votre mutuelle.
<br><br>
Vous en souhaitant bonne réception.
<br><br>
Bien cordialement,<br>
Gwénaëlle Brassart <br>
{{ invoice.organization.name }}<br>
{{ invoice.organization.phoneNumber }}