{{ form_start(object) }}
<div class="row">
    <div class="col-md-12">
        {{ form_row(object.person) }}
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(object.startAt) }}</div>
    <div class="col-md-4">{{ form_row(object.endAt) }}</div>
    <div class="col-md-4">
        {{ form_row(object.isAllDay) }}
        {{ form_row(object.isPeriodic) }}
        {{ form_row(object.isConfirmedByEmail) }}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">{{ form_row(object.status) }}</div>
</div>
{{ form_end(object) }}