{% set idTimeslot= timeslot is defined ? timeslot.id : '' %}
{% set required = form.vars.required ? '*' : '' %}

{#{{ form_start(form, { 'attr': {id: 'eventForm', 'data-type': 'event', 'data-id': idEvent }}) }}#}
{{ form_start(form, { 'attr': {id: 'timeslotForm', 'data-action': action, 'data-id': idTimeslot }}) }}

<div class="text-right">
    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-save"></i> Enregistrer</button>
    <button type="button" class="btn btn-default btn-sm cancel"><i class="fa fa-ban"></i> Annuler
    </button>
</div>
<div style="margin-top: 25px;">

    <div class="row">
        <div class="col-md-3">
            {#{{ form_label(form.type, 'Type de rendez-vous'~required) }}#}
            {#{{ form_widget(form.type) }}#}
        </div>
        <div class="col-md-3">
            {{ form_label(form.title, 'Titre du rendez-vous'~required) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="col-md-3">
            {#{{ form_label(form.object, 'Objet du rendez-vous'~required) }}#}
            {#{{ form_widget(form.object) }}#}
        </div>
        <div class="col-md-3">
            {#{{ form_label(form.location, 'Lieu du rendez-vous'~required) }}#}
            {#{{ form_widget(form.location) }}#}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_label(form.startAt, 'Date de début'~required) }}
            {{ form_widget(form.startAt) }}
            {{ form_label(form.endAt, 'Date de fin'~required) }}
            {{ form_widget(form.endAt) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.startAt_time, 'Heure de début'~required) }}
            {{ form_widget(form.startAt_time) }}
            {{ form_label(form.endAt_time, 'Heure de fin'~required) }}
            {{ form_widget(form.endAt_time) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.isAllDay, 'Toute la journée'~required) }}
            {{ form_widget(form.isAllDay) }}
            {{ form_label(form.isPeriodic, 'Périodique'~required) }}
            {{ form_widget(form.isPeriodic) }}
            {{ form_label(form.isConfirmedByEmail, 'Confirmé par email'~required) }}
            {{ form_widget(form.isConfirmedByEmail) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
