{% extends 'base.html.twig' %}

{% block title %}Agenda de {{ app.user.firstname~' '~app.user.lastname }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <section id="section-agenda">
        {% set url = ea_url()
            .setDashboard('App\\Controller\\Admin\\DashboardController') %}
        {#{% if is_granted('ROLE_ADMIN') %}#}
            <div class="row">
                <div class="col-md-12">
                    Vous êtes connecté an tant que <b>{{ app.user.firstname~' '~app.user.lastname }}</b>
                    <a style="float: right;" href="{{ url }}"><i class="far fa-arrow-alt-circle-left"></i> Retour vers le back office</a>
                </div>
            </div>
            <hr style="width: 100%;margin-bottom: 2px">
            <span style="color: purple; padding-left: 10px;">
                Amplitude horaire journalière : <b>8h - 17h</b> |
                Nombre d'activités proposées: <b>3</b> |
                Nombre d'ateliers créés : <b>10</b> - Nombre d'ateliers réalisés : <b>7</b> |
                Nombre total de participants : <b>32</b>
            </span>
            <hr style="width: 100%;margin-top: 2px">
        {#{% endif %}#}

        <div class="row">
            <div class="col-md-12">
                <div id="agenda-action-toolbar" class="btn-group" style="float: right;margin-top: 0">

                    <button title="Paramétrage" type="button" id="agendaSettings"
                            class="fc-button fc-button-primary">
                        <a href="{{ path('calendar_parameter_edit', {id:app.user.calendarParameter.id}) }}"><i
                                    class="fa fa-cogs"></i></a>
                    </button>

                    <button title="Recherche" type="button" id="eventSearchZone"
                            class="fc-button fc-button-primary">
                        <i class="fa fa-search"></i>
                    </button>

                    <button title="Afficher la liste des rendez-vous prédéfinis" type="button" id="addPredefinedEventBox"
                            class="fc-button fc-button-primary">
                        <i class="fa fa-list"></i>
                    </button>

                    <button title="Ajouter un rendez-vous" type="button" id="addEvent" class="fc-button fc-button-primary">
                        <i class="fa fa-plus-square"></i>
                    </button>

                    {# TODO: afficher la liste déroulante si count personColaborator au-moins égal à 1 #}
                    {% if persons|length > 1 %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <select name="" id="select-person-agenda" class="">
                                <option value="{{ app.user.agendaToken }}">Tous agendas <i class="fa fa-caret-down"></i>
                                </option>
                                {#{% for person in persons %}#}
                                {#<option value="{{ person.user.agendaToken }}">{{ person.firstname~' '~person.lastname }}</option>#}
                                {#{% endfor %}#}
                            </select>
                        {% endif %}
                    {% endif %}
                </div>

                <div id="divCalendar" style="display: none;">
                    <div id="calendar" data-id="{{ app.user.agendaToken }}"></div>
                </div>
            </div>
        </div>

    </section>
{% endblock content %}

{% block script %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('assets/libs/fullcalendar-4.3.1/core/main.js') }}"></script>
    <script src="{{ asset('assets/libs/fullcalendar-4.3.1/daygrid/main.js') }}"></script>
    <script src="{{ asset('assets/libs/fullcalendar-4.3.1/timegrid/main.js') }}"></script>
    <script src="{{ asset('assets/libs/fullcalendar-4.3.1/list/main.js') }}"></script>
    <script src="{{ asset('assets/libs/fullcalendar-4.3.1/interaction/main.js') }}"></script>

    <script src="{{ asset('assets/js/agenda.js') }}"></script>
{% endblock %}
