<div class="text-right">
    <button><i class="fa fa-edit"></i>Modifier</button>
</div>

<div class="row">
    <div class="col-md-4">Categorie: <b> {{ event.eventType }} </b></div>
    <div class="col-md-4">Objet: <b> {{ event.object }}</b></div>
    <div class="col-md-4">Lieu: <b> {{ event.location }} </b></div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12 event-description">Description: <br>
        <ul>
            {% if event.comments|length>0 %}
            {% for comment in event.comments %}
            <li>{{ comment.note|raw }}</li>
            {% endfor %}
            {% else %}
                <small>Aucune description pour le moment.</small>
            {% endif %}
        </ul>
    </div>
</div>
<ul class="nav nav-tabs" style="margin-top: 10px;">
    <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" href="#tab_adherents"><i class="icon-users"></i> Participants
            <span class="badge badge-info">{{ event.adherents|length }}</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_periodicity"><i class="icon-users"></i> Périodicité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab_options"><i class="icon-calendar-1"></i> Options</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tab_adherents">
        <div class="row">
            <div class="col">
                <p>Voici les participants pour cet atelier :</p>
                <ul>
                    {% if event.adherents|length>0 %}
                        {% for adherent in event.adherents %}
                            <li>{{ adherent.firstname~' '~adherent.lastname }} <small>New/Old</small></li>
                        {% endfor %}
                    {% else %}
                        <small>Aucun participant pour le moment.</small>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab_periodicity">
        <div class="row">
            <div class="col">
                <p>Voici ci-dessous le paramétrage de la périodicité</p>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="tab_options">
        <div class="row">
            <div class="col">
                <p>Voici ci-dessous les options liés à l'atelier</p>
            </div>
        </div>
    </div>
</div>