{{ form_start(object) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(object.civility) }}
        {{ form_row(object.firstname) }}
        {{ form_row(object.lastname) }}
        {{ form_row(object.isActive) }}
        {{ form_row(object.address) }}
        {{ form_row(object.phoneNumber) }}
        {{ form_row(object.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(object.description) }}
    </div>
</div>
{{ form_end(object) }}