{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% trans_default_domain 'admin' %}

{% block content_title %}
    {% include 'admin/_partials/_content_title.html.twig' with { parent:parent(), type:'new', object: 'page' } %}
{% endblock %}

{% block page_actions %}

    <button class="btn btn-secondary">
        <a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-ban"></i> Annuler</a>
    </button>
    {% for action in entity.actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}

{% block main %}
    <div class="crud-form">
        {% block new_form %}
            {% include 'admin/page/_form.html.twig' with {object: new_form} %}
        {% endblock new_form %}
    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/form-type-collection.js') }}"></script>
{% endblock %}